{% extends "base.html" %}
{% block contents %}
<h1>Has roto Liberateca</h1>
<p> En serio, la has roto, y sabemos quien ha sido. Estamos yendo a buscarte en estos momentos. Ten miedo. 

Bueno, puede que no hayas sido, pero sí parece que está roto (y bastante).

Mientras buscamos alguna forma elegante de solucionar el problema (lease chapuzas), puedes ir a estos sitios de series que nos caen bien: 

<a href="http://ezpoilertv.com">EspoilerTV</a>
<a href="http://eztv.it/showlist/">EZTV</a>
{% endblock %}
