<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{LANGUAGE_CODE}}" dir="{{LANGUAGE_BIDI|yesno:"rtl,ltr,ltr"}}">
<head>
	<title>{% block title %}{{ title|default:SITE_NAME }}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Stylesheets -->
    <link href="/static/" rel="stylesheet" type="text/css" />
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/static/css/jquery.colorbox.css" rel="stylesheet" type="text/css">
    <link href="/static/css/jquery.jgrowl.css" rel="stylesheet" type="text/css">
    <link href="/static/css/jquery.rating.css" rel="stylesheet" type="text/css">
    <link href="/static/css/jquery.bubblepopup.v2.3.1.css" rel="stylesheet" type="text/css">
    {% block extrastyle %}{% endblock %}
    <!-- Scripts -->
    <script type="text/javascript" src="/static/js/jquery-min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.colorbox.js"></script>
    <script type="text/javascript" src="/static/js/jquery.jgrowl.js"></script>
    <script type="text/javascript" src="/static/js/jquery.rating.js"></script>
    <script type="text/javascript" src="/static/js/jquery.bubblepopup.v2.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/petateca.js"></script>
    {% block extrascript %}{% endblock %}
</head>
<body>
<div class="hr clearfix dotted">&nbsp;</div>
{% block contents %}{% endblock %}
</body>
</html>
