<!DOCTYPE html>{% spaceless %} {% load i18n %} {% load avatar_tags %} {% load random_selection %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}{% endspaceless %}
<html lang="{{LANGUAGE_CODE}}" xml:lang="{{LANGUAGE_CODE}}">
<!-- Si estas viendo esto por ahi te interesa ver nuestro código: http://github.com/alabs/petateca -->
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{title|default:"Liberateca"}}{%endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
    {% block extrahead %}{% endblock %}
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/jquery.jgrowl.css" />
    <link rel="stylesheet" href="/static/css/jquery.rating.css" />
    <link rel="stylesheet" href="/static/css/jquery.qtip.css" />{% block extrastyle %}{% endblock %}
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Liberateca" />
</head>
<body>
    <!-- RIBBON -->
    <!-- img src="/static/images/ribbon.gif" id="ribbon" alt="peta" -->
    <div id="wrapper" class="container_12 clearfix">
    <header>
        <!-- Navigation Menu -->
        <nav id="header-wrapper">
        <a href="/"><img src="/static/images/logo.png" class="left" alt="liberateca" /></a>
        <div class="content" id="header">
            <ul class="main-pages left">
                <li class="kids">
                    <a class="" href="{% url serie_index %}">Series</a>
                    <ul>
                        <li><a href="{% url serie_index %}">Listado</a></li>
                        <li><a href="{% url sneak_links %}">Ver últimas</a></li>
                    </ul>
                </li>
                <li class="kids">
                    <a class="" href="/">Liberateca</a>
                    <ul>
                        <li><a href="{% url faq %}">FAQ</a></li>
                        <li><a href="http://liberateca.uservoice.com/">Sugerencias</a></li>
                        <li>Desarrolladores</li>
                        <li><a href="http://github.com/alabs/petateca/">Código</a></li>
                        <li><a href="{% url api %}">API</a></li>
                        <li><a href="http://listas.alabs.es/mailman/listinfo/liberateca-dev/">Lista de desarrollo</a></li>
                        <li>Redes</li>
                        <li><a href="http://twitter.com/liberateca">Twitter</a></li>
                        <li><a href="http://www.facebook.com/pages/Liberateca/155455614516791">Facebook</a></li>
                        <li>Legal</li>
                        <li><a href="{% url aviso-legal %}">Aviso legal</a></li>
                        <li><a href="{% url politica-privacidad %}">Política de privacidad</a></li>
                    </ul>
                </li>
        <li id="search_form">
              <form action="/search/" id="searchform">
                  <input id="search" name="q" onkeyup="search_lookup(this.value);" type="search" placeholder="Prueba con '{% any %}Futurama|Fringe|Dexter|House|Misfits|Breaking Bad{% endany %}'" autocomplete="off" required />
                <input class="button" type="submit" value="Ir" />
              </form>           
            <div id="suggestions"></div>
        </li>
    </ul>
        <ul class="main-pages right">
            {% if request.user.is_authenticated %}
                <li class="kids" id="user">
                {% url user_profile user_name=request.user.username as profile_user %}
                <a class="loggedin" href="{{ profile_user }}">
                    {% avatar request.user 30 %}
                    {{ request.user.username }}
                </a>
                    <ul>
                        <li><a href="{{ profile_user }}">{% trans "Ver perfil" %}</a></li>
                        <li><a class="avatar_change" href="/accounts/avatar/change/">Cambiar avatar</a></li>
                        <li><a href="{% url auth_password_change %}">Cambiar contraseña</a></li>
                    </ul>
                    <li class="kids">
                        <a href="/accounts/logout/">
                            <img class="nobottom" src="/static/images/system-shutdown.png" alt="Salir" title="Salir" />
                            Salir
                        </a>
                    </li>
                </li>
            {% else %}
            <li class="kids"> <a href="/accounts/register/">Registrarse</a>
            <li class="kids" id="topnav">  <a href="/accounts/login/" class="signin"><span>Acceder</span></a> 
                <fieldset id="signin_menu">
                    <form method="post" id="signin" action="/accounts/login/">
                    <label for="username">Usuario o correo</label>
                    <input id="username" name="username" value="" title="username" tabindex="4" type="text">
                    </p>
                    <p>
                        <label for="password">Contraseña</label>
                        <input id="password" name="password" value="" title="password" tabindex="5" type="password">
                    </p>
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <input class="button" value="Acceder" tabindex="6" type="submit">
                    <p class="forgot"> <a href="{% url auth_password_reset %}" id="resend_password_link">¿Has olvidado tu contraseña?</a> </p>
                    <p class="no-account"> <a href="/accounts/register/" id="no-account">¿No tienes una cuenta? Regístrate</a> </p>
                    </form>
                </fieldset>
            {% endif %}
            </ul>
                </div>

        </nav>
    </header>
    <div class="hr grid_12">&nbsp;</div>
    <div class="clear"></div>
    {% block contents %}{% endblock %}
    <div class="hr grid_12">&nbsp;</div>
    <div class="clear"></div>
    <!-- FOOTER -->
    <footer> 
        <span class="float">
            <a href="http://www.gnu.org/licenses/agpl.html">
                <img src="/static/images/badges/gpl-badge.png" alt="gpl" title="gpl" />
            </a>
            <a href="http://creativecommons.org/licenses/by-sa/3.0/es/">
                <img src="/static/images/badges/ccbysa-badge.png" alt="ccbysa" title="ccbysa" />
            </a>
            <a href="http://djangoproject.com/">
                <img src="/static/images/badges/django-badge.png" alt="django" title="django" />
            </a>
            <a href="http://github.com/alabs/petateca">
                <img src="/static/images/badges/github-badge.png" alt="github" title="github" />
            </a>
            <a href="http://twitter.com/liberateca">
                <img src="/static/images/badges/twitter-badge.png" alt="twitter" title="twitter" />
            </a>
        </span>
        <a class="float right" href="http://alabs.es">
            <img src="/static/images/alabs.png" title="alabs" alt="alabs" /> 
        </a>
    </footer>
</div>
<noscript>
        <div id="noscript-warning"> {{SITE_NAME}} funciona mejor con JavaScript activado.</div>
</noscript>    
    <!-- Scripts -->
    <script type="text/javascript" src="/static/js/jquery-min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.jgrowl.js"></script>
    <script type="text/javascript" src="/static/js/jquery.rating.js"></script>
    <script type="text/javascript" src="/static/js/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="/static/js/endless.js"></script>
    <script type="text/javascript" src="/static/js/endless_on_scroll.js" ></script>
    <script type="text/javascript" src="/static/js/jquery.ba-bbq.min.js" ></script>
    <script type="text/javascript" src="/static/js/petateca.js"></script>
    {% block extrascript %}{% endblock %}
</body>
</html>
