<!DOCTYPE html>{% spaceless %} {% load i18n %} {% load avatar_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}{% endspaceless %}
<html lang="{{LANGUAGE_CODE}}" xml:lang="{{LANGUAGE_CODE}}">
<!-- Si estas viendo esto por ahi te interesa ver nuestro código: http://github.com/alabs/petateca -->
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{title|default:"Liberateca"}}{%endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/jquery.colorbox.css" />
    <link rel="stylesheet" href="/static/css/jquery.jgrowl.css" />
    <link rel="stylesheet" href="/static/css/jquery.rating.css" />
    <link rel="stylesheet" href="/static/css/jquery.bubblepopup.v2.3.1.css" />{% block extrastyle %}{% endblock %}
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Liberateca" />
</head>
<body>
    <!-- RIBBON -->
    <img src="/static/images/ribbon.gif" id="ribbon">
    <div id="wrapper" class="container_12 clearfix">
    <header>
        <!-- Navigation Menu -->
        <nav id="header-wrapper">
        <a href="/"><img src="/static/images/logo.png" class="left" alt="liberateca" /></a>
        <div class="content" id="header">
            <ul class="main-pages">
                <li class="kids">
                    <a class="" href="{% url serie-index %}">Series</a>
                    <ul>
                        <li><a href="{% url serie-index %}">Listado</a></li>
                        <li><a href="{% url sneak_links %}">Ver últimas</a></li>
                    </ul>
                </li>
                <li class="kids"><a href="http://liberateca.uservoice.com/">Sugerencias</a></li>
                <li class="kids">
                    <a class="" href="http://github.com/alabs/petateca/">Desarrolladores</a>
                    <ul>
                        <li><a href="http://github.com/alabs/petateca/">Código</a></li>
                        <li><a href="{% url api %}">API</a></li>
                        <li><a href="http://listas.alabs.es/mailman/listinfo/liberateca-dev/">Lista de desarrollo</a></li>
                    </ul>
                </li>
                <li class="kids">
                    <a class="" href="/">Liberateca</a>
                    <ul>
                        <li><a href="{% url faq %}">FAQ</a></li>
                        <li>Redes</li>
                        <li><a href="http://twitter.com/liberateca">Twitter</a></li>
                        <li><a href="http://facebook.com/liberateca">Facebook</a></li>
                        <li>Legales</li>
                        <li><a href="{% url aviso-legal %}">Aviso legal</a></li>
                        <li><a href="{% url politica-privacidad %}">Política de privacidad</a></li>
                    </ul>
                </li>
        <li id="search_form">
              <form action="/search/" id="searchform">
                <div>
                  <input id="search" name="q" onkeyup="search_lookup(this.value);" type="text" autocomplete="off" required />
                </div>
              </form>           
            <div id="suggestions"></div>
        </li>
            {% if request.user.is_authenticated %}
                <li class="kids" id="user">
                {% avatar user 30 %}
                {% url user_profile user_name=request.user.username as profile_user %}
                <a href="{{ profile_user }}">{{ request.user.username }}</a>
                    <ul>
                        <li><a href="{{ profile_user }}">{% trans "Ver perfil" %}</a></li>
                        <li><a class="avatar_change" href="/accounts/avatar/change/">Cambiar avatar</a></li>
                        <li><a href="{% url auth_password_change %}">Cambiar contraseña</a></li>
                        <li><a href="{% url invitation_invite %}">Invitar</a></li>
                        <li><a class="" href="/accounts/logout/">Salir</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a id="header-join" href="/accounts/login/" class="login" onclick='parent.$.colorbox({href:"/accounts/login/"}); return false;'>{% trans "Acceder / Registrarse" %}</a></li>    
            {% endif %}
            </ul>
                </div>

        </nav>
    </header>
        <div class="hr grid_12">&nbsp;</div>
        <div class="clear"></div>
        {% block contents %}{% endblock %}
        <!-- FOOTER -->
        <p class="grid_11 footer clearfix">
        <div class="hr grid_12">&nbsp;</div>
        <div id="footer">
	</div>
    <br class="clear">
        <p class="grid_12 footer clearfix">
        <div class="hr grid_12">&nbsp;</div>
            <span class="float">
                <a href="http://qwibbledesigns.co.uk/"><b>QwibbleDesigns</b></a> |
                <a href="http://www.gnu.org/licenses/agpl.html"><b>GPL Affero</b></a> | 
                <a href="http://creativecommons.org/licenses/by-sa/3.0/es/"><b>CC-BY-SA</b></a> | 
                <a href="http://djangoproject.com/"><b>Django</b></a> |
                <a href="http://thetvdb.com/"><b>TheTVDB</b></a> |
                <a href="http://github.com/alabs/petateca"><b>GitHub</b></a> |
                <a href="http://twitter.com/liberateca"><b>Twitter</b></a> 
            </span>
            <a class="float right" href="http://alabs.es"><b>aLabs</b></a>
</div>
<noscript>
        <div id="noscript-warning"> {{SITE_NAME}} funciona mejor con JavaScript activado.</div>
</noscript>    
    <!-- Scripts -->
    <script type="text/javascript" src="/static/js/jquery-min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.colorbox.js"></script>
    <script type="text/javascript" src="/static/js/jquery.jgrowl.js"></script>
    <script type="text/javascript" src="/static/js/jquery.rating.js"></script>
    <script type="text/javascript" src="/static/js/jquery.bubblepopup.v2.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/petateca.js"></script>
    {% block extrascript %}{% endblock %}
</body>
</html>
