<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{LANGUAGE_CODE}}" dir="{{LANGUAGE_BIDI|yesno:"rtl,ltr,ltr"}}">
{% spaceless %}
{% load i18n %}
{% load compressed %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% endspaceless %}
<!-- Si estas viendo esto por ahi te interesa ver nuestro código: http://github.com/alabs/petateca -->
<head>
    <title>{% block title %}{{title|default:"Liberateca"}}{%endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <!-- Stylesheets -->
    {% compressed_css 'all' %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>
<body>
    <!-- RIBBON -->
    <img src="/static/images/ribbon.gif" border="0" width="150" height="150" style="position:absolute; right:0px; top:0px; margin:0px; padding:0px">
    <div id="wrapper" class="container_12 clearfix">
        <!-- Text Logo -->
        <div id="logo" class="grid_4">
            <img src="/static/images/logo.png" class="left" alt="liberateca" width="50" style="margin-top:2em;" />
            <h1 class="right" id="logo"><a href="/">{{SITE_NAME}}</a></h1>
            <span class="slogan meta right">Omnia Sunt Communia</span>
        </div>
        <!-- Navigation Menu -->
        <ul id="navigation" class="grid_8">
            {% if request.user.is_authenticated %}
                    <li><a href="/accounts/logout"><span class="meta">{% trans "cerrar sesión" %}</span><br />{% trans "SALIR" %}</a></li>
                    <li><a href="{% url get_user_public_profile user_name=request.user.username %}"><span class="meta">{{request.user.username}}</span><br />{% trans "PERFIL" %}</a></li>
                {% else %}
                    <li><a href="/accounts/login" class="login" onclick='parent.$.colorbox({href:"/accounts/login"}); return false;'><span class="meta">{% trans "iniciar sesión" %}</span><br />{% trans "ACCEDER" %}</a></li>    
            {% endif %}
            <li><a href="{% url faq %}"><span class="meta">{% trans "preguntas" %}</span><br />{% trans "FAQ" %}</a></li>
            <li><a href="{% url serie-index %}"><span class="meta">{% trans "todas las" %}</span><br />{% trans "SERIES" %}</a></li>
        </ul>
            <div id="search_form">
              <form action="/search/">
                      <fieldset>
                        <legend></legend>
                        <input id="query" type="text" name="q" value="{% trans "Busqueda" %}..." class="field" onblur="this.value='{% trans "Busqueda" %}...'" onfocus="this.value=''" />
                        <input type="submit" value="{% trans "Ir" %}" class="button" / >
                  </fieldset>
              </form>
            </div>
        <div class="hr grid_12">&nbsp;</div>
        <div class="clear"></div>
        {% block contents %}{% endblock %}
        <!-- FOOTER -->
        <p class="grid_11 footer clearfix">
        <div class="hr grid_12">&nbsp;</div>
        <div id="footer">
		<ul class="footerbox">
			<li class="footerbox first">
				<strong>Series</strong>
					<ul>
						<li><a href="{% url serie-index %}">Listado completo</a></li>
						<li><a href="{% url sneak_links %}">Ver ultimas</a></li>
					</ul>
			</li>
			<li class="footerbox">
				<strong>Participa</strong>
					<ul>
						<li><a href="http://liberateca.uservoice.com/">Sugerencias</a></li>
						<li><a href="http://listas.alabs.es/mailman/listinfo/liberateca-dev/">Lista de Correo</a></li>
					</ul>
			</li>
			<li class="footerbox">
				<strong>Desarrolladores</strong>
					<ul>
						<li><a href="http://github.com/alabs/petateca">Código</a></li>
						<li><a href="{% url api %}">API</a></li>
					</ul>
			</li>
			<li class="footerbox">
				<strong>Usuario</strong>
					<ul>
                {% if request.user.is_authenticated %}
						<li><a href="/accounts/logout/">Salir</a></li>
                        <li><a href="{% url get_user_public_profile user_name=request.user.username %}">{% trans "Ver perfil" %}</a></li>
						<li><a href="{% url auth_password_change %}">Cambiar contraseña</a></li>
						<li><a href="{% url invitation_invite %}">Invitar</a></li>
                    {% else %}
                        <li><a href="/accounts/login" class="login" onclick='parent.$.colorbox({href:"/accounts/login"}); return false;'>{% trans "Acceder" %}</a></li>    
                {% endif %}
					</ul>
			</li>
			<li class="footerbox">
				<strong>Ayuda</strong>
					<ul>
						<li><a href="{% url faq %}">FAQ</a></li>
					</ul>
			</li>
		</ul>
<br class="clear">
	</div>
        <p class="grid_12 footer clearfix">
        <div class="hr grid_12">&nbsp;</div>
            <span class="float"><p>
                {% trans "Diseño basado en Aurelius, hecho por" %} <a href="http://qwibbledesigns.co.uk/"><b>QwibbleDesigns</b></a>.<br />
                {% trans "Software licenciado " %}<a href="http://www.gnu.org/licenses/agpl.html"><b>GPL Affero</b></a>.
                {% trans "Desarrollado en " %}<a href="http://djangoproject.com/"><b>Django</b></a>.</br />
                {% trans "Imágenes y descripciones de " %}<a href="http://thetvdb.com/"><b>TheTVDB</b></a>.<br />
                {% trans "Forkeanos en " %}<a href="http://github.com/alabs/petateca"><b>GitHub</b></a>.
                {% trans "Siguenos en " %}<a href="http://twitter.com/liberateca"><b>Twitter</b></a>.
            </p></span>
            <a class="float right" href="#">{% trans "arriba" %}</a>
        </p>
    </div>
<noscript>
        <div id="noscript-warning"> {{SITE_NAME}} funciona mejor con JavaScript activado.</div>
</noscript>    
<!-- Scripts -->
{% compressed_js 'all' %}
{% if initial_message %}
    <script>
        $(document).ready(function(){
            $.jGrowl("LiberaTeca es la nueva biblioteca del siglo XXI. ¿Has visto nuestro \u003Ca href=\"\/faq\" rel=\"nofollow\"\u003EFAQ\u003C\/a\u003E?", { header: 'Bienvenido', sticky: true });
        });
    </script>
{% endif %}
{% block extrascript %}{% endblock %}
</body>
</html>
