{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block extrastyle %}
<style>
.header {
font-size: 200%;
line-height: 1.5em;
background-color: #333;
color: #FFF;
text-align:center;
} 
p,li {
font-size: 120%; 
}
</style>
{% endblock %}
{% block contents %}


<h1 class="header"> Sobre el proyecto Liberateca </h1>

<h2>¿Qué es Liberateca?</h2>

<p>Liberateca es una comunidad formada por extrañas personas que sin razón aparente comparten información.</p>

<h2>¿Es una página de enlaces?</h2>
 
<p>¿Y cuál no? </p>
 
<h2>¿Tienen ánimo de lucro?</h2>
 
<p>No.</p>

<h2>¿Cómo pagan el alojamiento y el dominio?</h2>
 
<p>Pues palmando pasta cuando no queda otra opción, pero estamos habilitando una forma en que puedas donar.</p>

<h2>¿Puedo agregar películas, documentales, música, libros, etc?</h2>
 
<p>No todavía, pero esta en <a href="http://liberateca.uservoice.com/forums/106199-general/suggestions/1800477-no-limitarlo-a-series-poder-enlazar-libros?ref=title">nuestros planes</a>. Las series son solo el principio.</p>

<h2> ¿Cómo puedo ayudar a Liberateca?</h2>
 
<p>Liberateca busca un ejército de mutantes cyborg para:

<ul>
  <li>Apoyar con donaciones el alojamiento y mantenerlo entre todas las personas que lo usamos
  <li>Desarrollar nuevas funcionalidades: Liberateca es Software Libre y puedes <a href="http://github.com/alabs/petateca">ver su código</a>
  <li>Mejorar el diseño de la web. 
</ul>
</p>

<h2>¿De donde consiguieron todos los enlaces?</h2>
 
<p>Para contar con una base de datos inicial hemos utilizado <a href="http://scrapy.org">Scrapy</a>. Hemos descargado los enlaces de <a href="http://www.cinetube.es/">Cinetube</a>, <a href="http://eztv.it/">EZTV</a>, <a href="http://www.serieonline.net/">Serie Online</a>, <a href="http://www.seriespepito.com/">Series Pepito</a>, <a href="http://www.series21.com/">Series 21</a>, <a href="http://www.seriesdanko.com/">Series Danko</a> y <a href="http://www.seriesyonkis.com">Series Yonkis</a>.
</p>

<p>Ahora son los usuarios los que agregan los enlaces.</p>

<h2>¿Quieren dominar el mundo?</h2>
 
<p>Liberateca es parte del plan denominado "World Des-Domination Proyect"</p>
 
<h1 class="header">Derechos de autor y licencias</h1>

<h2>¿Qué piensan de la Ley Sinde?</h2>
 
<p>Explicación corta: FUUUUUUUUUUUU</p>

<p>Explicación larga: "Existen leyes injustas. ¿Nos contentaremos con obedecerlas? ¿Nos esforzaremos en enmendarlas, obedeciéndolas mientras tanto? ¿O las transgredimos de una vez? Si la injusticia requiere de tu colaboración, rompe la ley. Sé una contrafricción para detener la máquina [...] Bajo un estado que encarcela injustamente, el lugar del hombre justo es también la cárcel". H.D. Thoreau. Resistance to Civil Government. 1849 </p>
 
<h2>¿De donde consiguieron todos los datos iniciales de las series?</h2>
 
<p>De <a href="http://thetvdb.com">TheTVDB</a>, una base de datos abierta para fans de las series de televisión. Te invitamos a utilizarla y a mejorarla, es un servicio muy bueno. </p>

<h1 class="header">Dudas de uso</h1>

<h2>No está creada la serie XXX </h2>

<p>Puedes <a href="/series/add/">crearla tu misma</a>, aunque por favor comprueba que no se encuentre ahora mismo. Si encontramos que has duplicado alguna nos enojaremos (mucho).</p>
 
<h2>¿Se pueden cambiar las descripciones de las series o episodios?</h2>

<p>No todavía, pero está en nuestros planes.</p>

<p>Igualmente puedes colaborar con tu propia reseña de la serie, que próximamente tendrán más visibilidad. </p>

<h1 class="header">Software y aspectos técnicos</h1>

<h2>¿Cómo esta hecho Liberateca?</h2>
 
<p>Con Python, Django, JQuery, CSS, mucho amor, café y un poco de magia...</p>

<h2>¿Donde puedo ver el código?</h2>
 
<p>Aquí mismo: <a href="http://github.com/alabs/petateca">http://github.com/alabs/petateca</a>
 
<h2>¿Tienen una API?</h2>
 
<p>Claro, puedes encontrarla <a href="/api/">aquí mismo</a>. </p>
 
<h2>¿Cómo hago para proponer nuevas funcionalidades?</h2>
 
<p>Puedes hacerlo en <a href="http://liberateca.uservoice.com">nuestra pagina en UserVoice</a> o bien mejor desarrolla esa funcionalidad y háznos un pull request al <a href="http://github.com/alabs/petateca">GitHub</a></p>
 
<h1 class="header">Otras preguntas</h1>

<h2>¿Cual es el sentido de la vida, el Universo y todo lo demás?</h2>
 
<p>42</p> 
 
<h2>¿Son unos piratas? ¿Qué es la piratería?</h2>
 
<p>"Según la última reforma del Código Penal «el que con violencia, intimidación o engaño, se apodere, dañe o destruya una aeronave, buque u otro tipo de embarcación o plataforma en el mar, o bien atente contra las personas, cargamento o bienes que se hallaren a bordo de las mismas, será castigado como reo del delito de piratería». Con la ley española en la mano, piratas son los de los barcos y los aviones." <a href="http://www.lne.es/aviles/2011/05/06/palabra-pirata-quedar-abolida-vocabulario-juridico-internet/1070515.html">Carlos Sánchez Almeida</a></p>
 
<h2>¡¡Son unos ladrones!!</h2>
 
<p><a href="http://www.youtube.com/watch?v=ef-OExpQEcU">Copiar no es robar</a></p>
 
<h2>¿Qué significa "Capítulos sueltos"?</h2>
 
<p>Son episodios que no pertenecen a ninguna temporada en particular, como webisodios, o especiales.</p>
 
<h2>Y si son tan guays ¿por qué no dan todos los enlaces?</h2>
 
<p>Esta en nuestros planes de futuro inmediato.</p>
 
<h2>¿Quien está detrás de todo esto?</h2>
 
<p>"Los señores de la red". Y la asociación <a href="http://alabs.es">Alabs</a>, que amablemente se encarga de nuestro alojamiento.</p>
 
<h2>Es cierto que si busco Liberateca dentro de Liberateca se puede romper Internet?</h2>
 
<p>Por lo que más quieras no lo intentes. No sabríamos vivir sin fotos de gatitos.</p>
 
<h2>¿Por que hacen todo esto?</h2>
 
<p>La pregunta correcta es porque no lo hicimos antes.</p>
 
<h2>¿Verdaderamente todas estas preguntas las hizo alguna vez la gente?</h2>
 
<p>Te sorprendería bastante todas las que no hemos incluido.</p>

{% endblock %}
