{% extends "base.html" %}
{% load i18n %}
{% load get_twitter_messages %}
{% load thumbnail %}
{% block contents %}
        <h2 class="grid_12 caption clearfix center">{% blocktrans %}Comparte tus series, porque <span>compartir es bueno</span>.{% endblocktrans %}</h2>
		<div class="hr grid_12 clearfix">&nbsp;</div>

			{% for serie in series %}
                <div class="grid_1_5">
        		{% thumbnail serie.poster.src "150x200" as img_serie %}
          			<a href="{% url serie.views.get_serie serie_slug=serie.slug_name %}" class="portfolio_item float alpha">
                        <div class="preload" style="width:140px; height:190px;">
                            <img class="prel serie" id="{{ serie.id }}" alt="{{ serie.name }}" src="{{ img_serie.url }}">
                        </div>
                        <span class="center">{{ serie.name }}</span>
                    </a> 
        		{% endthumbnail %}
                </div>
      		{% endfor %}
            <a href="{% url serie-index %}" class="float right alpha">
                <img title="Ver más series" src="/static/images/go-next.png" id="go-next" />
            </a>


{% endblock %}
