{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load get_twitter_messages %}
{% block contents %}
        <h2 class="grid_12 caption clearfix center">{% blocktrans %}<span>{{ SITE_NAME }}</span>, sitio de <u>enlaces</u> para disfrutar y difundir.<span> Compartir Es Bueno</span>. <br />Mas de {{ count_link }} enlaces, {{count_episode }} episodios y {{count_serie}} series {% endblocktrans %}</h2>
		<div class="hr grid_12 clearfix">&nbsp;</div>

        <div class="center">
			{% for serie in series %}
        		{% thumbnail serie.images.all.0.src "150x200" as img_serie %}
          			<a href="{% url serie.views.get_serie serie_slug=serie.slug_name %}" class="portfolio_item float alpha">
                        <div class="preload" style="width:140px; height:190px;">
                            <img alt="{{ serie.name }}" src="{{ img_serie.url }}" class="prel">
                        </div>
                    </a> 
        		{% endthumbnail %}
      		{% endfor %}
        </div>
			
		<div class="hr grid_12 clearfix quicknavhr">&nbsp;</div>
		<div id="quicknav" class="grid_12">
			<a class="quicknavgrid_3 quicknav alpha" href="/series">
					<h4 class="title ">{% trans "Series" %}</h4>
					<p>{% trans "listado de todas las series" %}</p>
					<p style="text-align:center;"><img alt="" src="/static/images/Art_Artdesigner.lv.png" /></p>
				
			</a>
			<a class="quicknavgrid_3 quicknav" href="/faq">

					<h4 class="title ">{% trans "FAQ" %}</h4>
					<p>{% trans "Preguntas más frecuentes" %}</p>
					<p style="text-align:center;"><img alt="" src="/static/images/info.png" /></p>
				
			</a>
			<a class="quicknavgrid_3 quicknav" href="/blog">
					<h4 class="title ">{% trans "Ver nuestro blog" %}</h4>
					<p>{% blocktrans %}Blog de {{SITE_NAME}} para ver entradas y comentar{% endblocktrans %}</p>

					<p style="text-align:center;"><img alt="" src="/static/images/Blog_Artdesigner.lv.png" /></p>
				
			</a>
			<a class="quicknavgrid_3 quicknav" href="#">
					<h4 class="title ">{% trans "Redes Sociales" %}</h4>
					<p>{% blocktrans %}{{SITE_NAME}} se encuentra en Twitter, Facebook y etc.{% endblocktrans %}</p>
					<p style="text-align:center;"><img alt="" src="/static/images/hungry_bird.png" /></p>
			</a>
		</div>
{% endblock %}
