/************************************
AURELIUS
URL: www.qwibbledesigns.co.uk/preview/aurelius/
AUTHOR: Matthew Corner (QwibbleDesigns)
DATE: 31 Jan, 2010
REVISION: 1.0
DESCRIPTION: A premium business and portfolio theme.
************************************/

/* Global Styles */
body {
    background: url(../images/bg.png) repeat-x #FFFFFF;
    font-size: 12px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
    color: #000000;
}
a:focus { outline: 1px dotted }
a {
    color: #717171;
    text-decoration: none;
}
a:hover { text-decoration: none }
a span { font-size: 90% }
h1 { font-size: 25px }
h2 { font-size: 23px }
h3 { font-size: 21px }
h4 { font-size: 19px }
h5 { font-size: 17px }
h6 { font-size: 15px }
ol { list-style: decimal }
ul { list-style: disc }
li {
    margin-left: 20px;
    position: relative;
}
p,
li,
dl {
    line-height: 18px;
    list-style: none;
}
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
img { margin-bottom: 20px }
#wrapper { margin-top: 7px }
ul li ul,
ol li ol { margin-bottom: 0px }
ol { padding: 0 0 0 5px }
/* Custom Grid */
.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
}
.float {
    display: inline;
    float: left;
    position: relative;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_15 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}
.grid_14 {
    display: inline;
    float: right;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}
.container_12 .grid_1 { width: 45px }
.container_12 .grid_2 { width: 130px }
.container_12 .grid_3 { width: 215px }
.container_12 .grid_4 { width: 300px }
.container_12 .grid_5 { width: 385px }
.container_12 .grid_6 { width: 470px }
.container_12 .grid_7 { width: 555px }
.container_12 .grid_8 { width: 640px }
.container_12 .grid_9 { width: 725px }
.container_12 .grid_10 { width: 810px }
.container_12 .grid_11 { width: 895px }
.container_12 .grid_12,
.grid_15 { width: 980px }
.container_12 .grid_13,
.grid_14 { width: 40% }
/* Global Classes */
.hr {
    border: none;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #d6d6d6;
    clear: both;
    height: 0;
    line-height: 0;
    width: 100%;
    font-size: 0;
    padding: 0;
    margin-bottom : 20px;
}
.pr {
    border: none;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #d6d6d6;
    clear: both;
    height: 0;
    line-height: 0;
    width: 100%;
    font-size: 0;
    padding: 0;
    margin-bottom : 30px;
}
.dotted {
    border-style: dashed;
    border-left: 0;
    border-right: 0;
}
.meta {
    font-weight: normal;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
    font-size: 11px;
    color: #999999 !important;
    line-height: 16px;
    text-transform: none;
    text-shadow: none;
}
.right { float: right; text-align:right; }
.left { float: left; text-align:left; }
.img_left {
    float: left;
    margin: 10px 20px 10px 0;
}
.img_right {
    float: right;
    margin: 10px 0 10px 20px;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.textright { text-align: right }
.error,
.success { display: none }
/* Buttons */
.button,
.button:visited {
    background: #000000 url(../images/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    border: 0;
    margin: 0.3em;
}
.button:hover {
    background-color: #111;
    color: #fff;
    text-decoration: none;
}
.button:active { top: 1px }
/* Site Logo */
h1#logo {
    font-size: 48px;
    font-weight: normal;
    margin-top: 30px;
    color: #000000;
}
/* Site Navigation */
ul#navigation { text-transform: uppercase }
ul#navigation li {
    float: right;
    display: inline;
    margin : 0 0 0 50px;
}
ul#navigation li a {
    font-family: arial, sans-serif !important;
    display: block;
    padding: 10px 0 0;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
ul#navigation li a:hover,
ul#navigation li a.current { background: url(../images/triangle.gif) no-repeat center top }
/* Footer */
.footer,
.footer a { color: #494949 }
.footer a:hover { color: #9d9d9d }
/* Sub Navigation */
ul.sidebar {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
}
ul.sidebar li {
    margin: 0 0 0 0;
    padding: 0;
}
ul.sidebar a {
    width: 295px;
    display: inline-block;
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid #e4e4e4;
    text-decoration: none;
    color: #393939;
}
ul.sidebar li:last-child a {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
ul.sidebar li:first-child a {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
ul.sidebar a:hover {
    width: 280px;
    background: #f6f6f6;
    padding: 10px 0 10px 20px;
}
/* Caption */
h2.caption {
    color: #494949;
    text-shadow: 1px 1px 1px #cfcfcf;
    font-size: 23px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom:1em;
}
h2.caption span {
    color: #000000;
    font-weight: bold;
}
h2.caption a:hover { text-decoration : underline }
/* Homepage QuickNavigation */
#quicknav { background: url(../images/link_border.png) repeat-x }
a .title { color: #000000 }
.quicknavgrid_3 {
    width: 204px;
    margin: 0px;
    padding: 20px 20px 0;
    display: inline;
    float: left;
    position: relative;
    margin-left: 1px;
}
.quicknav { background: #FFFFFF }
.quicknav:hover { background: url(../images/link_bg.png) repeat-x }
.quicknavhr { margin-bottom: 0 }
.quicknav.alpha {
    margin-left: 0;
    width: 205px;
}
.quicknavgrid_6 {
    width: 448px;
    margin: 0px;
    padding: 20px 20px 0;
    display: inline;
    float: left;
    position: relative;
    margin-left: 1px;
    height: 238px;
}
/* About Us Page Timeline */
dl.history { margin: 10px 10px }
dl.history { margin: 0 0 10px 0 }
dl.history dt {
    width: 50px;
    float: left;
    font-weight: bold;
}
dl.history dd {
    width: 250px;
    float: left;
    padding: 0;
    margin-bottom: 20px;
}
/* Common Scroller Styles */
.roundabout-holder {
    list-style: none;
    width: 500px;
    height: 300px;
    margin: 0px auto;
}
.roundabout-moveable-item {
    font-size: 12px!important;
    height: 300px;
    width: 250px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #aaaaaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #f9f9f9;
}
/*.roundabout-moveable-item             {font-size:12px!important; height:300px; width:600px; cursor:pointer; padding:5px; border:1px solid #aaaaaa; -webkit-border-radius:5px; -moz-border-radius:5px; background:#f9f9f9;} fixing the slideshow_NO__DOTCOMMA__AFTER__*/
.roundabout-moveable-item img {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    margin: 0;
}
.roundabout-in-focus { cursor: auto }
.roundabout-in-focus:hover {
    -webkit-box-shadow: 0px 0px 20px #787878;
    -moz-box-shadow: 0px 0px 20px #787878;
    background: #f9f9f9;
}
.roundabout-holder span {
    display: none;
    font-size: 12px;
}
.roundabout-in-focus:hover span {
    display: inline;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 8px 20px;
    background: #f9f9f9;
    color: #000000;
    z-index: 999;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topLeft: 5px;
    font-size : 12px;
    border-left: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
}
.roundabout a:active,
.roundabout a:focus,
.roundabout a:visited {
    outline: none;
    text-decoration: none;
}
.roundabou li { margin: 0 }
a img {
    border: none;
    outline: 0;
}
/* Featured Image Slider */
#featured { margin: 10px 0 40px 0 }
/* Portfolio Image Slider */
#folio_scroller_container {
    margin-top: 35px;
    margin-bottom: 40px;
    height: auto;
}
#folio_scroller_container .roundabout-holder {
    list-style: none;
    height: 400px;
    margin: 0px auto 20px auto;
}
/* Portfolio Styles */
.portfolio_item {
    position: relative;
    margin: 0 14px 28px 14px;
    padding: 0;
}
/*.portfolio_item                        {width:223px; position:relative; margin:0 14px 28px 14px; padding:0;}_NO__DOTCOMMA__AFTER__*/
.portfolio_item img {
    padding: 5px;
    border: 1px solid #aaaaaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #f9f9f9;
    margin-bottom: 0px;
}
/* .portfolio_item img                    {padding:5px; border: 1px solid #aaaaaa; width:211px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background:#f9f9f9; margin-bottom:0px;}_NO__DOTCOMMA__AFTER__*/
/*.portfolio_item span                {display:none;} _NO__DOTCOMMA__AFTER__*/
.portfolio_item:hover img {
    -webkit-box-shadow: 0px 0px 20px #787878;
    -moz-box-shadow: 0px 0px 20px #787878;
    background: #f9f9f9;
}
.portfolio_item span {
    background: #111;
    border-top: 1px solid #999;
    bottom: 0px;
    color: white;
    left: 0px;
    opacity: 0.9;
    position: absolute;
    width: 94%;
    padding: 10px;
    bottom: -11px;
    font-size: 13px;
/*
padding: 10px;
    display: inline;
    position: absolute;
    bottom: -6px;
    right: -6px;
    background: #f9f9f9;
    color: #000000;
    z-index: 1;
    border-left: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topLeft: 5px;
    */
}
/*.portfolio_item:hover span            {display:inline; position:absolute; bottom:6px; right:6px; padding:10px 15px; background:#f9f9f9; color:#000000; z-index:999; border-left:1px solid #aaaaaa; border-top:1px solid #aaaaaa; -webkit-border-top-left-radius: 5px; -moz-border-radius-topLeft: 5px;}_NO__DOTCOMMA__AFTER__*/
/* Blog Post Styles */
.post a:hover { text-decoration: underline }
.post .title {
    color: #393939;
    font-size: 30px;
}
.post .title a {
    color: #393939;
    text-decoration: none;
}
.post a.button:hover { text-decoration: none }
.post .sub {
    font-size: 12px;
    color: #9d9d9d;
}
.post .thumb {
    width: 619px;
    height: 150px;
    padding: 5px;
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/* Comment's List */
.commentlist {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.commentlist li {
    width: 100%;
    clear: both;
    float: left;
    padding: 0;
    list-style-type: none;
    margin: 0;
    position: relative;
}
.gravatar {
    float: left;
    width: 60px;
    padding: 0px 10px 0 0;
    text-align: center;
}
.gravatar img {
    display: block;
    padding: 5px;
    margin-bottom: 0px;
}
.comment_content {
    float: right;
    width: 85%;
}
.commentmetadata { float: right }
.comment-reply-link {
    text-decoration: none;
    font-size: 10px;
}
.author_name {
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    float: left;
}
.author_name a { color: #000000 }
.comment_text {
    clear: both;
    margin-top: 10px;
}
.comment-reply-link {
    text-align: center;
    display: block;
}
/* Contact Form */

input, textarea, select{
    padding: 8px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    background: #fcfcfc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

p.error {
    margin-left: 140px;
    margin-top: 10px;
}
#contact_form ul { float: left }
#contact_form ul li {
    margin: 10px 0;
    list-style: none;
    position: relative;
    clear: both;
}
#contact_form label {
    line-height: 35px;
    width: 100px;
    text-align: right;
    float: left;
    margin-right: 10px;
}
#contact_form input#name,
#contact_form input#email,
#contact_form input#subject,
#contact_form textarea {
    float: left;
    padding: 8px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    background: #fcfcfc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#contact_form input#name,
#contact_form input#email,
#contact_form input#subject { width: 400px }
#contact_form textarea {
    width: 500px;
    height: 150px;
}
#contact_form input.button { float: right }
/* Login Form */
p.error {
    margin-left: 140px;
    margin-top: 10px;
}
#login_form ul { float: left }
#login_form ul li {
    margin: 10px 0;
    list-style: none;
    position: relative;
    clear: both;
}
#login_form label {
    line-height: 35px;
    text-align: right;
    float: left;
    margin-right: 10px;
}
#login_form input#name,
#login_form input#email,
#login_form input#subject,
#login_form textarea {
    float: left;
    padding: 8px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    background: #fcfcfc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#login_form input#name,
#login_form input#email,
#login_form input#subject { width: 400px }
#login_form textarea {
    width: 500px;
    height: 150px;
}
#login_form input.button { float: right }
/* Comment form */
#comment_form ul { float: left }
#comment_form ul li {
    margin: 10px 0;
    list-style: none;
    position: relative;
    clear: both;
}
#comment_form label {
    line-height: 35px;
    width: 100px;
    text-align: right;
    float: left;
    margin-right: 10px;
}
#comment_form textarea {
    float: left;
    padding: 8px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    background: #fcfcfc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#comment_form textarea {
    width: 500px;
    height: 50px;
}
#send_message {
    margin-top: 6em;
}
/* Invitation form */
#invitation_form ul { float: left }
#invitation_form ul li {
    margin: 10px 0;
    list-style: none;
    position: relative;
    clear: both;
}
#invitation_form label {
    line-height: 35px;
    width: 100px;
    text-align: right;
    float: left;
    margin-right: 10px;
}
#invitation_form input#id_email {
    padding: 8px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    background: #fcfcfc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#invitation_form input.button {
    margin-left: 10em;
}
/* Ask Invitation Form */ 
#ask_invitation_form input#id_email {
    padding: 8px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    background: #fcfcfc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/* Add Link form */
#add_link_form .button{
    margin-left: auto;
    margin-right: auto;
}
#add_link_form #id_url{
    padding: 2px;
    padding-left: 20px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    background: #fcfcfc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin:1em;
}
#add_link_form select {
    padding: 2px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    background: #fcfcfc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#add_link_list li {
display: inline;
list-style-type: none;
padding-right: 20px;
}
#add_link_help li {
display: inline;
list-style-type: none;
padding-right: 20px;
position:relative; 
bottom:-0.5em;
margin-bottom:0.5em;
}

/* ADD EPISODE FORM */

#add_episode_form label {
    width: 12em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
}

/* SIGNIN -- AUTENTICACION /accoutns/signin */

#signin_form ul li {
    margin: 10px 0;
    list-style: none;
    position: relative;
    clear: both;
}
#signin_form label {
    line-height: 35px;
    float: left;
    width: 220px;
    margin-left: 3em;
}
#signin_form input#id_username,
#signin_form input#id_password {
    padding: 8px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    background: #fcfcfc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#signin_form input#id_username,
#signin_form input#id_password { width: 200px }
#signin_form textarea {
    width: 500px;
    height: 150px;
}
/* SEARCH FORM */
#searchform {font-size:18px; }
#searchform div { color:#eeeeee; }
#searchform div input { 
    padding: 8px;
    border: 1px solid #CCCCCC;
    background: #fcfcfc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float:right;
    width:23em;
}
#suggestions{ position: relative; left:235px; width:320px; display:none; top:8em; }
/* SEARCHRESULTS */
#searchresults { 
border-width:1px; border-color:#919191; border-style:solid; width:320px; background-color:#a0a0a0; font-size:10px; line-height:14px; position:absolute; z-index:100; 
left:46em;

}
#searchresults a { display:block; background-color:#e4e4e4; clear:left; height:11.9em; text-decoration:none; }
#searchresults a:hover { background-color:#b7b7b7; color:#ffffff; }
#searchresults a img { float:left; padding:5px 10px; }
#searchresults a span.searchheading { display:block; font-weight:bold; padding-top:5px; color:#191919; }
#searchresults a:hover span.searchheading { color:#ffffff; }
#searchresults a span { color:#555555; }
#searchresults a:hover span { color:#f1f1f1; }
#searchresults span.category { font-size:11px; margin:5px; display:block; color:#ffffff; }
#searchresults span.seperator { float:right; padding-right:15px; margin-right:5px;
      background-image:url(http://localhost:8000/static/images/shortcuts_arrow.gif); background-repeat:no-repeat; background-position:right; }
#searchresults span.seperator a { background-color:transparent; display:block; height:auto; color:#ffffff; }

/* Contact Page Sidebar */
.contact ul { list-style: none }
.contact li { margin: 0 }
/* Link Tables */
#links {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 5px;
    /*    width: 480px;*/
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #717171;
}
#links th {
    padding: 12px 17px 12px 17px;
    font-weight: bold;
    font-size: 14px;
    color: #717171;
    border-bottom: 1px dashed #CFCFCF;
}
#links td {
    vertical-align: middle;
    padding-left: 1em;
    color: #717171;
}
#links td.vote { width: 3em }
#links tbody tr:hover td {
    color: #717171;
    background: #CFCFCF;
}
.linkvote { height: 2em }
#dropdown {
    float: left;
    padding: 8px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    background: #fcfcfc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 220px;
}
#rating {
    margin-bottom: 2em;
    padding-left: 5em;
}
.subtitle {
    font-weight: bold;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
    font-size: 13px;
    color: #999999 !important;
    line-height: 16px;
    text-transform: none;
    text-shadow: 0;
    text-align: center;
    margin-top: 2em;
}
.preload {
    background-image: url('../images/ajax-loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
    hidden:true;
}
.preload img {
    width: inherit;
    height: inherit;
}

#noscript-warning {
    background-color: #AE0000;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 120%;
    font-weight: bold;
    left: 0;
    padding: 5px 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 101;
}
.center{
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.prev_next{
    margin: 1em;
}
#avatar_list li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.errorlist li {        
    display: block;        
    color: #C00;        
    font-size: 85%;        
    font-weight: normal;        
}

.vermas_head{border:1px solid #998675;}

.vermas_body {display:none; width:184px;border-right:1px solid #998675;border-bottom:1px solid #998675;border-left:1px solid #998675;}
.vermas_body li{background:#493e3b;}
.vermas_body li.alt{background:#362f2d;}
.vermas_body li a{color:#FFFFFF; text-decoration:none; padding:10px; display:block;}
.vermas_body li a:hover{padding:15px 10px; font-weight:bold;}


.cssdropdown {
    list-style: url(none) none;
}
.cssdropdown li {
    display: inline;
    float: left;
    position: relative;
    width: 150px;
    margin: 0;
    z-index: 999;
}
.cssdropdown li a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 140px;
    padding: 2px 5px;
}
.cssdropdown li a:hover, ul li a:active {
    background-color: #f93;
}
.cssdropdown li ul {
    background-color: #3a3a3a;
    position: absolute;
    display: none;
}
.cssdropdown li ul li {
    display: list-item;
    float: none;
    margin: 0;
}
.cssdropdown li ul li a {
    font-size: 1em;
}


.rating_num {
    font-size: 36px;
    font-weight: bold;
    padding: 10px 0 12px;
    text-align: center;
    width: 2em;
    margin-bottom: 0.5em;
}
.positive_bg {
    background-color: #4EB122;
    color: #FFFFFF;
}
.negative_bg {
    background-color: #FC1C12;
    color: #FFFFFF;
}
.neutral_bg {
    background-color: #F5BE3D;
    color: #FFFFFF;
}
.no_bg {
    background-color: #BBBBBB;
    color: #FFFFFF;
}
.rating_num div {
    font-size: 10px;
}
.mt_3 {
    margin-top: 3px;
}


#episode_list { 
    width:550px; 
    font-family:Georgia, Times, 
    serif; font-size:11px; 
}
#episode_list ul { 
    list-style: none; 
}
#episode_list ul li a { 
    display:block; text-decoration:none;
    color:#000000;
    background-color:#FFFFFF;
    line-height:25px;
    border-bottom-style:solid;
    border-bottom-width:1px; 
    border-bottom-color:#CCCCCC; 
    padding-left:10px; 
    cursor:pointer; 
}
#episode_list ul li a:hover { 
    color:#FFFFFF;
    background-color:#999999;
    background-repeat:repeat-x;
}
#episode_list ul li a strong {
    margin-right:10px;
}
#episode_list ul li .selected_list {
    background-color: #000;
    color: #fff; 
    background-repeat:repeat-x; 
}
#episode_list ul li .checked {
    background-color: #BDBDBD;
    color: #424242;
    background-repeat:repeat-x; 
}


#future { color:#FFFFFF !important; background-color:#999999 !important; background-repeat:repeat-x; }
#datemeta {
    font-family: 'Lucida Grande','Lucida Sans Unicode',Tahoma,Arial,san-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    text-shadow: none;
    text-transform: none;
}

#downvote { 
    background: url('/static/images/voting/bad.png');
}

#upvote {
    background: url('/static/images/voting/good.png');
}


#footer ul.footerbox {
}
#footer ul.footerbox li.footerbox {
    border-right: 1px solid #E8E8E8;
    display: inline;
    float: left;
    margin-left: 1em;
    min-height: 6em;
    width: 10.9em;
}
#footer ul.footerbox li.first {
    margin-left: 15em;
}
#footer ul.footerbox li.last {
    border-right: medium none;
}
#footer ul.footerbox li strong {
    font-size: 0.8em;
}
#footer ul.footerbox li a {
    font-size: 0.9em;
    text-decoration: none;
}
#footer ul.footerbox li a:hover {
    color: #000;
}
#footer ul.footerbox li.footerbox ul {
    margin-top: 0.5em;
}

div.dialog {
	width: 60em;
	padding: 0 4em;
	margin: 4em auto 0 auto;
	border: 1px solid #ccc;
	border-right-color: #b6e19f;
	border-bottom-color: #b6e19f;
	background-color: #717171;
	font-size: 120%;
    text-align: center; 
    color: #eee; 
}
div.dialog a:link, div.dialog a:visited {
    color: #fff;
    font-weight: bold;
}
.header { 
    font-size: 130%; 
    line-height: 1.5em; 
    background-color: #333333;
    margin-top: 2em; 
}

.header_api {
    font-size: 200%;
    line-height: 1.5em;
    background-color: #333;
    color: #FFF;
    text-align:center;
} 

.hightlight {
    border:2px solid #9F1319 !important;
 /*   background:url(/static/images/alert.png) no-repeat 2px !important; */
}

#img_espoiler {
    margin-bottom:0px !important;
    float:left;
    clear:left;
    margin: 1em;
}

#marginal{
    margin-bottom:6em; 
    margin-top:1em;
}

.nobottom{
 margin-bottom:0 !important;
}

#tagcloud{ font-family:Tahoma,Verdana,sans-serif;  padding:10px 5px 10px 5px;}
 
.tag1{ font-size:1em; color:#555555; line-height:1em; }
.tag2{ font-size:1.4em; color:#606060; line-height:1em; }
.tag3{ font-size:1.8em; color:#808080; line-height:1em; }

.nolink { color: #000000; } 
 
#tagcloud a{ text-decoration:none; }
#tagcloud a:hover{ text-decoration:underline; }

#go-next{
    display:block;
    margin-top:5em;
    margin-right:4em;
}

#alert-new-serie{
    margin:1em;
    margin-top:3em;
}

/* Overiding Classes */
/* Must remain at the bottom of the stylesheet */
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
* html .clearfix { height: 1% }
.alpha { margin-left: 0 }
.omega { margin-right: 0 }
