{% extends "base.html" %}  
{# testing DRY #}
{% load i18n %}
{% load thumbnail %}
{% block contents %}{% endblock %}
		<!-- Column 2 / Sidebar -->
		<div class="grid_4">
		
			<h4>Catagories</h4>
			<ul class="sidebar">
				<li><a href="">Series Nuevas</a></li>
				<li><a href="">Ficción</a></li>
				<li><a href="">Documental</a></li>
				<li><a href="">Jobs</a></li>
				<li><a href="">Staff</a></li>
				<li><a href="">Clients</a></li>
			</ul>
			
			<h4>Archives</h4>
			<ul class="sidebar">
				<li><a href="">January 2010</a></li>
				<li><a href="">December 2009</a></li>
				<li><a href="">Novemeber 2009</a></li>
				<li><a href="">October 2009</a></li>
				<li><a href="">September 2009</a></li>
				<li><a href="">August 2009</a></li>
			</ul>
		</div>
