{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load comments %}
{% block contents %} 			
		<!-- Caption Line -->
		<h2 class="grid_12 caption clearfix">LiberCopy <span>blog</span>.</h2>
		
		<div class="hr grid_12 clearfix">&nbsp;</div>
		
		<!-- Column 1 /Content -->
		<div class="grid_8">
			
			<!-- Blog Post -->
			<div class="post">
				<!-- Post Title -->
<!--
<div class="post">
  <h3>{{post.title}}</h3>
-->
				<h3 class="title"><a href="single.html">{{post.title}}</a></h3>
				<!-- Post Title -->
				<p class="sub"><a href="#">Written on</a>, <a href="#"></a> &bull; {{post.date}} &bull; <a href="#"></a></p>
				<div class="hr dotted clearfix">&nbsp;</div>

  {% if image %}  {% thumbnail image "300x200" as img_post %} <img class="image_post" src="{{ img_post.url }}" /> {% endthumbnail %} {% endif %}
				
				<!-- Post Title -->
				<!-- Post Content -->
<p>: </p>
  <p>{{ post.post|safe }}</p>
<br />
<ul>
{% for tag in tag_list %}
  <li> {{ tag.name }}
{% endfor %}
</ul>
</div>
								
				<!-- Post Links -->
				<p class="clearfix">
					<a href="blog.html" class="button float" >&lt;&lt; Back to Blog</a>
					<a href="#commentform" class="button float right" >Discuss this post</a>
				</p>
			<div class="hr clearfix">&nbsp;</div>

{% get_comment_count for post as comment_count %}
<h3>{{ comment_count }} comments </h3> 
{% render_comment_list for post %}

{% with request.path as next %}
{% render_comment_form for post %}
{% endwith %}
	
</div>
		<!-- Column 2 / Sidebar -->
		<div class="grid_4">
		
			<h4>Catagories</h4>
			<ul class="sidebar">
				<li><a href="">So who are we?</a></li>
				<li><a href="">Philosophy</a></li>
				<li><a href="">History</a></li>
				<li><a href="">Jobs</a></li>
				<li><a href="">Staff</a></li>
				<li><a href="">Clients</a></li>
			</ul>
			
			<h4>Archives</h4>
			<ul class="sidebar">
				<li><a href="">January 2010</a></li>
				<li><a href="">December 2009</a></li>
				<li><a href="">Novemeber 2009</a></li>
				<li><a href="">October 2009</a></li>
				<li><a href="">September 2009</a></li>
				<li><a href="">August 2009</a></li>
			</ul>
		</div>
		
		<div class="hr grid_12 clearfix">&nbsp;</div>

{% endblock %}			
