{% extends "base.html" %}  
{% load i18n %}
{% load thumbnail %}
{% block contents %}  
<h2>Blog: All Postings</h2>  

{% for p in posts %}
 <li><a href="{% url get_post p.slug %}">{{ p.title }}</a></li>
    <p>Written on {{p.date}}</p>
    <p>{{p.summary}}</p>

    <div class="image_post">
    {% if p.images.all.0 %}
      {% thumbnail p.images.all.0.src "100x100" as img_post %}
        <img src="{{ img_post.url }}" />
      {% endthumbnail %}
    {% else %}
    Este post no tiene imagen
    {% endif %} 
    </div>

{% endfor %}

{% endblock %}
