# Ficheros de vim
*.swp
*.pyc
liberweb/liberweb.db
virtual
liberweb.egg-info/*
distribute*
*.mo
liberweb/bots/libercopy/liberbot/cache/*
liberweb/bots/libercopy/liberbot/cache/*
liberweb/bots/libercopy/sites/*/debug/*
liberweb/static/img/serie/thumbs/*.jpg
liberweb/static/img/serie/*.jpg
liberweb/static/img/actor/*.jpg
liberweb/static/img/blog/*.jpg
liberweb/static/img/season/*.jpg
liberweb/static/img/blog/thumbs/*.jpg
liberweb/static/cache/*
liberweb/static/img/episodes/*
liberweb/static/img/blog/*.png
debug.json
build
liberweb/.coverage
liberweb/reports/
liberweb/indexes/
*.egg
liberweb/local_settings.py
