# Ficheros de vim
*.swp
*.pyc
petateca/*.db
virtual
*.mo
debug.json
distribute*
petateca.egg-info/*
petateca/bots/libercopy/liberbot/cache/*
petateca/bots/libercopy/sites/*/debug/*
petateca/static/avatars/*
petateca/static/cache/*
petateca/static/img/actor/*
petateca/static/img/blog/*
petateca/static/img/episodes/*
petateca/static/img/season/*
petateca/static/img/serie/*
petateca/static/img/book/*
petateca/static/img/serie/thumbs/*
build
petateca/.coverage
petateca/reports/
petateca/apps/search/indexes/
*.egg
petateca/local_settings.py
petateca/logs/*.log
