# Ficheros de vim
*.swp
*.pyc
petateca/*.db
virtual
*.mo
debug.json
distribute*
petateca.egg-info/*
petateca/bots/libercopy/liberbot/cache/*
petateca/bots/libercopy/sites/*/debug/*
petateca/static/avatars/*
petateca/static/cache/*
petateca/static/css/compress*.css
petateca/static/js/compress*.js
petateca/static/img/actor/*.jpg
petateca/static/img/blog/*.png
petateca/static/img/episodes/*
petateca/static/img/season/*.jpg
petateca/static/img/serie/*.jpg
petateca/static/img/serie/thumbs/*.jpg
build
petateca/.coverage
petateca/reports/
petateca/apps/search/indexes/
*.egg
petateca/local_settings.py
petateca/logs/*.log
