{% load thumbnail %}
<div class="center" id="box">
    <h3 class="mb_1">{{ type_plur }} con mejor puntuación</h2>
        <div id="{{ jscontainerid }}"> 
          {% for e in elements %}
                <div class="js-image {% cycle "size-1" "size-2" "size-3" %}" style="{% cycle "top:0px;left:0px;" "top:0px;left:101px;" "top:0px;left:178px;" "top:0px;left:324px;" "top:0px;left:426px;" "top:0px;left:502px;" "top:126px;left:0px;" "top:102px;left:101px;" "top:127px;left:330px;" "top:202px;left:481px;" "top:329px;left:505px;" "top:202px;left:583px;" "top:253px;left:0px;" "top:205px;left:102px;" "top:202px;left:179px;" %}"> 
                    {% thumbnail e.poster.src "150x200" as img_e %}
                        <a href="{{ e.get_absolute_url }}"><img alt="{{ e.name }}" class="js-small-image" src="/static/{{ img_e }}"/></a>
                    {% endthumbnail %}
                    <div class="js-small-caption">
                        <span>{{ e.name }}</span>
                    </div>
                    <div class="js-overlay-caption-content">
                        <h4>{{ e.name }}</h4>
                        <p>
                        {{ e.description|truncatewords:40 }}<a href="{{ e.get_absolute_url }}">Ver {{ type_ind }} &raquo;</a>
                        </p>
                    </div>
                </div>
      		{% endfor %}
        </div>
        <h4 class="center mt_1">
            <a href="{{ url_index }}" class="nobottom">
                {{ type_message }}
                <img title="Ver más {{ type_plur }}" src="/static/images/go-next.png" class="nobottom valign" />
            </a>
        </h4>
</div>
