<ul class="horizontal_list"> 
  <li> <img alt="Busqueda TPB" title="Buscar en The Pirate Bay" rel="{{ query }}" id="search_pb" src="/static/images/search-tpb.ico">
  <li> <img alt="Busqueda Torrentz" title="Buscar en Torrentz" rel="{{ query }}" id="search_torrentz" src="/static/images/search-torrentz.ico">
  <li> <img alt="Busqueda Sinde" title="Buscar en la Lista de Sinde" rel="{{ query }}" id="search_listadesinde" src="/static/images/search-sinde.ico">
  <li> <img alt="Ayuda" title="Ayuda de idiomas" id="language_help" src="/static/images/help-browser.png">
</ul>
