{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load markup %}
{% block title %}Documentación de la API - v0.2 | Liberateca{% endblock %}
{% block contents %}
<h1>Documentación de la API - v0.2</h1>

<p class="center notice"> 
    ¡ATENCIÓN! El desarrollo de esta API se encuentra bajo desarrollo, abierto a <a href="http://liberateca.uservoice.com">sugerencias</a> y modificaciones. 
</p>

<p>Para utilizar la API es necesario acceder a través de una usuario registrado en Liberateca, con la aplicación cURL (utilizada en los ejemplos) es "-u usuario:contraseña".

Por defecto devuelve la información en formato JSON, pero pasándole el parámetro "?format=" se puede modificar. Los fomatos válidos son json, xml y pickle.
</p>


<p><b>Nuevas funcionalidades en esta versión</b>: 
<ul>
    <li>Paginación en el listado de series
    <li>Listado de series ordenado por nombre :P
    <li>Thumbnails en series y episodios
    <li>Descripciones, nombres y títulos en Inglés y en Español
</ul>

<h3 id="serielist" class="header_api">Listado de Series</h3>
<ul>
    <li>Lista las series que se encuentran en Liberateca así como la URL donde se encuentra el recurso (ver Serie)
    <li>URL: <b>https://liberateca.net/api/v2/series/</b>
    <li>Métodos aceptados: 
        <ul>
            <li><b> GET </b> - Devuelve el listado de series
        </ul>
    <li> Ejemplo:
    <pre class="syntax">
$ curl -u usuario:contraseña https://liberateca.net/api/v2/series/

[
    {
        "url": "http://liberateca.net/api/v2/series/249/",
        "name": "009-1",
        "id": 249
    },
    {
        "url": "http://liberateca.net/api/v2/series/300/",
        "name": "07-Ghost",
        "id": 300
    },
    {
        "url": "http://liberateca.net/api/v2/series/676/",
        "name": "101 Dalmatians: The Series",
        "id": 676
    },
    (...)
]</pre>
    <li><b>Paginación</b>: Al tratarse de una lista de muchos elementos, se habilita la opción de paginar entre todos los resultados, a través de la cabecera "Range" o los parámetros GET offset y limit. Ejemplos: 
    <pre class="syntax">
$ curl -u usuario:contraseña -H "Range: items=90-91" https://liberateca.net/api/v2/series/  

[
    {
        "url": "http://liberateca.net/api/v2/series/552/",
        "name": "Bedlam",
        "id": 552
    },
    {
        "url": "http://liberateca.net/api/v2/series/372/",
        "name": "Being Erica",
        "id": 372
    }
]</pre>

<h3 id="serie" class="header_api">Serie</h3>
<ul>
    <li>Devuelve el detalle de una serie. Para obtener las series disponibles ver <a href="#serielist">Listado de Series</a>.
    <li>URL: <b>https://liberateca.net/api/v2/series/(SERIE_ID)/</b>
    <li>Métodos aceptados: 
        <ul>
            <li><b> GET </b> - Muestra el detalle de la serie, siendo la correspondencia: 
                <ul>
                    <li>Nombre [es]: 'name'
                    <li>Nombre [en]: 'name'
                    <li>URL: 'slug'
                    <li>Descripcion [es]: 'description'
                    <li>Descripcion [en]: 'description'
                    <li>Cadena: 'network'
                    <li>Duracion: 'runtime'
                    <li>Generos: 'genre'
                    <li>Puntuacion: 'rating_score'
                    <li>Imagen: 'Poster'
                </ul>
        </ul>
    <li> Ejemplo:
    <pre class="syntax">
$ curl -u usuario:contraseña https://liberateca.net/api/v2/series/46/

{   
    "genres": [
        {   
            "name": "Drama"
        },
        {   
            "name": "Acción y Aventura"
        },
        {   
            "name": "Ciencia Ficción"
        }
    ],
    "name": "Fringe",
    "poster": {
        "thumbnail": "http://liberateca.net/static/cache/16/a4/16a41935ef581dfe1c858e62bc736b1b.jpg"
    },
    "description_en": "Fringe follows FBI Agent Olivia Dunham, Consultant Peter Bishop and science explorer extraordinaire Doctor Walter Bishop as they search for clues to the series of bizarre and horrific crimes inflicted on the world. The world that we  know.",
    "description_es": "Cuando el vuelo 627 aterriza con todo el pasaje y la tripulación muerta, la Agente del FBI Olivia Dunham es llamada para inverstigar los hechos. Todos los muertos parecen haberse \"derretido\" fruto de un agente contagioso por el aire. Todo apunta a un acto terrorista, pero poco a poco se darán cuenta de que hay cosas que están por encima del terrorismo e incluso por encima de la propia imaginación. ¿Que pasaría si la ciencia llegara a evolucionar hasta tal punto que no pudieramos controlarla?",
    "rating_score": 181,
    "runtime": 60,
    "id": 46,
    "network": {
        "name": "FOX"
    }
}</pre>
</ul>

<h3 id="seasonlist" class="header_api">Listado de Temporadas</h3>
<ul>
    <li>Devuelve el listado de temporadas de una serie dada.
    <li>URL: <b>https://liberateca.net/api/v2/series/(SERIE_ID)/seasons/</b>
    <li>Métodos aceptados: 
        <ul>
            <li><b> GET </b> -  Muestra las temporadas que tiene una serie.
        </ul>
    <li> Ejemplo:
    <pre class="syntax">
$ curl -u usuario:contraseña https://liberateca.net/api/v2/series/46/seasons/

[   
    {   
        "url": "http://liberateca.net/api/v2/series/46/0/",
        "id": 221
    },
    {   
        "url": "http://liberateca.net/api/v2/series/46/1/",
        "id": 222
    },
    {   
        "url": "http://liberateca.net/api/v2/series/46/2/",
        "id": 223
    },
    {   
        "url": "http://liberateca.net/api/v2/series/46/3/",
        "id": 224
    }
]</pre>
</ul>

<h3 id="season" class="header_api">Temporada</h3>
<ul>
    <li>Devuelve el listado de episodios que tiene una temporada (ver <a href="#seasonlist">Listado de Temporadas</a>)
    <li>URL: <b>https://liberateca.net/api/v2/series/(SERIE_ID)/(SEASON)/</b>
    <li>Métodos aceptados: 
        <ul>
            <li><b> GET </b> -  Muestra el listado de episodios para una temporada dada, y lista la siguiente información de cada episodio: 
            <ul>
                <li>Titulo: 'title'
                <li>Fecha de emision: 'air_date'
                <li>Ubicacion del recurso del episodio: 'url'
            </ul>
        </ul>
    <li> Ejemplo:
    <pre class="syntax">
$ curl -u usuario:contraseña https://liberateca.net/api/v2/series/46/1/

[
    {
        "url": "https://liberateca.net/api/v1/serie/46/1/1", 
        "title": "Piloto", 
        "episode": 1, 
        "air_date": "2008-09-09"
    }, 
    {
        "url": "https://liberateca.net/api/v1/serie/46/1/2", 
        "title": "La historia de siempre", 
        "episode": 2, 
        "air_date": "2008-09-16"
    }, 
(...)
]</pre>
</ul>

<h3 id="season" class="header_api">Episodio</h3>
<ul>
    <li>Devuelve el detalle y los enlaces de un episodio.
    <li>URL: <b>https://liberateca.net/api/v2/series/(SERIE_ID)/(SEASON)/(EPISODIO)/</b>
    <li>Métodos aceptados: 
        <ul>
            <li><b> GET </b> -  Muestra la siguiente información de un episodio:
            <ul>
                <li>Titulo: 'title' 
                <li>Numero de Episodio: 'episode'
                <li>Numero de Temporada: 'season'
                <li>Fecha de Emision: 'air_date'
                <li>Listado de URLs
            </ul>
        </ul>
    <li>Ejemplo:
    <pre class="syntax">
$ curl -u usuario:contraseña https://liberateca.net/api/v2/series/46/1/1/

{
    "episode": 1,
    "links": [
        {
            "url": "http://torrent.zoink.it/Fringe.S01E01.720p.HDTV.x264-E7.[eztv].torrent",
            "audio": "en"
        },
        {
            "url": "http://www.bt-chat.com/download.php?info_hash=2750070c75ce4857e85aadc44cd99bbca913ec10",
            "audio": "en"
        },
        {
            "url": "http://www.mininova.org/tor/1788565",
            "audio": "en"
        },
    (...)
    ],
    "air_date": "2008-09-09",
    "season": 1,
    "title_en": "Pilot",
    "description_en": "When all the passengers on a plane die, FBI agent Olivia Dunham investigates the events and her partner almost dies. A desperate Olivia looks for help from Dr. Walter Bishop who has been institutionalized. Olivia, Dr. Bishop and his son Peter begin to discover what really happened on Flight 627 and begin to uncover a larger truth.",
    "thumbnail": "http://liberateca.net/static/cache/16/c5/16c537b15cbfa7a1ae75945b61dd0cfe.jpg",
    "title_es": "Piloto",
    "description_es": "El vuelo 627 aterriza con todo el pasaje y la tripulación muerta en extrañas circunstancias. Parece que un virus haya \"derretido\" sus cuerpos. La Agente del FBI Olivia Dunham es la encargada de averiguar que es lo que ha ocurrido. Para ello necesitará la ayuda de un científico calificado como el Einstein de nuestra generación llamado Walter Bishop, que lleva encerrado en un psiquiatrico 20 años por un supuesto incidente en sus experimentos. Bishop le ayudará a comunicarse con su compañero John, que se encuentra en estado de coma, para poder dar con el responsable de lo ocurrido en el avión.",
    "id": 3662
}
</pre>
</ul>
{% endblock %}
