{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block contents %}

<h1>Aviso Legal</h1>

<p>Esta política de privacidad se aplica a la relación del usuario con todas aquellas páginas bajo el dominio liberateca.net (en adelante, el “Sitio web”) operado por la Asociación aLabs (en adelante “aLabs”) y cualquiera de sus entidades asociadas o que controlen y hagan uso de la información que obtengan a través del Sitio web.

<p>El uso de este Sitio web es proporcionado por aLabs y su uso supone aceptar los terminos y condiciones que se detallan a continuación:

<h2>Términos y Condiciones</h2>

<p>aLabs podrá modificar estos términos y condiciones en cualquier momento, desplegando sus efectos desde el momento de su publicación en esta página. Debes estar atenta a las posibles actualizaciones del contenido. La última revisión se publicó el 01.05.2011.
<p>Aceptas utilizar el Sitio web únicamente con propósitos legales, y de manera que no restrinja o inhiba el uso y recreación del mismo por terceros.
<p>Las marcas, nombres comerciales y otros signos distintivos expuestos en este portal que nos sean de la titularidad de aLabs se regirán por lo dispuesto en la legislación aplicable a la licencia a que se atienen. aLabs no se hace responsable del posible uso que los usuarios puedan hacer de los mismo.
<p>No obstante lo anterior, se otorga permiso para copiar, distribuir y/o modificar los contenidos publicados (textos, fotografías, gráficos, imágenes, iconos, software, diseño gráfico, código fuente, etc.) en cualquiera de las páginas bajo el dominio de aLabs y que sean de su titularidad, salvo que se indique expresamente lo contrario, bajo los términos de la Licencia Creative Commons (CC BY-SA 3.0).
<p>aLabs no se hace responsable del contenido de sitios de Internet externos que pudieran ser enlazados en este Sitio web. 
<p>Cualquier comunicación o material que transmitas o envíes a cualquier área pública de este Sitio web incluidos datos, preguntas, comentarios, sugerencias, o similar, será tratado como información no confidencial y no patentada.
<p>aLabs excluye toda responsabilidad sobre los sitios enlazados desde este Sitio Web y no puede controlar que entre ellos aparezcan sitios de Internet cuyos contenidos puedan resultar ilícitos o ilegales en tanto no exista comunicación del órgano competente de conformidad con el Art 17 de la Ley 34/2002. Así mismo, a Labs no se hace responsable de aquellos contenidos que pudieran resultar contrarios a la moral o a las buenas costumbres. El usuario, por tanto, se obliga a hacer un uso diligente de la información, contenidos y servicios contenidos en los sitios enlazados.
<p>Estos términos y condiciones serán regidos e interpretados de acuerdo con las leyes del Estado español. Cualquier disputa estará sujeta a la exclusiva jurisdicción de los Tribunales españoles, sin perjuicio de que cualquier causa litigiosa pudiera resolverse mediante el Arbitraje de Derecho.
<p>Si no aceptas estos Términos y Condiciones en su totalidad, debes dar por terminado el uso de este sitio de forma inmediata.

{% endblock %}
