{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load cache %}
            {% block extrahead %}
    <meta name="description" content="Liberateca es una pagina de enlaces de nueva generación. Codigo libre, desarrollo abierto, sin publicidad, sin ánimo de lucro, comunitaria y autogestionada." />
    <meta name='keywords' content="liberateca, series, online, gratis, descarga directa, descargar, torrent, emule, mula, codigo abierto, libre, sin publicidad, sin animo de lucro, comunitaria, autogestionada" />
    <meta property="og:title" content="Liberateca | Omnia sunt communia" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:description" content="Liberateca es una pagina de enlaces de nueva generación. Codigo libre, desarrollo abierto, sin publicidad, sin ánimo de lucro, comunitaria y autogestionada." >
    <meta property="og:image" content="http://liberateca.net/static/images/logos/logo_square.png" />
{% endblock %}
{% block contents %}
        <h2 class="grid_12 caption clearfix center">{% blocktrans %}Omnia sunt communia. <span>Compartir es bueno</span>.{% endblocktrans %}</h2>
		<div class="hr grid_12 clearfix">&nbsp;</div>

<div class="grid_12" id="box">
    <h3 class="grid_11 mb_1">Series con mejor puntuación</h2>
    {% cache 500 serie_list %}
        <div id="js-container"> 
			{% for serie in series %}
                <div class="js-image {% cycle "size-1" "size-2" "size-3" %}" style="{% cycle "top:0px;left:0px;" "top:0px;left:101px;" "top:0px;left:178px;" "top:0px;left:324px;" "top:0px;left:426px;" "top:0px;left:502px;" "top:126px;left:0px;" "top:102px;left:101px;" "top:127px;left:330px;" "top:202px;left:481px;" "top:329px;left:505px;" "top:202px;left:583px;" "top:253px;left:0px;" "top:205px;left:102px;" "top:202px;left:179px;" %}"> 
                    {% thumbnail serie.poster.src "150x200" as img_serie %}
                        <a href="{{ serie.get_absolute_url }}"><img class="js-small-image" src="/static/{{ img_serie }}"/></a>
                    {% endthumbnail %}
                    <div class="js-small-caption">
                        <span>{{ serie.name }}</span>
                    </div>
                    <div class="js-overlay-caption-content">
                        <h4>{{ serie.name }}</h4>
                        <p>
                           {{ serie.description|truncatewords:40 }}<a href="{{ serie.get_absolute_url }}">Ver serie &raquo;</a>
                        </p>
                    </div>
                </div>
      		{% endfor %}
        </div>
		<div class="hr grid_12 clearfix">&nbsp;</div>
        <h4 class="grid_12 center mt_1">
            <a href="{% url serie_index %}" class="nobottom">
                Ver todas las series
                <img title="Ver más series" src="/static/images/go-next.png" class="nobottom valign" />
            </a>
        </h4>
        {% endcache %}
</div>

        <p class="grid_11 clearfix"></p>
        <div class="center">
            <div class="quicknavgrid_3">
            </div>
            <div class="quicknavgrid_3 quicknav">
                    <h4 class="title ">Errores o sugerencias</h4>
                    <p style="font-size:120%;">Estamos en fase peta, puedes ayudarnos <a href="http://liberateca.uservoice.com/">avisandonos de los errores veas en la web o que funcionalidades te gustarian</a>.</p>
            </div>
            <div class="quicknavgrid_3 quicknav">
                    <h4 class="title ">Desarrollo</h4>
                    <p style="font-size:120%;">Si quieres involucrarte en el desarrollo de la aplicacion puedes <a href="https://listas.alabs.es/mailman/listinfo/liberateca-dev">suscribirte a nuestra lista de desarrollo, donde nos coordinamos para trabajar</a>. </p>
            </div>
            <div class="quicknavgrid_3 quicknav">
                    <h4 class="title ">API v2</h4>
                    <p style="font-size:120%;">Si eres programador puede resultarte interesarte nuestra <a href="/api/">API para desarrollar tus aplicaciones</a>. </p>
            </div>
        </div>
{% endblock %}
{% block extrascript %}
    {% if image_avatar %}
        <script type="text/javascript">
            $.jGrowl("¡Tienes el avatar por defecto! Puedes cambiarlo <a href='/accounts/avatar/change/' title='Cambiar avatar'>ya mismo</a>.");
        </script>
    {% endif %}
{% endblock %}
