{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block extrahead %}
    <meta property="og:title" content="Liberateca | Omnia sunt communia" />
    <meta property="og:description" content="Liberateca es una pagina de enlaces de nueva generación. Codigo libre, desarrollo abierto, sin publicidad, sin ánimo de lucro, comunitaria y autogestionada." />
    <meta property="og:image" content="http://liberateca.net/static/images/logos/logo_square.png" />
{% endblock %}
{% block contents %}
        <h2 class="grid_12 caption clearfix center">{% blocktrans %}Comparte tus series, porque <span>compartir es bueno</span>.{% endblocktrans %}</h2>
		<div class="hr grid_12 clearfix">&nbsp;</div>

<div class="grid_12">
			{% for serie in series %}
                <div class="grid_1_5">
        		{% thumbnail serie.poster.src "150x200" as img_serie %}
          			<a href="{% url serie.views.get_serie serie_slug=serie.slug_name %}" class="portfolio_item float alpha">
                        <div class="preload" style="width:140px; height:190px;">
                            <img class="prel serie" id="{{ serie.id }}" alt="{{ serie.name }}" src="{{ img_serie.url }}">
                        </div>
                        <span class="center">{{ serie.name }}</span>
                    </a> 
        		{% endthumbnail %}
                </div>
      		{% endfor %}
            <a href="{% url serie_index %}" class="float right alpha">
                <img title="Ver más series" src="/static/images/go-next.png" id="go-next" />
            </a>

</div>

        <p class="grid_11 clearfix"></p>
        <div class="center">
            <div class="quicknavgrid_3">
            </div>
            <div class="quicknavgrid_3 quicknav">
                    <h4 class="title ">Errores o sugerencias</h4>
                    <p style="font-size:120%;">Estamos en fase peta, puedes ayudarnos <a href="http://liberateca.uservoice.com/">avisandonos de los errores veas en la web o que funcionalidades te gustarian</a>.</p>
            </div>
            <div class="quicknavgrid_3 quicknav">
                    <h4 class="title ">Desarrollo</h4>
                    <p style="font-size:120%;">Si quieres involucrarte en el desarrollo de la aplicacion puedes <a href="https://listas.alabs.es/mailman/listinfo/liberateca-dev">suscribirte a nuestra lista de desarrollo, donde nos coordinamos para trabajar</a>. </p>
            </div>
            <div class="quicknavgrid_3 quicknav">
                    <h4 class="title ">API v2</h4>
                    <p style="font-size:120%;">Si eres programador puede resultarte interesarte nuestra <a href="/api/">API para desarrollar tus aplicaciones</a>. </p>
            </div>
        </div>



{% endblock %}
