{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load cache %}
{% load tagcloud %}
{% block title %}{% trans "Series" %} | Liberateca{% endblock %}
{% block sidebar %}
			<!-- BROWSE -->
        <h1 class="center margin">
          {% if object_type == "serie" %}
          Series
          {% endif %}
          {% if object_type == "book" %}
          Libros
          {% endif %}
        </h1>
          {% if object_type == "serie" %}
                <div id="box">
                    <a class="btn primary" href="{% url add_serie %}" style="vertical-align:middle;">
                        <img class="left nobottom" src="/static/images/list-add.png">
                        <p class="right nobottom">Agregar serie</p>
                    </a>
                </div>

                <div id="box">
                    <h2 class="nobottom">
                        <a id="popularity" href="/series">Popularidad</a>
                    </h2>
                </div>
          {% endif %}
          {% if object_type == "book" %}
                <div id="box">
                    <a class="btn primary" href="{% url add_book %}" style="vertical-align:middle;">
                        <img class="left nobottom" src="/static/images/list-add.png">
                        <p class="right nobottom">Agregar libro</p>
                    </a>
                </div>

                <div id="box">
                    <h2 class="nobottom">
                        <a id="popularity" href="/books">Popularidad</a>
                    </h2>
                </div>
          {% endif %}

                <div id="box">
                    <div class="center" id="alf">
                        <a class="navigator" href="#/letter/0/">0-9</a>
                        <a class="navigator" href="#/letter/A/">A</a>
                        <a class="navigator" href="#/letter/B/">B</a>
                        <a class="navigator" href="#/letter/C/">C</a>
                        <a class="navigator" href="#/letter/D/">D</a>
                        <a class="navigator" href="#/letter/E/">E</a>
                        <a class="navigator" href="#/letter/F/">F</a>
                        <a class="navigator" href="#/letter/G/">G</a>
                        <a class="navigator" href="#/letter/H/">H</a>
                        <a class="navigator" href="#/letter/I/">I</a>
                        <a class="navigator" href="#/letter/J/">J</a>
                        <a class="navigator" href="#/letter/K/">K</a>
                        <a class="navigator" href="#/letter/L/">L</a>
                        <a class="navigator" href="#/letter/M/">M</a>
                        <a class="navigator" href="#/letter/N/">N</a>
                        <a class="navigator" href="#/letter/O/">O</a>
                        <a class="navigator" href="#/letter/P/">P</a>
                        <a class="navigator" href="#/letter/Q/">Q</a>
                        <a class="navigator" href="#/letter/R/">R</a>
                        <a class="navigator" href="#/letter/S/">S</a>
                        <a class="navigator" href="#/letter/T/">T</a>
                        <a class="navigator" href="#/letter/U/">U</a>
                        <a class="navigator" href="#/letter/V/">V</a>
                        <a class="navigator" href="#/letter/W/">W</a>
                        <a class="navigator" href="#/letter/Y/">Y</a>
                        <a class="navigator" href="#/letter/Z/">Z</a>
                    </div>
                </div>

                <div class="hr clearfix">&nbsp;</div>
          {% if object_type == "serie" %}
                {% cache 500 sidebar_serie %}
				<!-- BY GENRE -->
                <div id="box">
                    <h1 class="nobottom"><a href="#" class="show_tagcloud genre">Géneros</a></h1>
                    {% tagcloud "Genre" "50" "5"%}
                </div>

				<!-- BY NETWORK -->
                <div id="box">
                    <h1 class="nobottom"><a href="#" class="show_tagcloud network">Cadenas</a></h1>
                    {% tagcloud "Network" "50" "5"%}
                </div>
                {% endcache %}
          {% endif %}
          {% if object_type == "book" %}
                {% cache 500 sidebar_book %}
				<!-- BY CATEGORY -->
                <div id="box">
                    <h1 class="nobottom"><a href="#" class="show_tagcloud category">Categorias</a></h1>
                    {% tagcloud "Category" "50" "5"%}
                </div>

				<!-- BY AUTHOR -->
                <div id="box">
                    <h1 class="nobottom"><a href="#" class="show_tagcloud author">Autores</a></h1>
                    {% tagcloud "Author" "50" "5"%}
                </div>
                {% endcache %}
          {% endif %}
{% endblock %}
{% block contents %}
  <div id="generic_list" class="center">
    <div class="js-container-wall">
      {% if object_type == "serie" %}
        {% cache 500 list_series %}
          <!-- THUMBNAILS -->
          {% include "core/generic_list.html" with obj_type="serie" %}
        {% endcache %}
      {% endif %}
      {% if object_type == "book" %}
        {% cache 500 list_book %}
          <!-- THUMBNAILS -->
          {% include "core/generic_list.html" with obj_type="books" %}
        {% endcache %}
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
