{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block contents %}

<h1> Política de Privacidad</h1>

<p>El sitio web bajo el dominio liberateca.net, operada por la Asociación aLabs (en adelante "aLabs"), se compromete a proteger tus datos personales a través de todos los medios tecnológicos a su disposición y a utilizarlos, exclusivamente, con las finalidades propias del Sitio web y aquellas para las que des tu consentimiento expreso. Este compromiso que adquirimos contigo, tiene otra serie de condiciones que debes conocer.

<h2>Cancelación y rectificación de datos</h2>

<p>Cualquier usuario podrá ejercer sus derechos de acceso, rectificación o cancelación de datos, así como la revocación del consentimiento a través de una solicitud enviada al correo electrónico de Liberateca prevista para tal efecto.

<p>La dirección de correo para ejercitar estas acciones es lopd[arroba]liberateca.net

<p>Así mismo, puedes ponerte en contacto con Liberateca, dirigiédote a sus gestores, la asociación aLabs, a través de la dirección de la siguiente dirección: C/ Embajadores nº35, local 6, 28012, Madrid. 

<h2>Responsables de los datos personales</h2>

<p>Liberateca es administradora de los datos que le proporcionas, y el uso de los mismos se corresponderá exclusivamente con la finalidad propia del Sitio web o aquella que el usuario le haya asignado.

<h2>Menores de edad</h2>

<p>Liberateca entiende la importancia de proteger la privacidad de los menores en Internet. No forma parte de nuestra política recoger ningún dato personal relativo a los usuarios menores de 13 años. Si eres menor, te recomendamos que solicites ayuda a tus padres y te pedimos que no utilices la herramienta de email ni la aplicación para hacer donaciones.

<h2>Información de interés</h2>

<h3>Cookies</h3>

<p>Liberateca controla estadísticas de acceso y podría usar cookies para llevarlas a cabo. Si quieres desactivar las cookies, puedes hacerlo en las opciones de tu navegador, pero es posible que no puedas acceder después a distintas partes del Sitio web.

<h3>Rastreos</h3>

<p>Con el propósito de ofrecer un mejor servicio a los Usuarios, estudiamos los datos de tráfico en el Sitio web. Para ello utilizamos un resgistro de IP que nos ayude a entender mejor el origen de las visitas y, en consecuencia, los servicios que podemos ofrecer.

<p>En algunos emails enviados por Liberateca, además, se contendrán localizadores URL, que permiten identificar a las personas que deciden interactuar en el Sitio web.

<h3>Enlaces </h3>
<p>Liberateca se puede enlazar recíprocamente con otros sitios web. Evidentemente, estos sitios web operados por terceras partes tienen sus propias políticas de privacidad y términos de uso fuera de todo control por parte de aLabs. No podemos hacernos responsables, por tanto, del contenido, publicidad, productos u otros materiales que se contengan en esos otros sitios web. Haciedo uso de este Sitio web aceptas que L‫iberateca no se hace responsable directo o indirecto de los daños o perjuicios derivado de dichos contenidos de teceros.

<p>Por último, te recordamos que puedes ponerte en contacto con nosotras para solucionar cualquier duda a través de la dirección info[arroba]liberateca.net.


{% endblock %}
