{% load i18n %}
{% extends "registration/registration_base.html" %}
{% block title %}{% if account %}{% trans "Activación completa" %}{% else %}{% trans "Problema en la Activación" %}{% endif %}{% endblock %}
{% block contents %}
<h2 class="grid_12 caption clearfix">
{% if account %}
{% trans "Gracias" {{ account }}, {% trans "tu activación se ha completado. Ahora puedes" %} <span><a href='{% url auth_login %}'>{% trans "iniciar sesión" %}</a></span>.
{% else %}
{% trans "Oops; parece que el codigo de activacion es invalido. Comprueba que la URL sea la correcta" %}
{% endif %}
</h2>
{% endblock %}

