{% extends "base.html" %}
{% load i18n %}
{% block title %}Iniciar sesión | Liberateca{% endblock %}
{% block contents %}
{% if request.user.is_authenticated %}
    <h2 class="grid_12 caption clearfix">{% trans "Ya has iniciado sesión." %}! {% trans "Vete a ver algunas" %} <a href="{% url serie_index %}">series</a></h2>
{% else %}
<!-- LOGIN form -->
<div id="box" class="center login_box">
    <h1>Acceder</h1>
    <form id="login_form" method="post" action="{% url django.contrib.auth.views.login %}">
      {% csrf_token %}
        <ul>
            {{ form.as_ul }}
            <li><input type="hidden" name="next" value="{{ next }}" />
            <li><input type="submit" id="send_access" class="button" value="Acceder" />
        </ul> 
            <p><a href="{% url auth_password_reset %}">¿Has olvidado tu contraseña?</a></p>
            <p><a href="/accounts/register/">¿No tienes una cuenta? Regístrate</a> </p>
    </form>  
</div>


{% endif %}

{% endblock %}
