{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}Cambiar contraseña | Liberateca{% endblock %}
{% block contents %}
<h2 class="grid_12 caption clearfix">
{% trans "¿Has olvidado tu contraseña? Ingresa tu correo electrónico en este formulario y te enviaremos instrucciones para que la cambies" %}
</h2>
		<div class="hr grid_12 clearfix">&nbsp;</div>

		<!-- column 1 / content -->
<div class="grid_8">
	<form method='post' action='' id="contact_form" >
	<ul>
    {{ form.as_ul }}
	</ul>
		<div id="button">
			<input type='submit' value="{% trans "Cambia tu contraseña" %}" id="send_message" class="btn primary" />
		</div>
	</form>
</div>
{% endblock %}
