{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}Cambiar contraseñ{% endblock %}
{% block contents %}
<h2 class="grid_12 caption clearfix">
{% trans "Has olvidado tu contraseña? Entra tu correo electrónico en este formulario y te enviaremos instrucciones para que la cambies" %}
</h2>
		<div class="hr grid_12 clearfix">&nbsp;</div>

		<!-- column 1 / content -->
<div class="grid_8">
	<form method='post' action='' id="contact_form" >
	<ul>
		<li class="clearfix"> 
			<label for="email">{% trans "Correo electronico" %}:</label>
			<input id="email" name="email" maxlength="75" type="text">
			<div class="clear"></div>
			<p id='email_error' class='error'>{% trans "correo electronico no encontrado" %}</p>
		</li> 
	</ul>
		<div id="button">
			<input type='submit' value="{% trans "Cambia tu contraseña" %}" id="send_message" class="button" />
		</div>
	</form>
</div>
{% endblock %}
