{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}Registrate para una cuenta | Liberateca{% endblock %}
{% block contents %}
{% if request.user.is_authenticated %}
	<h2 class="grid_12 caption clearfix">{% trans "Ya has iniciado sesión." %}! {% trans "Vete a ver algunas" %} <a href="/series">series</a></h2>
{% else %}
<!-- REGISTER form -->
<div id="box" class="center login_box">
    <h1>Registro de usuario</h1>
    <form class="center" method='post' action="{% url registration_register %}">
        <ul class="controls">
            {{ form.non_field_errors }}
            <li class="fieldwrapper">
                {{ form.username.errors }}
                <label for="id_username">Nombre de usuario:</label>
                {{ form.username }}
            </li>
            <li class="fieldwrapper">
                {{ form.email.errors }}
                <label for="id_email">Correo electrónico:</label>
                {{ form.email }}
            </li>
            <li class="fieldwrapper">
                {{ form.password1.errors }}
                <label for="id_password1">Contraseña:</label>
                {{ form.password1 }}
            </li>
            <li class="fieldwrapper">
                {{ form.password2.errors }}
                <label for="id_password2">Contraseña (de nuevo):</label>
                {{ form.password2 }}
            </li>
            <input type='submit' id='send_registration' class="button" value='{% trans "Enviar correo de activación" %}' />
            <li>
                <p><a href="{% url auth_password_reset %}">¿Tienes una cuenta y has olvidado tu contraseña?</a></p>
            </li>
        </ul> 
    </form>  
</div>
{% endif %}
{% endblock %}
