{% extends "registration/registration_base.html" %}
{% block title %}{% if account %}Activation complete{% else %}Activation problem{% endif %}{% endblock %}
{% block contents %}
<h2 class="grid_12 caption clearfix">
{% if account %}
Thanks {{ account }}, activation complete!  You may now <span><a href='{% url auth_login %}'>login</a></span> using the username and password you set at registration.
{% else %}
Oops &ndash; it seems that your activation key is invalid.  Please check the url again.
{% endif %}
</h2>
{% endblock %}

