{% extends "registration/registration_base.html" %}
{% block title %}Reset password{% endblock %}
{% block contents %}
<h2 class="grid_12 caption clearfix">
Forgot your password?  Enter your email in the form below and we'll send you
instructions for creating a new one.
</h2>
		<div class="hr grid_12 clearfix">&nbsp;</div>

		<!-- column 1 / content -->
<div class="grid_8">
	<form method='post' action='' id="contact_form" >
	<ul>
		<li class="clearfix"> 
			<label for="email">E-mail:</label>
			<input id="email" name="email" maxlength="75" type="text">
			<div class="clear"></div>
			<p id='email_error' class='error'>email not found in users</p>
		</li> 
	</ul>
		<div id="button">
			<input type='submit' value="Reset password" id="send_message" class="button" />
		</div>
	</form>
</div>
{% endblock %}
