{% extends "registration/registration_base.html" %}
{% block title %}{% trans "Registrate para una cuenta" %}{% endblock %}
{% block contents %}
			<div class="grid_13">
				Bienvenido a la version beta de LiberCopy. De momento el acceso es solo bajo invitacion, mas que nada para hacer el buzz que tuvo GMail y Google Wave y todos los chicos cool del barrio.
			</div>
			<div class="grid_14">
				<h3>register</h3>
				<div class="hr dotted clearfix">&nbsp;</div>
				<!-- REGISTER form -->
				<form method='post' action="{% url registration_register %}?invitation_key={{invitation_key}}" id="login_form">
					{{ form.as_p }}
						<div id="button">
						<input type='submit' id='send_message' class="button" value='send activation mail' />
						</div>
						</li> 
					</ul> 
				</form>  
			</div>
{% endblock %}
