{% extends "base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}Invitaciones a formar parte de {{SITE_NAME}} {% endblocktrans %}{% endblock %}
{% block contents %}
{% if remaining_invitations == 0 %}
<h2 class="grid_12 caption clearfix">
	{% trans "Ya has gastado todas las invitaciones :(" %}
</h2>
{% else %}
<h2 class="grid_12 caption clearfix">
	{% trans "Tienes" %} {{remaining_invitations}} {% trans "invitaciones restantes" %}
</h2>

	<form action="." method="post" id="invitation_form">
    {% if error_registered %}
        <ul class="error_list"> 
            <li>{{ error_registered }}
        </ul>
    {% endif %}
	<ul>
	{{ form.as_ul }}
	<li><input class="button" type="submit" value="{% trans "Enviar invitacion" %}" /></li>
	</ul>
	</form>
{% endif %}
{% endblock %}
