{% extends "base_stripped.html" %}
{% load i18n %}
{% block title %}Liberateca: Omnia sunt communia{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(function() {
            $( "#accordion" ).accordion();
                });
</script>
{% endblock %}
{% block contents %}
    <!-- RIBBON -->
    <img src="/static/images/ribbon.gif" border="0" width="150" height="150" alt="Peta" style="position:absolute; right:0px; top:0px; margin:0px; padding:0px" />
<div class="dialog"> 
	<br/>
    <img src="/static/images/logo.png" alt="liberateca" width="100" />
    <h2>{{ SITE_NAME }}</h2>
    <p> 
        {% blocktrans %}
        Liberateca es una pagina de enlaces de nueva generación. 
            <p>
                <ul>
                <li>Puedes <b>votar, comentar y valorar</b> tanto las series como los enlaces.
                    <li>Nos coordinamos a traves de una <a href="http://listas.alabs.es/mailman/listinfo/liberateca-dev">lista de correo</a> para ir mejorando la web. Cualquiera puede participar. 
                    <li>Hemos <a href="http://github.com/alabs/petateca">liberado el codigo</a> con el que esta hecha la web para que puedas modificarla y mejorarla. 
                    <li>Para los programadores, tenemos una <b>API</b> para que puedas acceder a nuestros datos y hacer tus aplicaciones
                </ul>
            </p>
        {% endblocktrans %}
    </p> 
    <div id="accordion">
        <h3 class="header"><a href="#">{% trans "Ingresar" %}</a></h3>
        <div>
            <!-- LOGIN form -->
            <form method="post" action="." id="signin_form">
                <ul class="signin_list">						
                    {{ form.as_ul }}
                    <input type='submit' id='send_message' class="button" value='{% trans "Ir a Liberateca" %}' />
                </ul> 
            </form>  
                <a href="{% url auth_password_reset %}">¿Has olvidado tu contraseña?</a>
        </div>
        <h3 class="header"><a href="#">{% trans "Pedir invitación" %}</a></h3>
        <div>
                    <p> Puedes pedir una invitacion rellenando tu correo y proximamente te la enviaremos </p>
                        <form method="post" action="{% url request_invitation %}" id="signin_form">
                        <ul>
                            <li>
                                <label> Email </label>
                                <input id='id_username' name='mail' type='text' /> 
                            </li>
                            <input type='submit' id='request_invitation' class="button" value='Pedir Invitación' />
                        </form>  
        </div>
     </div>
        
<p style="text-align:right;"><i>Omnia sunt communia</i> -- <b>Equipo de {{ SITE_NAME }}</b></p>
</div>
<br />
<br />
<br />
{% endblock %}
