{% extends "base_stripped.html" %}
{% block title %}LiberaTeca: la bilioteca del siglo XXI - Omnia Sunt Communia{% endblock %}
{% block extrastyle %}
	<style type="text/css"> 
		body { background-color: #fff; color: #eeeeee; text-align: center; font-family: arial, sans-serif; }
		div.dialog {
			width: 60em;
			padding: 0 4em;
			margin: 4em auto 0 auto;
			border: 1px solid #ccc;
			border-right-color: #b6e19f;
			border-bottom-color: #b6e19f;
			background-color: #717171;
			font-size: 120%;
		}
		.header { 
            font-size: 130%; 
            line-height: 1.5em; 
            background-color: #333333;
        }
        a:link {
            color: #fff;
        }
	</style> 
{% endblock %}
{% load i18n %}
{% block contents %}
<div class="dialog"> 
	<br/>
    <img src="/static/images/logo.png" alt="liberateca" width="100" />
    <h2>{{ SITE_NAME }}</h2>
    <p> 
    {% trans "Gracias por interesarte en LiberaTeca, te enviaremos una invitación proximamente" %}
    </p>
<p style="text-align:right;"><i>Omnia Sunt Communia</i> -- <b>Equipo de {{ SITE_NAME }}</b></p>
</div>
{% endblock %}
