{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Codigo de Invitacion erroneo" %} | Liberateca{% endblock %}
{% block contents %}
<h2 class="grid_12 caption clearfix">
{% blocktrans %}
Tienes un codigo de invitacion erroneo. Si no es asi, ponte en contacto con el admin en {{ADMIN_MAIL}}
Si no tienes invitacion, puedes pedir una en {{INVITATION_MAIL}}. Las peticiones mas originales tendran el visto bueno y podran ser nuestros amigos, sino pasaremos de ti.
{% endblocktrans %}
</h2>
{% endblock %}
