#results {
	background-color: #fff;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	display: none;
	font-family: arial;
	font-size:15px;
	margin-left: 2px;
}

#results div{
	width: 215px;
}

.results {
	border-right: 1px solid #666;
	background-color: #000;
}

#results .selected {
	background-color: #666;
	border-right: 1px solid #666;
	color: #fff;
}

#results .unselected {
	background-color: #fff;
	border-right: 1px solid #666;
	color: #666;
}
