@import 'reset.css';

body{color:#7d7d7d;font-family:Arial,sans-serif; }

a{ color:#7d7d7d;text-decoration: none;}
a:hover{ color:#7d7d7d;text-decoration: underline;}


#back{
	background-image: url(../images/topdegra.png);
	background-repeat: repeat-x;
}

#main{
	width: 900px;	
	margin: 0px auto;
	height: 100px;
	padding: 1em;

}
	#logo{
		float:left;
		background-image: url(../images/logo.png);
		background-repeat: none repeat;
		width: 241px;
		height: 81px;
		display:block;
		text-indent:-9999px;
	}

	#top-menu{
		float:right;		
		width: 600px;
		margin-top: 35px;
		font-size:0.8em;
	}
		#top-menu ul li{display:inline;margin-left: 0.8em;}
	
	#frase{
		float:left;
		width:100%;
		margin-top:10px;
		text-align: right;
		font-size: 1.5em;
		color: #F4792A;
	}

	#search {
		float:right;
		font:0.8em;
		/*margin:0 38px 15px 0;*/
		margin-top:-1.4em;
	}

		img, :link img, :visited img, fieldset {
			border:medium none;
		}

		input.field {
			background:none repeat scroll 0 0 #A0A0A0;
			border:0 none;
			color:#eee;
			float:left;
			margin-right:5px;
			padding:4px;
			width:175px;
		}

		input.button {
			background:url("../images/search.gif") no-repeat scroll 6px 5px #595959;
			border:0 none;
			cursor:pointer;
			float:right;
			height:21px;
			width:25px;
			margin-top:2px;
		}

	#series-menu{
		float:left;
		width:200px;
/*		margin-top:80px;*/
		margin-left:25px;
		font-size:0.9em;
	}

	#panel{
/*		float:right;*		background-image: url(../images/fotos.png);
		background-repeat: none repeat;
		width: 655px;
		height: 306px;
		margin-top: 20px;
*/

	}

	#dock{
		margin-top:270px;
	}

	#line{
		width: 100%;
		height: 230px;
		background-color: #eee;
		margin-top:315px;		
	}

	#textos{
		float:left;
	}

	.text{
		float:left;
		padding:1em;
		width: 270px;
		font-size: 0.8em;
		margin-top:25px;
	}
	.text h2{ font-size:1.5em;color:#F4792A}
	.text p{padding:1em;}

	.text2{
		float:left;
		padding:1em;
		width: 270px;
		font-size: 0.8em;
		margin-top:25px;
	}
	.text2 h2{ font-size:1.5em;}
	.text2 p{padding:1em;}

/* fisheye */

.dock-container { position: relative; top: -8px; height: 50px; padding-left: 20px; }
a.dock-item { display: block; width: 50px; position: absolute; bottom: 0; text-align: center; text-decoration: none; color: #F4792A;font-weight:bold;}
.dock-item span { display: none; padding-left: 20px; }
.dock-item img { border: 0; margin: 5px 10px 0px; width: 100%; }

/* rating */


.titulo_serie {
	float:right; 
        font-size: 3em;
}

#rating {
        float:right;
}



#content {
        margin-top: 100px; 
}

#poster {
	float:right;
}

#message_box { 
	 position: absolute; 
	 top: 0; left: 0; 
	 z-index: 10; 
	     background:#ffc;
	     padding:5px;
	 border:1px solid #CCCCCC;
	 text-align:center; 
	 font-weight:bold; 
	 width:99%;
}

