{% extends "base.html" %}
{% load i18n %}
{% block contents %}
<h1>{{ serie.name }}</h1>
<ul>
  <li>
    {% trans "Episodes" %}:
    <ul>
      {% for episode in serie.episodes.all %}
      <li><a href="{% url liberweb.serie.views.get_episode serie_slug=serie.slug_name episode_slug=episode.slug_title %}">{{ episode.title }}</a></li>
      {% endfor %}
    </ul>
  </li>

  <a href="{% url serie-index %}">{% trans "Series list" %}</a>
  <br/>
  <a href="{% url liberweb.serie.views.get_serie serie_slug=serie.slug_name %}">{% trans "Back to" %} {{ serie.name }}</a>

{% endblock %}
