{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block contents %}

<h1>{{ actor.name }}</h1>

  {% if image %}{% thumbnail image "400x300" as img_actor %}
      <img id="poster" src="{{ img_actor.url }}" />{% endthumbnail %}
  {% else %}
            <img src="/static/images/image_not_available.png" height=400> 
  {% endif %}

    <ul> 
      <li> {{role.role}} - <a href="{{ role.serie.get_absolute_url }}">{{role.serie}}</a> </li>
    {% if role.serie.images.get_is_poster.0.src %}
    <a href="{{ role.serie.get_absolute_url }}">
        {% thumbnail role.serie.images.get_is_poster.0.src "300x300" as img_serie %}
          <img src="{{ img_serie.url }}" />
        {% endthumbnail %}
      </a>
    {% else %}
            <img src="/static/images/image_not_available.png" height=100> 
    {% endif %}
    </ul>

<br />
<a href="{% url actor-serie-list %}">{% trans "Actors list" %}</a>
<br /> 
</a>
{% endblock %}
