{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block contents %}

<h1>{{ actor.name }}</h1>

  {% if image %}{% thumbnail image "400x300" as img_actor %}
      <img id="poster" src="{{ img_actor.url }}" />{% endthumbnail %}
  {% else %}<div class="image_not_found"> Este actor no tiene imagen</div>
  {% endif %}

    <ul> 
      <li> {{role.role}} - <a href="{{ role.serie.get_absolute_url }}">{{role.serie}}</a> </li>
    </ul>

<br />
<a href="{% url actor-serie-list %}">{% trans "Actors list" %}</a>
<br /> 
</a>
{% endblock %}
