{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load comments %}
{% load extract_domain %}
{% load message_box %}
{% block extrastyle %}   
    <link rel="stylesheet" href="/static/css/jquery.rating.css" type="text/css" />{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="/static/js/jquery.MetaData.js"></script>
    <script type="text/javascript" src="/static/js/jquery.rating.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".redhearthover").hover(function() {
       $(this).attr('src', '/static/images/heart_black.png');
}, function(){
       $(this).attr('src', '/static/images/heart_red.png');
    });
    $(".blackhearthover").hover(function() {
       $(this).attr('src', '/static/images/heart_red.png');
}, function(){
       $(this).attr('src', '/static/images/heart_black.png');
    });
}); 
</script>{% endblock %}
{% block contents %}
<!-- MESSAGES -->
{% spaceless %}
    {% if message == "No registrado" %}
     {% message_box "Debe <a href='/accounts/login/?next={{request.path}}'>registrarse o iniciar sesion</a> para votar" %} 
    {% else %}{% if message == "Vote recorded" %}
      {% message_box "Voto registrado" %}
    {% else %}{% if message == "You have already voted" %}
      {% message_box "Ya ha votado" %}
    {% else %}{% if message %}
      {% message_box "{{ message }}" %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% if error %}
      {% message_box "Couldn't vote :/" %}
    {% endif %}
{% endspaceless %}

<!-- COLUMN 1 -->
<div class="grid_3">
	<!-- TITLE -->
	<h4 class="title">{{serie.name|title}}</h4>
	<!-- IMAGE -->
	{% if image %}{% thumbnail image "400x300" as img_serie %}
	<img id="poster" src="{{ img_serie.url }}" />{% endthumbnail %}
	{% else %}<div class="image_not_found">  <img src="/static/images/image_not_available.png" height=100> </div>
	{% endif %}
	<!-- FAVORITE -->
	    {% if favorite == "no" %}
	  <form class="favorite" id="favorite" action="." method="POST">
	    <input type="hidden" name="favorite" value="favorite"/>
	    <input type="image" class="blackhearthover" src="/static/images/heart_black.png">
	  </form>
	  {% else %} {% if favorite == "yes" %}
	  <form class="favorite" id="favorite" action="." method="POST">
	    <input type="hidden" name="no-favorite" value="no-favorite"/>
	    <input type="image" class="redhearthover" src="/static/images/heart_red.png">
	  </form>
	    {% endif %}
	    {% endif %}
	<!-- RATING -->
	  <div id="rating">
	    <form action="." method="POST">
	      <input type="radio" name="user_rating" value="1" class="star" {% if score == 1 %}checked="checked"{% endif %}/>
	      <input type="radio" name="user_rating" value="2" class="star" {% if score == 2 %}checked="checked"{% endif %}/>
	      <input type="radio" name="user_rating" value="3" class="star" {% if score == 3 %}checked="checked"{% endif %}/>
	      <input type="radio" name="user_rating" value="4" class="star" {% if score == 4 %}checked="checked"{% endif %}/>
	      <input type="radio" name="user_rating" value="5" class="star" {% if score == 5 %}checked="checked"{% endif %}/>
	      <button type="submit">Rate</button>
	    </form>
	  </div>
		<div class="hr dotted clearfix">&nbsp;</div>
	<!-- NETWORK -->
	{% if serie.network.name %}
	<h4>{% trans "Network" %}:</h4> 
		<a class="button float" href="{{ serie.network.get_absolute_url }}">{{ serie.network.name }}</a>
	{% endif %}
	<div class="hr dotted clearfix">&nbsp;</div>
	<!-- GENRE -->
	<h4>{% trans "Genre" %}:</h4> 
      		{% for genre in serie.genres.all %}
			<a class="button float" href="{{ genre.get_absolute_url}}">{{ genre.name }}</a>
		{% endfor %}
	<div class="hr dotted clearfix">&nbsp;</div>
	<!-- RUNTIME -->
	<h4>{% trans "Runtime" %}:</h4> {{ serie.runtime }} {% trans "minutes" %}
		<div class="hr dotted clearfix">&nbsp;</div>
	<!-- BUTTONS -->
		<p class="clearfix">
		<a href="/series" class="button float">&lt;&lt; Back to Series</a>
		</p>
		<p class="clearfix">
		{% get_comment_count for serie as comment_count %}
		<a href="#comments" class="button float">{{comment_count}} Comments</a>
		</p>
</div>

		
<!-- COLUMN 2 -->
<div class="grid_7">
	<!-- DESCRIPTION -->
	<p class="clearfix"> {{ serie.description }}</p>
	<!-- ACTORS -->
	<h2><span>{% trans "Actors" %}</span></h2>
	{% for actor in serie.actors.all %}
		{% if actor.role_set.all.0.role %}
			<a class="portfolio_item float alpha" href="{{ actor.get_absolute_url }}">
			<span>{{ actor.name }} as {{actor.role_set.all.0.role}}</span>
		       {% if actor.images.get %}{% thumbnail actor.images.get.src "180x180" as img_actor %}
			<img id="actor_list" src="{{ img_actor.url }}" />{% endthumbnail %}
			{% else %}<img id="actor_unknown" width="120" height="180" src="/static/images/image_not_available.png">
			{% endif %}
			</a>
		{% endif %}
	{% endfor %}
</div>

<!-- COLUMN 3 -->
<div class="grid_1">
	<!-- SEASONS -->
	<h2><span>{% trans "Seasons" %}</span></h2>{% for season in season_list %}
	<a class="portfolio_item float alpha" href="{{ season.get_absolute_url }}">
	<span>{% trans "Season" %} {{ season.season }}</span> 
	{% if season.images.all.0 %} {% thumbnail season.images.all.0.src "180x160" as img_season %} 
	<img src="{{ img_season.url }}" alt=""/>{% endthumbnail %}
	{% else %}<div class="image_not_found">
	<img src="/static/images/image_not_available.png" width=110></div>
	{% endif %}
	</a>{% endfor %}
		
</div>

<div class="hr clearfix">&nbsp;</div>
<div id="comments">
	<!-- COMMENTS -->
	<h2> Comments </h2>
	{% render_comment_list for serie %}
	{% if comment_count == 0 %}
	<p> There are no comments yet. Be the first!</p>
	{% endif %}

	<!-- ADD A COMMENT -->
	{% with request.path as next %}
	{% render_comment_form for serie %}
	{% endwith %}
</div>
<div class="hr clearfix">&nbsp;</div>

{% endblock %}
