{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load extract_domain %}
{% load voting_tags %}
{% block title %} {{serie.name}} - Season {{ episode.season }} {% endblock %}
{% block contents %}
{% votes_by_user user on link_list as vote_dict %}
{% scores_for_objects link_list as score_dict %}
{{ episode }}

{% if message == "No registrado" %}
  <div id="message_box" style="font-size:small;"><img id="close_message" style="float:right;cursor:pointer"  src="/static/img/close.png" />Debe <a href="/accounts/login/?next={{request.path}}">registrarse o iniciar sesion</a> para votar</div>
{% endif %}

<div class="titulo_serie">{{serie.name}} - Season {{ episode.season }}</div>
    <table style="width: 800px;" cellpadding="0" cellspacing="0">
      <tr>
        <td>E</td>
        <td>Name</td>
        <td>Description</td>
        <td>Image</td>
      </tr>
    {% for episode in episode_list %} 
      <tr> 
       <td> {{ episode.episode }} </td> 
       {% url liberweb.serie.views.get_episode serie_slug=serie.slug_name season=episode.season episode=episode.episode as url_epi %}
       <td> <a href="{{ url_epi }}">{% if episode.title %} {{ episode.title }} {% else %} Episode {{ episode.episode }} {% endif %}</a></td> 
       <td> {{ episode.description }} </td> 
       <td> {% if episode.images.all.0.src %} 
              {% thumbnail episode.images.all.0.src "200x200" as img_epi %} 
                <img class="img_epi" src="{{ img_epi.url }}"> 
              {% endthumbnail %} 
            {% else %}
            <img src="/static/images/image_not_available.png" height=100> 
            {% endif %}</td> 
      </tr>
      <tr>
      {% if episode.links.all %}
        <table class="links">
            <tr> <td> </td>  <td> Domain </td> <td> Audio </td> <td> Subtitles </td> <td> Votes </td> </tr>
          {% for link in episode.links.all %}
            <tr>
              <td> </td>
              <td> <a href="{{ link.url }}"> {{ link.url|extract_domain }}</a> </td>
              <td> {{ link.audio_lang }} </td><td> {{ link.subtitle }}</td>
              <!-- Voting -->
              <td class="vote">
                {% score_for_object link as score %}
                <form class="linkvote" id="linkup{{ link.id }}" action="." method="POST">
                  <input type="hidden" name="vote" value="upvote"/>
                  <input type="hidden" name="linkid" value="{{ link.id }}"/>
                  <input type="image" id="linkuparrow{{ link.id }}" src="/static/img/aup{% if vote and vote.is_upvote %}mod{% else %}grey{% endif %}.gif">
                </form>

                <a href="{{ link.url }}">{{ link.title|escape }}</a></h2>
                <p class="details">
                  <span class="score" id="linkscore{{ link.id }}"
                        title="after {{ score.num_votes|default:0 }} vote{{ score.num_votes|default:0|pluralize }}">
                   {{ score.score|default:0 }} 
                  </span>
                    </p>

                <form class="linkvote" id="linkdown{{ link.id }}" action="." method="POST">
                  <input type="hidden" name="vote" value="downvote"/>
                  <input type="hidden" name="linkid" value="{{ link.id }}"/>
                  <input type="image" id="linkdownarrow{{ link.id }}" src="/static/img/adown{% if vote and vote.is_downvote %}mod{% else %}grey{% endif %}.gif">
                </form>

              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
         No links available
      {% endif %}
     </td>
     </tr>
    {% endfor %}

{% endblock %}
