{% extends "base.html" %}
{% load i18n %}
{% block contents %}
{% regroup episode_list by season as episode_list %}

<h1>{{ serie.name }}</h1>
<ul>
  <li>
    {% trans "Episodes" %}:
    <ul>
      {% for episode in episode_list %}
      <br/>
        <li>{% trans "Season" %} {{ episode.grouper }}
        <ul>
         <table>
          <tr>
           <th colspan="10"> Season  <th>
           <th colspan="10"> Episode  <th>
           <th colspan="30"> Name <th>                                    
          </tr>
	  {% for episode in episode.list %}
           <tr>
             <td colspan="10"> {{ episode.season }} </td>
             <td colspan="10"> {{ episode.episode }} </td>
             <td colspan="30"><a href="{% url liberweb.serie.views.get_episode serie_slug=serie.slug_name season=episode.season episode=episode.episode %}">{{ episode.title }}</a></td>
           </tr>
          {% endfor %}
        </ul>
        </li>
      {% endfor %}
    </ul>
  </li>
</ul>

  <a href="{% url serie-index %}">{% trans "Series list" %}</a>
  <br/>
  <a href="{% url liberweb.serie.views.get_serie serie_slug=serie.slug_name %}">{% trans "Back to" %} {{ serie.name }}</a>

{% endblock %}
