{% extends "base.html" %}
{% load i18n %}
{% block contents %}
<h1>{{ serie.name }}</h1>
<ul>
  <li>Temporada: {{ episode.season }}</li>
  <li>Episodio: {{ episode.episode }}</li>
  <li>Fecha de Emisión: {{ episode.air_date }}</li>
  <li>Descripción: {{ episode.description }}</li>
</ul>
<ul>
  <li>
    Enlaces:
    <ul>
      {% for link in episode.links.all %}
        <li><a href="{{ link.url }}"> Ver en idioma {{ link.audio_lang }}. Subtitulos: {{ link.subtitle }}</a>
      {% endfor %}
    </ul>
  </li>
<br />
  <a href="{% url serie-index %}">{% trans "Series list" %}</a>
  <br/>
  <a href="{% url liberweb.serie.views.get_serie serie_slug=serie.slug_name %}">{% trans "Back to" %} {{ serie.name }}</a>
  <br/>
  <a href="{% url liberweb.serie.views.get_episodes serie_slug=serie.slug_name%}">{% trans "Episode list of" %} {{serie.name}}</a>
{% endblock %}

