{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block contents %}
<h1>{{ serie.name }}</h1>
<ul>
    <li>{% trans "Network" %}: {{ serie.network.name }}</li>
  <li>
  {% trans "Genre" %}:
    <ul>
      {% for genre in serie.genres.all %}
        <li>{{ genre.name }}</li>
      {% endfor %}
    </ul>
  </li>
  <li>
  {% trans "Actors" %}:
    <ul>
      {% for actor in serie.actors.all %}
        <li>{{ actor.name }}</li>
      {% endfor %}
    </ul>
  </li>
  <li>{% trans "Runtime" %}: {{ serie.runtime }} {% trans "minutes" %}</li>
  <li>{% trans "Description" %}: {{ serie.description }}</li>
  <li>{% trans "Poster" %}: <img src="{% thumbnail image 300x200 upscale %}" />
</ul>
<a href="{% url serie-index %}">{% trans "Series list" %}</a>
<br /> 
<a href="{% url liberweb.serie.views.get_episodes serie_slug=serie.slug_name %}">
{% blocktrans with serie.name as s_name %}
View espisode list of {{ s_name }}
{% endblocktrans %}
</a>
{% endblock %}
