{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block contents %}
<div id="series-menu">
<ul>
  {% for serie in series %}
  {% endfor %}
</ul>
</div>
<div id="panel">
  <div id="dock"> 
    <div class="dock-container" style="left: 200px; width: 500px;">
      {% for serie in series %}
        {% if serie.images.all.0 %}
        <a href="{% url liberweb.serie.views.get_serie serie_slug=serie.slug_name %}" class="dock-item" style="width: 50px; left: 0px;"><span style="display: none;">{{ serie.name }}</span><img alt="{{ serie.name }}" src="{% thumbnail serie.images.all.0.src 300x200 upscale %}"></a> 
        {% endif %}
      {% endfor %}
    </div>	
  </div>
</div>			

<div id="textos">
  {% for p in posts %}
  <div class="text">
    <h2><a href="{% url get_post p.slug %}">{{ p.title }}</a></h2>
    <p>{{p.summary}}</p>
    {% if p.images.all.0 %}
    <img src="{% thumbnail p.images.all.0.src 50x50 upscale %}" />
    {% else %}
    Este post no tiene imagen
    {% endif %} 
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}
