{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load extract_domain %}
{% block contents %}

<ul>
{% if series %}
  {% for serie in series %}
  <li><a href="{{ serie.get_absolute_url }}"> {{ serie.name }}
    {% if serie.images.get_is_poster.0.src %}
        {% thumbnail serie.images.get_is_poster.0.src "100x100" as img_serie %}
          <img src="{{ img_serie.url }}" />
        {% endthumbnail %}
    {% else %}
            <img src="/static/images/image_not_available.png" height=100> 
      {% endif %}
  </a> - {{ serie.rating_score }}
  {% endfor %}
{% else %} 
No hay series populares todavia
{% endif %}
  </li>
</ul>
{% endblock %}
