{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %} Serie List {% endblock %}
{% block contents %}
	<h2 class="grid_12 caption clearfix"> Watch the best <span>series</span>.</h2>
	<div class="pr grid_12 clearfix">&nbsp;</div>
		<!-- Section 3 -->
		<div class="catagory_1 clearfix">
			<!-- Row 1 -->
			<div class="grid_3 textright" >
			<p>	<!-- span class="meta">Cross-browser tested</span -->
				<h4 class="title ">{% trans "Browse by Letter" %}</h4>

				<div class="hr clearfix dotted">&nbsp;</div>
				<div class="pagination">
					{% for p in page.paginator.pages %}
    						{% ifequal p serie %}
      							<span class="selected">{{ page }}</span>
    						{% else %}
      						<a href="?page={{ p.number }}">{{ p }}</a>
    						{% endifequal %}
  					{% endfor %}
				</div>
			</p>
			<p>
                                <h4 class="title ">{% trans "Browse by Genre" %}</h4>
				<div class="hr clearfix dotted">&nbsp;</div>
                                        <ul>
					{% for g in genre_list %}
						<li><a href="{% url get_genre slug_name=g.slug_name %}">{{g.name}}</a>
					{% endfor %}
					</ul>
			</p>
			<p>
                                <h4 class="title ">{% trans "Browse by Network" %}</h4>
				<div class="hr clearfix dotted">&nbsp;</div>
                                        <ul>
					{% for n in network_list %}
						<li><a href="{% url get_network slug_name=n.slug_name %}">{{n.name}}</a>
					{% endfor %}
					</ul>
			</p>
				<p><!--Cras vestibulum lorem et dui mollis sed posuere leo semper. Integer ac ultrices neque. Cras lacinia orci a augue tempor egestas. Sed cursus, sem ut vehicula vehicula, ipsum est mattis justo, at volutpat nibh arcu sit amet risus.--></p>

			</div>
			<div class="grid_9">
				{% for serie in page.object_list %}
    					<a class="portfolio_item float alpha" href="{{ serie.get_absolute_url }}">
						<span>{{ serie.name }}</span>
    					{% if serie.images.get_is_poster.0.src %}
        					{% thumbnail serie.images.get_is_poster.0.src "300x300" as img_serie %}
          						<img src="{{ img_serie.url }}" />
        					{% endthumbnail %}
    					{% else %}
						<img src="/static/images/image_not_available.png" height="320" width="300"> 
    					{% endif %}
  					</a>
  				{% endfor %}
			</div>
		</div>
			
		<div class="pr clearfix grid_12">&nbsp;</div>
{% endblock %}
