{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %} Serie List {% endblock %}
{% block extrastyle %}   
    <link rel="stylesheet" href="/static/css/queryLoader.css" type="text/css" />{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="/static/js/queryLoader.js"></script>
{% endblock %}
{% block contents %}
	<h2 class="grid_12 caption clearfix"> Watch the best <span>series</span>{% if network %} of the Network <span>{{network.name}}</span>{% endif %}{% if genre %} of the Genre <span>{{genre.name}}</span>{% endif %}.</h2>
	<div class="pr grid_12 clearfix">&nbsp;</div>
		<!-- COLUMN 1 -->
		<div class="catagory_1 clearfix">
			<!-- BROWSE -->
			<div class="grid_3 textright" >
				<!-- BY GENRE -->
				<p>
				<h4 class="title ">{% trans "Browse by Genre" %}</h4>
				<div class="hr clearfix dotted">&nbsp;</div>
					<ul>
					{% for g in genre_list %}
						{% if g.name == genre.name %}
							<li>{{g.name}}
						{% else %}
							<li><a href="{% url get_genre slug_name=g.slug_name %}">{{g.name}}</a>
						{% endif %}
					{% endfor %}
					</ul>
				</p>
				<!-- BY NETWORK -->
				<p>
				<h4 class="title ">{% trans "Browse by Network" %}</h4>
				<div class="hr clearfix dotted">&nbsp;</div>
					<ul>
					{% for n in network_list %}
						{% if n.name == network.name %}
							<li>{{n.name}}
						{% else %}
							<li><a href="{% url get_network slug_name=n.slug_name %}">{{n.name}}</a>
						{% endif %}
					{% endfor %}
					</ul>
				</p>
				{% if network or genre %}
					<p>
						<div class="hr clearfix dotted">&nbsp;</div>
						<a class="button" href="{% url serie-index %}">{% trans "Go Back to Series List" %}</a>
					</p>
				{% endif %}
			</div>
			<div class="grid_9">
			<!-- ALPHABETHICAL PAGINATION -->
			<p>
				<div class="pagination">
					<h2 style="text-align:center;">
					{% for p in page.paginator.pages %}
    						{% ifequal p page %}
      							<span class="selected">{{ page }}</span>
    						{% else %}
      						<a href="?page={{ p.number }}">{{ p }}</a>
    						{% endifequal %}
  					{% endfor %}
					</h4>
				</div>
			</p>
			<!-- THUMBNAILS -->
				{% for serie in page.object_list %}
    					<a class="portfolio_item float alpha" href="{{ serie.get_absolute_url }}">
						<span>{{ serie.name|title }}</span>
    					{% if serie.images.get_is_poster.0.src %}
        					{% thumbnail serie.images.get_is_poster.0.src "300x300" as img_serie %}
          						<img src="{{ img_serie.url }}" />
        					{% endthumbnail %}
    					{% else %}
						<img src="/static/images/image_not_available.png" height="300" width="200"> 
    					{% endif %}
  					</a>
  				{% endfor %}
			</div>
		</div>
			
<script type='text/javascript'>
	QueryLoader.init();
</script>
{% endblock %}
