{% load threadedcommentstags %}
<div class="wrap_write_comment">
    <div id="form-comment">
        {% get_threaded_comment_form as form %}
        <form action="{% get_comment_url object %}" method="POST" id="comment_form">{% csrf_token %}
        {# pasamos el formulario for y quitamos el markup para que solo quede el input del texto y los hidden que necesita #}

        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.name != "markup" %}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    <p {% if field.errors %} class="error"{% endif %} {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                    {{ field }}
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
            <li><input type="submit" class="button right" value="Añadir"/></li>
        </form>
    </div>
</div>
