{% load comments i18n %}
<div class="hr dotted clearfix">&nbsp;</div>
{% if request.user.is_authenticated %}
   <form id="comment_form" class="grid_6" action="{% comment_form_target %}" method="post">
        {% if next %}<input name="next" type="hidden" value="{{ next }}" />{% endif %}
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.name != "name" and field.name != "email" and field.name != "url" %}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    <p {% if field.errors %} class="error"{% endif %} {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                    {{ field }}
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <input style="margin-top:15em;" type="submit" id="send_message" class="button center" name="post" value="{% trans "Añadir" %}" />
   </form>
{% else %}
<p class="clearfix">{% trans "Lo siento, debes haber" %} <a href="/accounts/login/?next={{request.path}}">{% trans "iniciado sesion" %}</a> {% trans "para enviar comentarios. Otra razon más para crearse una cuenta" %}</p>
{% endif %}
