{% load avatar_tags %}
                        <div class="hr dotted clearfix">&nbsp;</div>

  {% for comment in comment_list %}
                        <ol class="commentlist" id="c{{ comment.id }}">
                                <li class="comment">
                                {% url get_user_public_profile user_name=comment.name as user_profile %}
                                <div class="gravatar">
                                <a href="{{ user_profile }}">
                                    {% avatar comment.name %}
                                </a>
                                </div>
                                <div class="comment_content">
                                        <div class="clearfix">
                                            <cite class="author_name">
                                                <a href="{{ user_profile }}">{{ comment.name }}</a>
                                            </cite>
                                                <div class="comment-meta commentmetadata">{{ comment.submit_date }}</div>
                                        </div>
                                        <div class="comment_text">
                                                <p>{{comment.comment}}</p>
                                        </div>
                                </div>
                                </li>
                        </ol>

{% endfor %}

