{% load avatar_tags %}
{% load threadedcomments_tags %}
<ol class="commentlist">
<div class="hr dotted clearfix">&nbsp;</div>
    {% for comment in comment_list|fill_tree|annotate_tree %}{% ifchanged comment.parent_id %}{% else %}</li>{% endifchanged %}{% if not comment.open and not comment.close %}</li>{% endif %}{% if comment.open %}
        <ul>{% endif %}
    <li class="comment_li depth-{{ comment.depth }}" id="comment_{{ comment.id }}">
        {% url user_profile user_name=comment.user as user_profile %}
        <div class="gravatar">
            <a href="{{ user_profile }}">
            {% avatar comment.user %}
            </a>
        </div>
        <div class="comment_content">
            <div class="clearfix">
                <cite class="author_name">
                    <a href="{{ user_profile }}">{{ comment.user.username }}</a>
                </cite>
                <div class="commentmetadata"> 
                    <a href="#comment_{{ comment.id }}">{{ comment.submit_date|date:"SHORT_DATETIME_FORMAT"  }}</a> - 
                    <a href="#comment_{{ comment.id }}" class="comment_reply_link">Contestar</a>
                </div>
            </div>
            <div class="comment_text">
                    <p>{{comment.comment}}</p>
            </div>
        </div>
	<div class="hr dotted clearfix">&nbsp;</div>
                        {% for close in comment.close %}</li></ul>{% endfor %}
{% endfor %}
</ol>
