{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{% if book %}Editando libro {{ book.name.title }}{% else %}Agregando libro{% endif %} | Libros | Liberateca{% endblock %}
{% block extrascript %}
        <script type="text/javascript" src="/static/js/RelatedObjectLookups_small.js"></script>
{% endblock %}
{% block sidebar %}
  <h1 class="margin center">{% if book %}Editando libro{% else %}Agregando libro{% endif %}</h1>
<form id="add_book_form" enctype="multipart/form-data" action="{% if book %}{% url edit_book book_slug=book.slug_name %}{% else %}{% url add_book %}{% endif %}" method="POST">
  {% csrf_token %}
<ul>
        <li>
            {% if book.poster.src %}
                {% thumbnail book.poster.src "400x300" as img_book %}
                <img id="poster" src="{{ img_book.url }}" /> {% endthumbnail %}
            {% else %}
                 <img src="/static/images/image_not_available.png" height="200"> 
            {% endif %}
            {{ img_form }}
        </li>
        {% if not book %}
        <li>
            <div class="notice_small">
                <img class="left" src="/static/images/dialog-warning-big.png" alt="Atencion" style="margin-right:1em;">
                <b>¡Atención!</b> Comprueba a través del buscador o del <a href="{% url book_index %}">listado de libros</a> que el libro que vayas a agregar no se encuentre ya.
            </div>
        </li>
        {% endif %} 
</ul>
{% endblock %}
{% block contents %} 
  {% if book %}
      <h1 class="margin center">{{ book.name.title }}</h1>
  {% endif %}
    <ul class="controls grid_3">
            {{ form.non_field_errors }}
            <li class="fieldwrapper clearfix">
                {{ form.name.errors }}
                <label for="id_name_es">Nombre:</label>
                <div class="input">
                  {{ form.name }}
                </div>
            </li>
            <li class="fieldwrapper clearfix">
                {{ form.description.errors }}
                <label for="id_description">Descripción:</label>
                <div class="input">
                  {{ form.description }}
                </div>
            </li>
            <li class="fieldwrapper clearfix">
                {{ form.isbn.errors }}
                <label for="id_isbn">ISBN:</label>
                <div class="input">
                  {{ form.isbn }}
                </div>
            </li>
            <li class="fieldwrapper clearfix">
                {{ form.category.errors }}
                <label for="id_category">Categoría:</label>
                <div class="input">
                  {{ form.category }}
                </div>
            </li>
            <li class="fieldwrapper clearfix">
                {{ form.author.errors }}
                <label for="id_author">Autor:</label>
                <div class="input">
                  {{ form.author }}
                </div>
            </li>
            <li>
              <div class="actions">
                <input class="btn primary" id="submit_book" type="submit" value="{% if book %}Actualizar{% else %}Agregar{% endif %}" />
                &nbsp;
                <button type="reset" class="btn">Cancel</button>
              </div>
            </li>
        </ul>
</ul>
</form>
</div>
{% endblock %}
