{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{% if book %}Editando libro {{ book.name.title }}{% else %}Agregando libro{% endif %} | Liberateca{% endblock %}
{% block extrascript %}
<script src="/media/js/admin/RelatedObjectLookups.js"></script>
{% endblock %}
{% block contents %}
<div class="grid_10">
<form id="add_book_form" enctype="multipart/form-data" action="{% if book %}{% url edit_book book_slug=book.slug_name %}{% else %}{% url add_book %}{% endif %}" method="POST">
    <h1>{% if book %}Editando libro {{ book.name.title }}{% else %}Agregando libro{% endif %}</h1>
<ul>
    <li class="grid_3">
            {% if book.poster.src %}
                {% thumbnail book.poster.src "400x300" as img_book %}
                <img id="poster" src="{{ img_book.url }}" /> {% endthumbnail %}
            {% else %}
                 <img src="/static/images/image_not_available.png" height="200"> 
            {% endif %}
            {{ img_form }}
        {% if not book %}
            <div id="alert-new-book">
                <img class="left" src="/static/images/dialog-warning-big.png" alt="Atencion">
                <div style="margin-top:4em" class="hightlight"><b>¡Atención!</b> Comprueba a través del buscador o del <a href="{# url book_index #}">listado de libros</a> que la book que vayas a agregar no se encuentre ya.</div>
            </div>
        {% endif %} 
    </li>
        <ul>
            {{ form.as_ul }}
        </ul>
    <li class="grid_12 center">
        <input class="button" id="submit_book" type="submit" style="margin-top:2em;" value="{% if book %}Actualizar{% else %}Agregar{% endif %}" />
    </li>
</ul>
</form>
</div>
{% endblock %}
