{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{% if book %}Editando libro {{ book.name.title }}{% else %}Agregando libro{% endif %} | Liberateca{% endblock %}
{% block extrascript %}
        <script type="text/javascript" src="/static/js/RelatedObjectLookups_small.js"></script>
{% endblock %}
{% block sidebar %}
<form id="add_book_form" enctype="multipart/form-data" action="{% if book %}{% url edit_book book_slug=book.slug_name %}{% else %}{% url add_book %}{% endif %}" method="POST">
  {% csrf_token %}
    <h1>{% if book %}Editando libro {{ book.name.title }}{% else %}Agregando libro{% endif %}</h1>
<ul>
    <ul class="controls grid_4">
        <li>
            {% if book.poster.src %}
                {% thumbnail book.poster.src "400x300" as img_book %}
                <img id="poster" src="{{ img_book.url }}" /> {% endthumbnail %}
            {% else %}
                 <img src="/static/images/image_not_available.png" height="200"> 
            {% endif %}
            {{ img_form }}
        </li>
        <li class="center">
            <input class="button" id="submit_book" type="submit" style="margin-top:2em;" value="{% if book %}Actualizar{% else %}Agregar{% endif %}" />
        </li>
        {% if not book %}
        <li>
            <div class="notice_small">
                <img class="left" src="/static/images/dialog-warning-big.png" alt="Atencion" style="margin-right:1em;">
                <b>¡Atención!</b> Comprueba a través del buscador o del <a href="{% url book_index %}">listado de libros</a> que el libro que vayas a agregar no se encuentre ya.
            </div>
        </li>
        {% endif %} 
    </ul>
    {% endblock %}
    {% block contents %} 
        <ul class="grid_4 controls">
            {{ form.non_field_errors }}
            <li class="fieldwrapper">
                {{ form.name.errors }}
                <label for="id_name_es">Nombre:</label>
                {{ form.name }}
            </li>
            <li class="fieldwrapper">
                {{ form.description.errors }}
                <label for="id_description">Descripción:</label>
                {{ form.description }}
            </li>
            <li class="fieldwrapper">
                {{ form.isbn.errors }}
                <label for="id_isbn">ISBN:</label>
                {{ form.isbn }}
            </li>
        </ul>
        <ul class="grid_3 controls">
            <li class="fieldwrapper">
                {{ form.category.errors }}
                <label for="id_category">Categoría:</label>
                {{ form.category }}
            </li>
            <li class="fieldwrapper">
                {{ form.author.errors }}
                <label for="id_author">Autor:</label>
                {{ form.author }}
            </li>
        </ul>
</ul>
</form>
</div>
{% endblock %}
