{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load cache %}
{% load tagcloud %}
{% block title %}{% trans "Libros" %} | Liberateca{% endblock %}
{% block contents %}
		<!-- COLUMN 1 -->
		<div class="catagory_1 clearfix">
			<!-- BROWSE -->
			<div class="grid_3" style="margin-top:2em;" >
                <div id="box">
                    <a class="button" href="{% url add_book %}" style="vertical-align:middle;">
                        <img class="left nobottom" src="/static/images/list-add.png">
                        <p class="right nobottom">Agregar libro</p>
                    </a>
                </div>


                <div id="box">
                    <h1 class="nobottom">
                        <a href="/books">Popularidad</a>
                    </h1>
                </div>

			<!-- ALPHABETHICAL PAGINATION -->
				<div id="box">
                    <div class="center" id="alf">
                        <a class="navigator" href="#/letter/0/">0-9</a>
                        <a class="navigator" href="#/letter/A/">A</a>
                        <a class="navigator" href="#/letter/B/">B</a>
                        <a class="navigator" href="#/letter/C/">C</a>
                        <a class="navigator" href="#/letter/D/">D</a>
                        <a class="navigator" href="#/letter/E/">E</a>
                        <a class="navigator" href="#/letter/F/">F</a>
                        <a class="navigator" href="#/letter/G/">G</a>
                        <a class="navigator" href="#/letter/H/">H</a>
                        <a class="navigator" href="#/letter/I/">I</a>
                        <a class="navigator" href="#/letter/J/">J</a>
                        <a class="navigator" href="#/letter/K/">K</a>
                        <a class="navigator" href="#/letter/L/">L</a>
                        <a class="navigator" href="#/letter/M/">M</a>
                        <a class="navigator" href="#/letter/N/">N</a>
                        <a class="navigator" href="#/letter/O/">O</a>
                        <a class="navigator" href="#/letter/P/">P</a>
                        <a class="navigator" href="#/letter/Q/">Q</a>
                        <a class="navigator" href="#/letter/R/">R</a>
                        <a class="navigator" href="#/letter/S/">S</a>
                        <a class="navigator" href="#/letter/T/">T</a>
                        <a class="navigator" href="#/letter/U/">U</a>
                        <a class="navigator" href="#/letter/V/">V</a>
                        <a class="navigator" href="#/letter/W/">W</a>
                        <a class="navigator" href="#/letter/Y/">Y</a>
                        <a class="navigator" href="#/letter/Z/">Z</a>
                    </div>
				</div>

                <div class="hr clearfix">&nbsp;</div>
                {% cache 500 sidebar %}
				<!-- BY CATEGORY -->
                <div id="box">
                    <h1 class="nobottom"><a href="#" class="show_tagcloud category">Categorias</a></h1>
                    {% tagcloud "Category" "50" "5"%}
                </div>

				<!-- BY AUTHOR -->
                <div id="box">
                    <h1 class="nobottom"><a href="#" class="show_tagcloud author">Autores</a></h1>
                    {% tagcloud "Author" "50" "5"%}
                </div>
                {% endcache %}

			</div>
                <div id="books_list">
                {% cache 500 book_list %}
                <!-- THUMBNAILS -->
                {% include "core/generic_list.html" with obj_type="book" %}
                {% endcache %}
                </div>
			</div>
		</div>
{% endblock %}
