{% load i18n %}
{% load endless %}
{% load thumbnail %}
{% if objects %}
  {% paginate pagination_per_page objects %}
  {% for book in objects %}
    <div class="grid_2" style="margin-bottom:2em; margin-right:1em;">
        <a class="portfolio_item float alpha" href="{{ book.get_absolute_url }}">
            <div class="preload" style="width:140px; height:200px">
            {% spaceless %}
                {% if book.poster.src %}
                    {% thumbnail book.poster.src "150x200" as img_book %}
                        <img class="prel book" id="{{ book.id }}" src="{{ img_book.url }}" />
                    {% endthumbnail %}
                {% else %}
                <img class="prel book" id="{{ book.id }}" src="/static/images/image_not_available.png" height="300" width="200" /> 
                {% endif %}
                <span class="center">{{ book.name }}</span>
            {% endspaceless %}
            </div>
            </a>
    </div>
  {% endfor %}
    <div class="hr"></div>
    <div class="center">{% show_more "<div class="btn primary">Ver más</div>" %}</div>
{% else %} 
<h2 class="grid_12 caption clearfix">No hay libros de este tipo todavia</h2>
{% endif %}
