{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load threadedcomments_tags %}
{% load background_color %}
{% load avatar_tags %}
{% load cache %}
{% block extrahead %}
    <meta property="og:title" content="{{book.name}} | Libro | Liberateca" />
    <meta property="og:description" content="{{ book.description }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="book" />
    <meta property="og:image" content="http://liberateca.net{{ book.poster.src.url }}" />
{% endblock %}
{% block title %}{{ book.name.title }} | Libro | Liberateca{% endblock %}

{% block options %}
      <ul class="main-pages left">
          <!-- FAVORITE -->
          <li>
          {% if favorite == "no" %}
              <a href="#" onclick="favorite();" id="favorite"><img title="Agregar a favoritas" alt="Agregar a favoritas" class="heart_fav nobottom" src="/static/images/heart_black.png"></a>
          {% else %} 
          {% if favorite == "yes" %}
              <a href="#" onclick="favorite();" id="favorite"><img title="Quitar de favoritas" alt="Quitar de favoritas" class="heart_fav nobottom" src="/static/images/heart_red.png"></a>
              {% endif %}
              {% endif %}
          </li>
          <!-- EDIT -->
          <li id="edit-book">
              <a href="{% url edit_book book_slug=book.slug_name %}"><img title="Editar libro" class="nobottom" alt="Editar libro" src="/static/images/accessories-text-editor.png"></a>
          </li>
      </ul>

{% endblock %}

{% block contents %}
<!-- COLUMN LEFT -->
	<!-- TITLE -->
	<h1 id="title">{{book.name|title}}</h1>
	<!-- LINKS -->
    <div class="left" id="episode_list">
        <ul>
            {% if request.user.is_authenticated %}
                <li>
                    <a href="#" class="add_link_single" id="book_{{ book.id }}">
                        <img title="Agregar enlace" alt="Agregar enlace" src="/static/images/list-add.png" class="left nobottom">
                        Agregar enlace
                    </a>
                </li>
            {% endif %}
            <div id="inside_book_{{ book.id }}"></div>
            {% with book.links.all as link_list %}
                {% include "book/links_list.html" %}
            {% endwith %} 
        </ul>
    </div>
    <div id="season_list" class="right grid_7"></div>

    {# cache 500 comments serie TODO: Arreglar el contestar  #}
	 <div class="hr clearfix">&nbsp;</div>
        <!-- RESEÑAS -->
        {% get_comment_list for book as comment_list %}
        <h2>{{ comment_list|length }} {% trans "Reseñas" %}</h2>
        {% include "comments/list.html" %}
    {# endcache #}

        <!-- AGREGAR RESEÑA -->
        <div class="hr clearfix">&nbsp;</div>
        <h2>{% trans "Añade tu reseña" %}</h2>
        {% with book as object %}
            {% include "comments/form.html" %}
        {% endwith %}
</div>

{% endblock %}
{% block sidebar %}

<!-- COLUMN RIGHT -->
<div id="box">
	<!-- IMAGE -->
    <div class="left">
        {% if book.poster.src %}
            {% thumbnail book.poster.src "200x200" as img_book %}
                <img alt="{{ book.name }}" title="{{ book.name }}" id="poster" src="{{ img_book.url }}" />
            {% endthumbnail %}
        {% else %}
            <div class="image_not_found center">  <img alt="{{ book.name }}" title="{{ book.name }}" src="/static/images/image_not_available.png" alt="{{ book.name }}" width="200" /> </div>
        {% endif %}
        {% if request.user.is_authenticated %}
          <!-- USER RATING -->
          <div id="rating">
              <form action="." method="POST">
              <input type="radio" name="rating" value="1" class="ratingstar" {% if score == 1 %}checked="checked"{% endif %}/>
              <input type="radio" name="rating" value="2" class="ratingstar" {% if score == 2 %}checked="checked"{% endif %}/>
              <input type="radio" name="rating" value="3" class="ratingstar" {% if score == 3 %}checked="checked"{% endif %}/>
              <input type="radio" name="rating" value="4" class="ratingstar" {% if score == 4 %}checked="checked"{% endif %}/>
              <input type="radio" name="rating" value="5" class="ratingstar" {% if score == 5 %}checked="checked"{% endif %}/>
              </form>
          </div>
        {% endif %}
    </div>
    <div class="right">
        {% if request.user.is_authenticated %}
          <ul class="horizontal_list">
          <ul class="horizontal_list">
              <a href="/books"><img src="/static/images/book.png" class="nobottom" alt="Libro" title="Libro"></a>
          </ul>
        {% endif %}
        <!-- GENERAL RATING -->
        {% with book.rating.get_rating as rating %}
            <div class="right rating_num {{ rating|background_color }}"> {{ rating|floatformat }}
                <div class="mt_3">de 5</div>
                <div class="mt_3">({{ book.rating.votes }} votos)</div>
            </div>
        {% endwith %}
	<!-- AUTORS -->
    <ul>
        <li>
            <span class="meta_box">Autor{{ book.author.count|pluralize:"es" }}</span>
        </li>
        <li>
            <ul>
                {% for author in book.author.all %}
                <li><a href="/books/#/autor/{{ author.slug_name }}/">{{ author.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
	<!-- ISBN -->
        <li>
            <span class="meta_box">{% trans "ISBN" %}</span>
        </li>
        <li>
            {{ book.isbn }}
        </li>
	<!-- GENRE -->
        <li>
            <span class="meta_box">Categoria{{ book.category.count|pluralize}}</span>
            <ul>
                {% for category in book.category.all %}
                <li><a href="/books/#/category/{{ category.slug_name }}/">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
	<!-- BUTTONS -->
        <li>
            <a href="/books" class="button">&lt;&lt; {% trans "Libros" %}</a>
        </li>
     </ul>
    </div>
    <p>{{ book.description }}</p>
    <div class="grid_2 left">
        <!-- SHARE -->
        <h2>Compártela</h2>
            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
            <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
                <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                <a href="http://twitter.com/share" class="twitter-share-button"
                    data-url="{{ request.build_absolute_uri }}"
                    data-via="Liberateca"
                    data-text="Disfrutando {{ book.name }}"
                    data-count="vertical">Tweet
                </a>
                <fb:like href="{{ request.build_absolute_uri }}" send="true" layout="box_count" width="450" show_faces="true" font=""></fb:like>
                <g:plusone size="tall"></g:plusone>
    </div>
    <div class="grid_6 right">
        {% cache 500 followers book %}
            {% if not book.favorite_book.count == 0 %}
                <h2>Seguidores ({{ book.favorite_book.count }})</h2>
                {% for user in book.favorite_book.all %}
                    <a class="followers" title="{{ user.user.username }}" href="{% url user_profile user_name=user.user.username %}">
                        {% avatar user.user 30 %}
                    </a>
                {% endfor %}
            {% endif %}
        {% endcache %}
    </div>
</div>

{% endblock %}

