{% load i18n %}
{% load voting_tags %}
{% load extract_domain %}
{% load extract_type %}
{% load echo_language %}
{% if link_list %}
    {% votes_by_user user on link_list as vote_dict %}
    {% for link in link_list %}
    {% score_for_object link as score %}
    {% dict_entry_for_item link from vote_dict as vote %}

    <li>
        <a href="{{ link.url }}" target="_blank" rel="nofollow" id="datemeta">{{ link.url|extract_type }} ({{ link.url|extract_domain }})<span>
        Idioma: {{ link.lang.iso_code|echo_language }}
        <div class="right">
        {% if request.user == link.user %}
        <!-- EDICION --> 
            <!-- img src="/static/images/pencil-edit.png" class="edit_link nobottom" href="{# url ajax_add_link episode_id=episode.id #}?edit=yes&linkid={{ link.id }}" -->
        {% endif %}
        <!-- VOTING -->
        <span class="score" style="position:relative; top:-25%; margin-right:2em;" id="linkscore{{ link.id }}" title="after {{ score.num_votes|default:0 }} vote{{ score.num_votes|default:0|pluralize }}">{{ score.score|default:0 }}</span>
        {% if request.user.is_authenticated %}
            <img title="Voto positivo" class="votelink nobottom" id="up_book_{{link.id}}" src="/static/images/voting/aup{% if vote and vote.is_upvote %}mod{% else %}grey{% endif %}.gif">
            <img title="Voto negativo" class="votelink nobottom" id="down_book_{{link.id}}" src="/static/images/voting/adown{% if vote and vote.is_downvote %}mod{% else %}grey{% endif %}.gif">
        {% endif %}
        </div>
    </a>
        {% endfor %}
{% else %}
    <li> 
    <a id="book_{{ entity.id }}" 
        {% if request.user.is_authenticated %}
            class="no_link" >
            {% trans "No hay enlaces disponibles" %}
        {% else %} 
            {% trans "No hay enlaces disponibles " %}
        {% endif %}
        </a>
    </li>
{% endif %}
