<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/1999/xhtml">
{% load i18n %}
{% load dropdown_series %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{LANGUAGE_CODE}}" dir="{{LANGUAGE_BIDI|yesno:"rtl,ltr,ltr"}}">
  <head>
    <title>{% block title %}{{title|default:"LiberCopy"}}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/lc.css" type="text/css" />
    <link rel=alternate type=application/atom+xml href="{% url rssblogfeed %}">
    <link rel=alternate type=application/atom+xml href="{% url rsslinksfeed %}">
    <link rel=alternate type=application/atom+xml href="{% url atomblogfeed %}">
    <link rel=alternate type=application/atom+xml href="{% url atomlinksfeed %}">
    {% block extrastyle %}{% endblock %}
    <script type="text/javascript" src="/static/js/jquery-min.js"></script>
    <script type="text/javascript" src="/static/js/fisheyes-iutils-min.js"></script>
    <script type="text/javascript" src="/static/js/lc.js"></script>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="back">
      <div id="main">
        <div id="logo"><a href="/" id="logo">LiberCopy</a></div>
          <div id="top-menu">
            <ul>
              <li><a href="/series">SERIES</a></li>
              <li><a href="/blog">BLOG</a></li>
              <li><a href="/faq">FAQ</a></li>
              <!--<li><a href="#">PELICULAS</a></li>
              <li><a href="#">MÚSICA</a></li>-->
            </ul>

            {% if initial_message %}
              <div id="message_box"><img id="close_message" style="float:right;cursor:pointer"  src="/static/img/close.png" />Ha leido nuestro <a href="/faq">FAQ?</a></div>
            {% endif %}

              <form class="language" action="/i18n/setlang/" method="post">
                <input name="next" type="hidden" value="{{ request.path }}" />
                <select name="language">
                {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                {% endfor %}
                </select>
                <input type="submit" value="Go" />
              </form>
          </div>
        <div id="dropdown_series">
          {% dropdown_series %}
        </div>
        <div id="search">
          <form action="/search/">
          <fieldset>
            <legend></legend>
            <input type="text" name="q" value="{% trans "Search" %}..." class="field" 
                onblur="this.value='{% trans "Search" %}...'" onfocus="this.value=''" />
            <input type="submit" value="" class="button" / >
          </fieldset>
          </form>
        </div>
        <div id="frase"><h2>Sharing is good</h2></div>
        <div id="content"> 
          {% block contents %}{% endblock %}
        </div>
      <div id="line"></div>
    </div>
  </body>
</html>
