<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/1999/xhtml">
{% spaceless %}
{% load i18n %}
{% load dropdown_series %}
{% load localeurl_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% endspaceless %}<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{LANGUAGE_CODE}}" dir="{{LANGUAGE_BIDI|yesno:"rtl,ltr,ltr"}}">
  <head>
    <title>{% block title %}{{title|default:"LiberCopy"}}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/autocomplete.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/lc.css" type="text/css" />{% block extrastyle %}{% endblock %}
    <link rel="alternate" type="application/atom+xml" href="{% url rssblogfeed %}">
    <link rel="alternate" type="application/atom+xml" href="{% url rsslinksfeed %}">
    <link rel="alternate" type="application/atom+xml" href="{% url atomblogfeed %}">
    <link rel="alternate" type="application/atom+xml" href="{% url atomlinksfeed %}">
    <script type="text/javascript" src="/static/js/jquery-min.js"></script>
    <script type="text/javascript" src="/static/js/fisheyes-iutils-min.js"></script>
    <script type="text/javascript" src="/static/js/lc.js"></script>{% block extrahead %}{% endblock %}
    <script type="text/javascript" src="/static/js/autocomplete.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dimensions.min.js"></script>
  </head>
  <body>
    <div id="back">
      <div id="main">
        <div id="logo"><a href="/" id="logo">LiberCopy</a></div>
          <div id="top-menu">
            <ul>
              <li><a href="{% url serie-index %}">SERIES</a></li>
              <li><a href="{% url blog-index %}">BLOG</a></li>
              <li><a href="{% url faq %}">FAQ</a></li>
              {% spaceless %}
                   <div id="login">
                {% if request.user.is_authenticated %}
                <li></li></b><a href="/accounts/logout/?next={{request.path}}">LOGOUT</a></li>
            <li> <b>{{ request.user }}</b></li></b></li>
        <li><b><a href="{% url list-popular %}">Popular</a></b></li>
        <li><b><a href="{% url user-favorite %}">Favorites</a></b></li>
                {% else %}
                <li><a href="/accounts/login/?next={{request.path}}">LOGIN</a>
                {% endif %}
                   </div>
              {% endspaceless %}
              <li>{% spaceless %}{% if LANGUAGE_CODE == 'en' %} 
                  <a href="{{ request.path|chlocale:'es' }}"><img src="/static/img/flag_es.gif"></a>
                {% else %}{% if LANGUAGE_CODE == 'es' %} 
                  <a href="{{ request.path|chlocale:'en' }}"><img src="/static/img/flag_en.gif"></a>
                {% endif %}
                {% endif %}
              </li>
                {% endspaceless %}
            </ul>
            <div id="social_buttons">
              <a href="{% url facebook %}"><img src="/static/images/facebook-button.png" /></a>
              <a href="{% url twitter %}"><img src="/static/images/twitter-button.gif" /></a>
            </div>
           {% spaceless %} {% if initial_message %}
              <div id="message_box"><img id="close_message" style="float:right;cursor:pointer"  src="/static/img/close.png" />Ha leido nuestro <a href="/faq">FAQ?</a></div>
            {% endif %}
          </div> {% endspaceless %}
        <div id="dropdown_series"> {# dropdown_series #} </div>
        <div id="search">
          <form action="/search/">
        <script type="text/javascript" >
            $(function(){
                  setAutoComplete("SearchField", "SearchResults", "/search/lookup/?q=");
              });
        </script>
          <fieldset>
            <legend></legend>
            <input id="SearchField" type="text" name="q" value="{% trans "Search" %}..." class="field" 
                onblur="this.value='{% trans "Search" %}...'" onfocus="this.value=''" />
            <input type="submit" value="" class="button" / >
          </fieldset>
          </form>
        </div>
        <div id="frase"><h2>Sharing is good</h2></div>
        <div id="content"> 
          {% block contents %}{% endblock %}
        </div>
      <!-- div id="line"></div -->
    </div>
  </body>
</html>
