<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
{% spaceless %}
{% load i18n %}
{% load dropdown_series %}
{% load localeurl_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% endspaceless %}<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{LANGUAGE_CODE}}" dir="{{LANGUAGE_BIDI|yesno:"rtl,ltr,ltr"}}">
<head>
	<title>{% block title %}{{title|default:"LiberCopy"}}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/css/reset.css" />
	<link rel="stylesheet" href="/static/css/styles.css" />
	<link rel="stylesheet" href="/static/css/autocomplete.css" type="text/css" />
	<link rel="alternate" type="application/atom+xml" href="{% url rssblogfeed %}">
	<link rel="alternate" type="application/atom+xml" href="{% url rsslinksfeed %}">
	<link rel="alternate" type="application/atom+xml" href="{% url atomblogfeed %}">
	<link rel="alternate" type="application/atom+xml" href="{% url atomlinksfeed %}">
	{% block extrastyle %}{% endblock %}
	<script type="text/javascript" src="/static/js/jquery-min.js"></script>
	<script type="text/javascript" src="/static/js/fisheyes-iutils-min.js"></script>
	<script type="text/javascript" src="/static/js/lc.js"></script>{% block extrahead %}{% endblock %}
	<script type="text/javascript" src="/static/js/autocomplete.js"></script>
	<script type="text/javascript" src="/static/js/jquery.dimensions.min.js"></script>
	<script type="text/javascript" src="/static/js/popup.js"></script>
	<!-- Scripts -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

	<script type="text/javascript" src="/static/js/jquery.roundabout-1.0.min.js"></script> 
	<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript">		
		$(document).ready(function() { //Start up our Featured Project Carosuel
			$('#featured ul').roundabout({
				easing: 'easeOutInCirc',
				duration: 600
			});
		});
	</script>  

	<!--[if IE 6]>
	<script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
	<script>
	  /* EXAMPLE */
	  DD_belatedPNG.fix('.button');
	  
	  /* string argument can be any CSS selector */
	  /* .png_bg example is unnecessary */
	  /* change it to what suits you! */
	</script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="container_12 clearfix">

		<!-- Text Logo -->
		<h1 id="logo" class="grid_4">{{ title }}</h1>
		<!-- Navigation Menu -->
		<ul id="navigation" class="grid_8">

			<li><a href="/series"><span class="meta">las series</span><br />SERIES</a></li>
			<li><a href="/"><span class="meta">página principal</span><br />INICIO</a></li>
		</ul>
		
		<div class="hr grid_12">&nbsp;</div>
		<div class="clear"></div>
		{% block contents %}{% endblock %}
		<!-- Footer -->
		<p class="grid_12 footer clearfix">
			<span class="float"><b>&copy; Copyright</b> <a href="">QwibbleDesigns</a> - remove upon purchase.</span>
			<a class="float right" href="#">top</a>

		</p>
	</div><!--end wrapper-->
</body>
</html>
<!--
  <body>
    <div id="back">
      <div id="main">
        <div id="logo"><a href="/" id="logo">LiberCopy</a></div>
          <div id="top-menu">
            <ul>
              <li><a href="{% url serie-index %}">SERIES</a></li>
              <li><a href="{% url blog-index %}">BLOG</a></li>
              <li><a href="{% url faq %}">FAQ</a></li>
              {% spaceless %}
                   <div id="logon">
                {% if request.user.is_authenticated %}
                <li></li></b><a href="/accounts/logout/?next={{request.path}}">LOGOUT</a></li>
            <li> <b>{{ request.user }}</b></li></b></li>
        <li><b><a href="{% url list-popular %}">Popular</a></b></li>
        <li><b><a href="{% url user-favorite %}">Favorites</a></b></li>
                {% else %}
                <li><div id="button"><a href="#">LOGIN</a>
                {% endif %}
                   </div>
              {% endspaceless %}
              <li>{% spaceless %}{% if LANGUAGE_CODE == 'en' %} 
                  <a href="{{ request.path|chlocale:'es' }}"><img src="/static/img/flag_es.gif"></a>
                {% else %}{% if LANGUAGE_CODE == 'es' %} 
                  <a href="{{ request.path|chlocale:'en' }}"><img src="/static/img/flag_en.gif"></a>
                {% endif %}
                {% endif %}
              </li>
                {% endspaceless %}
            </ul>
            <div id="social_buttons">
              <a href="{% url facebook %}"><img src="/static/images/facebook-button.png" /></a>
              <a href="{% url twitter %}"><img src="/static/images/twitter-button.gif" /></a>
            </div>
           {% spaceless %} {% if initial_message %}
              <div id="message_box"><img id="close_message" style="float:right;cursor:pointer"  src="/static/img/close.png" />Ha leido nuestro <a href="/faq">FAQ?</a></div>
            {% endif %}
          </div> {% endspaceless %}
        <div id="dropdown_series"> {# dropdown_series #} </div>
        <div id="search">
          <form action="/search/">
        <script type="text/javascript" >
            $(function(){
                  setAutoComplete("SearchField", "SearchResults", "/search/lookup/?q=");
              });
        </script>
          <fieldset>
            <legend></legend>
            <input id="SearchField" type="text" name="q" value="{% trans "Search" %}..." class="field" 
                onblur="this.value='{% trans "Search" %}...'" onfocus="this.value=''" />
            <input type="submit" value="" class="button" / >
          </fieldset>
          </form>
        </div>
        <div id="frase"><h2>Sharing is good</h2></div>
        <div id="content"> 
          
        </div>
      <div id="line"></div>
      <div id="footer">
          <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangosite80x15.gif" border="0" alt="A Django site." title="A Django site." /></a>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/es/"><img alt="Licencia de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/es/80x15.png" /></a>
      </div>
    </div>
    
	<div id="popupContact">
		<a id="popupContactClose">x</a>
		<h1>Login</h1>
		<p id="contactArea">
          {% if form.errors %}
          <div id="message_box" style="font-size:small;"><img id="close_message" style="float:right;cursor:pointer"  src="/static/img/close.png" />Your username and password didn't match. Please try again.</div>
          {% endif %}
          <form method="post" action="{% url django.contrib.auth.views.login %}">
          <table> 
          <tr> 
              <th><label for="id_username">Username or Email</label></th> 
              <td><input id="id_username" type="text" name="username" maxlength="30" /></td> 
          </tr> 
          <br/>
          <tr> 
              <th><label for="id_password">Password</label></th> 
              <td><input type="password" name="password" id="id_password" /></td> 
          </tr> 
          </table> 
          <input type="hidden" name="next" value="{{ next }}" />
                  <tr><td></td><td><a href="{% url auth_password_reset %}">Forgot your password?</a></td> 
                  <tr><td></td><td><input type="submit" value="Login" /></td> 
          <p></p>
          
          </form>
		</p>
        <br />
        <br />
		<h1>Register</h1>
		<p id="contactArea">
          <table> 
              <form method='post' action="{% url registration_register %}">
                  <tr><th><label for="id_username">Username</label></th>
                      <td><input id="id_username" type="text" class="required" name="username" maxlength="30" /></td></tr> 
                  <tr><th><label for="id_email">Email Address</label></th>
                      <td><input id="id_email" type="text" class="required" name="email" maxlength="75" /></td></tr> 
                  <tr><th><label for="id_password1">Password</label></th>
                      <td><input id="id_password1" type="password" class="required" name="password1" /></td></tr> 
                  <tr><th><label for="id_password2">Password (again)</label></th>
                      <td><input id="id_password2" type="password" class="required" name="password2" /></td></tr> 
                  <tr><td></td><td><input type="submit" value="Send activation email" /></td> 
              </form> 
          </table> 
		</p>
	</div>
	<div id="backgroundPopup"></div>

  </body>
</html>
-->
