{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load get_twitter_messages %}
{% block contents %}
	
		<!-- Featured Image Slider -->
		<div id="featured" class="clearfix grid_12">
			<ul>
			{% for serie in series %}
				<li>
        			{% thumbnail serie.images.get_is_poster.0.src "600x300" crop="bottom" as img_serie %}
          			<a href="{% url liberweb.serie.views.get_serie serie_slug=serie.slug_name %}" class="dock-item" style="width: 50px; left: 0px;"><span style="display: none;">{{ serie.name }}</span><img alt="{{ serie.name }}" src="{{ img_serie.url }}">
					<span>{{ serie.name }}</span>
				</a> 
        			{% endthumbnail %}
				</li>
      			{% endfor %}
			</ul>
		</div>
		<div class="hr grid_12 clearfix">&nbsp;</div>
			
		<!-- Caption Line -->
		<h2 class="grid_12 caption clearfix">Compartir es bueno <span>Libercopy</span>, sitio de series <u>Enlaces</u> &amp; <u>magia</u> para disfrutar y difundir</h2>
		
		<div class="hr grid_12 clearfix quicknavhr">&nbsp;</div>
		<div id="quicknav" class="grid_12">
			<a class="quicknavgrid_3 quicknav alpha" href="portfolio.html">
					<h4 class="title ">Series populares</h4>
					<p>listado de series más votadas por los usuarios</p>
					<p style="text-align:center;"><img alt="" src="/static/images/Art_Artdesigner.lv.png" /></p>
				
			</a>
			<a class="quicknavgrid_3 quicknav" href="about.html">

					<h4 class="title ">Faq's</h4>
					<p>Preguntas más frecuentes</p>
					<p style="text-align:center;"><img alt="" src="/static/images/info.png" /></p>
				
			</a>
			<a class="quicknavgrid_3 quicknav" href="blog.html">
					<h4 class="title ">Ver nuestro blog</h4>
					<p>Blog de libercopy para ver entradas y comentar </p>

					<p style="text-align:center;"><img alt="" src="/static/images/Blog_Artdesigner.lv.png" /></p>
				
			</a>
			<a class="quicknavgrid_3 quicknav" href="#">
					<h4 class="title ">Siguenos en Twitter</h4>
					<p>Tenemos cuenta en Twitter para que puedas opinar</p>
					<p style="text-align:center;"><img alt="" src="/static/images/hungry_bird.png" /></p>
			</a>
		</div>

		<div class="hr grid_12 clearfix">&nbsp;</div>
{% endblock %}
