{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Codigo de Invitacion erroneo" %}{% endblock %}
{% block contents %}
<h2 class="grid_12 caption clearfix">
{% trans "Tienes un codigo de invitacion erroneo. Si no es asi, ponte en contacto con el admin en admin@libercopy.net" %}
{% trans "Si no tienes invitacion, puedes pedir una en invitacion@libercopy.net. Las peticiones mas originales tendran el visto bueno y podran ser nuestros amigos, sino pasaremos de ti." %}
</h2>
{% endblock %}

