{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load extract_domain %}
{% load avatar_tags %}
{% load process_serie_id %}
{% load cache %}
{% block title %}{{ user.username }} | Liberateca{% endblock %}
{% block sidebar %}
	<!-- IMAGE -->
    <div class="center margin">
        <!-- AVATAR -->
        {% if request.user == user %} 
            <a class="avatar_change" href="{% url avatar_change %}">
                {% avatar user 120 %}
            </a>
        {% else %}
                {% avatar user 120 %}
        {% endif %}
        <ul>
        {% if request.user == user %} 
            <li><a class="avatar_change" href="{% url avatar_change %}">Cambiar avatar</a> 
            <li><a href="{% url auth_password_change %}">Cambiar contraseña</a></li>
            <li>&nbsp;
        {% endif %}
            <li>Usuario desde: {{ user.date_joined|date:"SHORT_DATE_FORMAT" }}
            <li>Último inicio de sesión: {{ user.last_login|date:"SHORT_DATE_FORMAT" }}
        </ul>

    </div>
{% endblock %}
{% block contents %}
<!-- COLUMN 2 -->
	<h1 id="title">{{ user.username }}</h1>

	<!-- TRACKING -->
    {% if request.user == user %} 
    <div id="viewed_episodes">
        <h2>Seguimiento</h2>
        <div id="episode_list">
            <ul>
            {% for episode in user.profile.viewed_episodes.all %}
            <li>
                <a class="serie_hidden" id="serie_{{ episode.season.serie.id }}" href="#">
                    {{ episode.season.serie }}
                    <img alt="Ir a serie" title="Ir a la página de la serie" class="right nobottom go-jump" src="/static/images/go-jump.png" rel="{{ episode.season.serie.get_absolute_url }}">
                    <img alt="Actualizar" title="Actualizar lista de enlaces" class="right nobottom refresh" src="/static/images/view-refresh.png">
                </a>
                <div id="inside_{{ episode.season.serie.id }}"></div>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% cache 500 favorite_series user %}
    <div class="span16 columns">
        <!-- FAVORITE SERIES -->
        <h2>Series favoritas</h2>
        {% if favorite_series %}
          {% include "core/generic_list.html" with objects=favorite_series %}
        {% endif %}
    </div>
    {% endcache %}

    {% cache 500 favorite_books user %}
    <div class="span16 columns">
        <!-- FAVORITE BOOKS -->
        <h2>Libros favoritos</h2>
        {% if favorite_books %}
          {% include "core/generic_list.html" with objects=favorite_books %}
        {% endif %}
    </div>
    {% endcache %}

	<h2> Últimas reseñas </h2>
    {% cache 500 comments user %}
    {% if comments_serie %}
        {% for comment in comments_serie %}
            <ol class="commentlist">
                <li class="comment {% cycle "even" "odd" %} depth-{{ comment.depth }}" id="comment_{{ comment.id }}">
                    {% url user_profile user_name=comment.user as user_profile %}
                    <div class="avatar">
                        {% process_serie_id comment.object_pk %}
                    </div>
                    <div class="comment_content">
                        <div>
                            <cite class="author name">
                                <a href="{{ user_profile }}">{{ comment.user.username }}</a>
                            </cite> dice:
                            <div class="commentmetadata"> 
                                <a href="#comment_{{ comment.id }}">{{ comment.submit_date|date:"SHORT_DATETIME_FORMAT"  }}</a> 
                            </div>
                        </div>
                        <div class="comment_text">
                                <p>{{comment.comment}}</p>
                        </div>
                    </div>
                <div class="hr dotted clearfix">&nbsp;</div>
            </ol>
        {% endfor %}
    {% else %}
        No ha reseñado ninguna serie.
    {% endif %}
    {% endcache %}
</div>
{% endblock %}
