{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load extract_domain %}
{% load avatar_tags %}
{% load process_serie_id %}
{% block title %}{{ user.username }} | Liberateca{% endblock %}
{% block contents %}

<!-- COLUMN 2 -->
<div class="grid_6"> <!-- TITLE -->
	<h1 id="title">{{ user.username }}</h1>
	<div class="hr dotted clearfix">&nbsp;</div>

	<!-- TRACKING -->
    {% if request.user == user %} 
    <div id="viewed_episodes">
        <h2>Seguimiento</h2>
        <div id="episode_list">
            <ul>
            {% for episode in user.profile.viewed_episodes.all %}
            <li>
                <a class="serie_hidden" id="serie_{{ episode.season.serie.id }}" href="#">
                    {{ episode.season.serie }}
                    <img alt="Ir a serie" title="Ir a la página de la serie" class="right nobottom go-jump" src="/static/images/go-jump.png" rel="{{ episode.season.serie.get_absolute_url }}">
                    <img alt="Actualizar" title="Actualizar lista de enlaces" class="right nobottom refresh" src="/static/images/view-refresh.png">
                </a>
                <div id="inside_{{ episode.season.serie.id }}"></div>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <p class="clearfix">
	<div class="hr dotted clearfix">&nbsp;</div>

	<h2> Últimas reseñas </h2>
    {% if comments_serie %}
        {% for comment in comments_serie %}
            <ol class="commentlist">
                <li class="comment {% cycle "even" "odd" %} depth-{{ comment.depth }}" id="comment_{{ comment.id }}">
                    {% url user_profile user_name=comment.user as user_profile %}
                    <div class="avatar">
                        {% process_serie_id comment.object_pk %}
                    </div>
                    <div class="comment_content">
                        <div>
                            <cite class="author name">
                                <a href="{{ user_profile }}">{{ comment.user.username }}</a>
                            </cite> dice:
                            <div class="commentmetadata"> 
                                <a href="#comment_{{ comment.id }}">{{ comment.submit_date|date:"SHORT_DATETIME_FORMAT"  }}</a> 
                            </div>
                        </div>
                        <div class="comment_text">
                                <p>{{comment.comment}}</p>
                        </div>
                    </div>
                <div class="hr dotted clearfix">&nbsp;</div>
            </ol>
        {% endfor %}
    {% else %}
        No ha reseñado ninguna serie.
    {% endif %}
</div>



<div class="grid_4" id="box">
	<!-- IMAGE -->
    <div class="left">
        <!-- AVATAR -->
        {% if request.user == user %} 
            <a class="avatar_change" href="{% url avatar_change %}">
                {% avatar user 120 %}
            </a>
        {% else %}
                {% avatar user 120 %}
        {% endif %}
    </div>
    <div class="right">
        <ul>
        {% if request.user == user %} 
            <li><a class="avatar_change" href="{% url avatar_change %}">Cambiar avatar</a> 
            <li><a href="{% url auth_password_change %}">Cambiar contraseña</a></li>
            <li>&nbsp;
        {% endif %}
            <li>Usuario desde: {{ user.date_joined|date:"SHORT_DATE_FORMAT" }}
            <li>Último inicio de sesión: {{ user.last_login|date:"SHORT_DATE_FORMAT" }}
        </ul>

    </div>
    <div class="hr dotted clearfix">&nbsp;</div>
        <!-- FAVORITE SERIES -->
        <h2>Series favoritas</h2>
        {% if favorite_series %}
          {% for serie in favorite_series %}
            <a class="portfolio_item float alpha" href="{{ serie.get_absolute_url }}">
            <div class="preload" >
            {% if serie.poster %} {% thumbnail serie.poster.src "150x150" as img_serie %} 
                <img class="prel serie" id="{{ serie.id }}" src="{{ img_serie.url }}" alt="{{serie.name}}"/>{% endthumbnail %}
            {% else %}
                <div class="image_not_found">  <img src="/static/images/image_not_available.png" width="50"> </div>
            {% endif %}
            </div>
        </a>{% endfor %}
        {% else %} 
        No tiene series favoritas :(
        {% endif %}
</div>

{% endblock %}
