{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load extract_domain %}
{% load avatar_tags %}
{% load process_serie_id %}
{% block title %}{{ user.username }} | Liberateca{% endblock %}
{% block contents %}

<!-- COLUMN 2 -->
<div class="grid_6"> <!-- TITLE -->
	<h1 id="title">{{ user.username }}</h1>
	<div class="hr dotted clearfix">&nbsp;</div>

	<!-- TRACKING -->
    {% if request.user == user %} 
    <div id="viewed_episodes">
        <h2>Seguimiento</h2>
        <div id="episode_list">
            <ul>
            {% for episode in user.profile.viewed_episodes.all %}
            <li>
                <a class="serie_hidden" id="serie_{{ episode.season.serie.id }}" href="#">
                    {{ episode.season.serie }}
                    <img alt="Ir a serie" title="Ir a la página de la serie" class="right nobottom go-jump" src="/static/images/go-jump.png" rel="{{ episode.season.serie.get_absolute_url }}">
                    <img alt="Actualizar" title="Actualizar lista de enlaces" class="right nobottom refresh" src="/static/images/view-refresh.png">
                </a>
                <div id="inside_{{ episode.season.serie.id }}"></div>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <p class="clearfix">
	<div class="hr dotted clearfix">&nbsp;</div>

	<h2> Últimas reseñas </h2>
	{% if comments_serie %}
	<ul>
		{% for comment in comments_serie %}
            <ol class="commentlist" id="c{{ comment.id }}">
                    <li class="comment">
                                <div class="gravatar">
                            {% process_serie_id comment.object_pk %}
                                </div>
                    <div class="comment_content">
                            <div class="clearfix">
                                    <div class="comment-meta commentmetadata">{{ comment.submit_date }}</div>
                            </div>
                            <div class="comment_text">
                                    <p>{{comment.comment}}</p>
                            </div>
                    </div>
                    </li>
            </ol>
		{% endfor %}
	</ul>
	{% else %}
	No has reseñado ninguna serie.
	{% endif %}
</div>



<div class="grid_4" id="box">
	<!-- IMAGE -->
    <div class="left">
        <!-- AVATAR -->
        {% if request.user == user %} 
            <a class="avatar_change" href="{% url avatar_change %}">
                {% avatar user 120 %}
            </a>
        {% else %}
                {% avatar user 120 %}
        {% endif %}
    </div>
    <div class="right">
        <ul>
        {% if request.user == user %} 
            <li><a class="avatar_change" href="{% url avatar_change %}">Cambiar avatar</a> 
            <li><a href="{% url auth_password_change %}">Cambiar contraseña</a></li>
            <li>&nbsp;
        {% endif %}
            <li>Usuario desde: {{ user.date_joined|date:"SHORT_DATE_FORMAT" }}
            <li>Último inicio de sesión: {{ user.last_login|date:"SHORT_DATE_FORMAT" }}
        </ul>

    </div>
    <div class="hr dotted clearfix">&nbsp;</div>
        <!-- FAVORITE SERIES -->
        <h2>Series favoritas</h2>
        {% if favorite_series %}
          {% for serie in favorite_series %}
            <a class="portfolio_item float alpha" href="{{ serie.get_absolute_url }}">
            <div class="preload" >
            {% if serie.poster %} {% thumbnail serie.poster.src "150x150" as img_serie %} 
                <img class="prel serie" id="{{ serie.id }}" src="{{ img_serie.url }}" alt="{{serie.name}}"/>{% endthumbnail %}
            {% else %}
                <div class="image_not_found">  <img src="/static/images/image_not_available.png" width="50"> </div>
            {% endif %}
            </div>
        </a>{% endfor %}
        {% else %} 
        No tiene series favoritas :(
        {% endif %}
</div>

{% endblock %}
{% block extrascript %}
<script type="text/javascript">
    $('.serie_hidden').live('click', function(event){
        event.preventDefault();

        var $refresh = $(this).children('.refresh');

        // poor mans toogle
        // comprobamos si ya estaba seleccionada anteriormente
        var check_selected = $(this).attr('class'); 
        if (check_selected.indexOf('selected_list') != -1) {
            // si ya existe lo cerramos
            $(this).removeClass('selected_list');
            $(this).siblings().html('');
            $refresh.hide();
            return false;
        } else { 
            $(this).addClass('selected_list');
        }

        // loading..
        var $inside = $(this).next();
        $inside.html('<img class="center" src="/static/images/ajax-loading-bar.gif" />');

        // conseguimos serie_id
        var serie_id_raw = $(this).attr('id'); 
        var serie_id = serie_id_raw.split('_')[1] // poker fac ('_')

        $.post('/accounts/tracking/', { 
            'serie_id' : serie_id,
            'csrfmiddlewaretoken': getCookie('csrftoken')
            }, function(data){
                $inside.html(data);
            }
        );

        // mostramos el refresh
        $refresh.show();
    }); 

    $('.refresh').hide();

    $('.refresh').live('click', function(event){
        // recargar los episodios del tracking
        event.preventDefault();

        // loading..
        var $inside = $(this).parent().next();
        $inside.html('<img class="center" src="/static/images/ajax-loading-bar.gif" />');

        // conseguimos serie_id
        var serie_id_raw = $(this).parent().attr('id'); 
        var serie_id = serie_id_raw.split('_')[1] // poker fac ('_')

        $.post('/accounts/tracking/', { 
            'serie_id' : serie_id,
            'csrfmiddlewaretoken': getCookie('csrftoken')
            }, function(data){
                $inside.html(data);
            }
        );

        event.stopPropagation();
    }); 


    $('.go-jump').live('click', function(event){
        // ir a la pagina de la serie al ser click en la flechita verde
        event.preventDefault();
        var href = $(this).attr('rel');
        window.location.href = href;
        event.stopPropagation();
    }); 
    
</script>
{% endblock %}
