{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load extract_domain %}
{% load avatar_tags %}
{% block title %}{{ user.username }} | Liberateca{% endblock %}
{% block contents %}

<!-- COLUMN 2 -->
<div class="grid_6"> <!-- TITLE -->
	<h1 id="title">{{ user.username }}</h1>
	<div class="hr dotted clearfix">&nbsp;</div>

	<!-- TRACKING -->
    {% if request.user == user %} 
    <div id="viewed_episodes">
        <h2>Seguimiento</h2>
        TODO: PROXIMOS EPIS
        <div id="episode_list">
            <ul>
        {% for episode in user.profile.viewed_episodes.all %}
                <li class="series_not_viewed"><a href="#">{{ episode.season.serie }}</a>
                {% with episode.get_next_episode as episode %}
                    <li class="episodes_not_viewed">
                        <a class="zoom" {% if episode.from_future %}id="future" {% endif %}href="{% url ajax_list_links_episodes serie_id=episode.season.serie.id season=episode.season.season episode=episode.episode %}">
                            <strong>{{ episode.season_episode }}</strong>- {{ episode.title }} - <span id="datemeta">({{ episode.air_date|date:"SHORT_DATE_FORMAT" }})</span>
                            <img alt="Descargar" title="Ver lista de enlaces" class="right nobottom" src="/static/images/download.png">
                            <img alt="Descrición" title="Ver descripción" class="right espoiler nobottom" id="{{ episode.id }}" rel="{% url ajax_espoiler serie_id=episode.season.serie.id season=episode.season.season episode=episode.episode %}" src="/static/images/emblem-photos.png">
                            {% if request.user.is_authenticated %}<img alt="Añadir" title="Añadir un enlace" id="{{ episode.id }}" rel="/series/links/add/episode/" class="add_link right nobottom" src="/static/images/list-add.png">{% endif %}
                        </a>
                    <div class="list_inside" id="inside{{episode.pk}}"></div>
                {% endwith %}
        {% endfor %}
                </ul>
            </div>
    </div>
    {% endif %}

    <p class="clearfix">
	<div class="hr dotted clearfix">&nbsp;</div>

	<h2> Últimas reseñas </h2>
	{% if comments_serie %}
	<ul>
		{% for comment in comments_serie %}
            <ol class="commentlist" id="c{{ comment.id }}">
                    <li class="comment">
                                <div class="gravatar">
                                    TODO: INSERTAR IMAGEN SERIE
                                </div>
                    <div class="comment_content">
                            <div class="clearfix">
                                    <cite class="author_name">{{ comment.name }}</cite>
                                    <div class="comment-meta commentmetadata">{{ comment.submit_date }}</div>
                            </div>
                            <div class="comment_text">
                                    <p>{{comment.comment}}</p>
                            </div>
                    </div>
                    </li>
            </ol>
		{% endfor %}
	</ul>
	{% else %}
	No has reseñado ninguna serie.
	{% endif %}
</div>



<div class="grid_4" id="box">
	<!-- IMAGE -->
    <div class="left">
        <!-- AVATAR -->
        {% avatar user %}
        <br />
    </div>
    <div class="right">
        {% if request.user == user %} 
        <ul>
            <li><a class="avatar_change" href="{% url avatar_change %}">Cambiar avatar</a> 
            <li><a href="{% url auth_password_change %}">Cambiar contraseña</a></li>
            <li>&nbsp;
            {% if remaining_invitations %}
            <li>Tienes {{ remaining_invitations }} invitaciones.
            <li><a href="{% url invitation_invite %}">Invita a tus colegas</a></li>
            {% else %}
            <li>No tienes invitaciones disponibles.
            {% endif %}
        </ul>
        {% endif %}
        {{ user.date_joined }}
        {{ user.last_login }}

    </div>
    <div class="hr dotted clearfix">&nbsp;</div>
        <!-- FAVORITE SERIES -->
        <h2>Series favoritas</h2>
        {% if favorite_series %}
          {% for serie in favorite_series %}
            <a class="portfolio_item float alpha" href="{{ serie.get_absolute_url }}">
                <div class="preload" >
            {% if serie.poster %} {% thumbnail serie.poster.src "150x150" as img_serie %} 
                <img class="prel serie" id="{{ serie.id }}" src="{{ img_serie.url }}" alt="{{serie.name}}"/>{% endthumbnail %}
            {% else %}
                <div class="image_not_found">  <img src="/static/images/image_not_available.png" width="50"> </div>
            {% endif %}
            </div>
        </a>{% endfor %}
        {% else %} 
        No tienes series favoritas :(
        {% endif %}
</div>

{% endblock %}
