{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load extract_domain %}
{% load avatar_tags %}
{% load process_serie_id %}
{% block title %}{{ user.username }} | Liberateca{% endblock %}
{% block contents %}

<!-- COLUMN 2 -->
<div class="grid_6"> <!-- TITLE -->
	<h1 id="title">{{ user.username }}</h1>
	<div class="hr dotted clearfix">&nbsp;</div>

	<!-- TRACKING -->
    {# if request.user == user #} 
    <!-- div id="viewed_episodes">
        <h2>Seguimiento</h2>
        {# for episode in user.profile.viewed_episodes.all #}
        <a class="serie_hidden" style="font-size:2em;" href="#">{# episode.season.serie #}</a>
        <div id="episode_list" class="episodes_hidden">
            <ul>
                {# for episode in episode.get_next_5_episodes  #}
                    {# include "serie/ajax/episode.html" #}
                {# endfor #}
            </ul>
        </div>
        {# endfor #}
    </div -->
    {# endif #}

    <p class="clearfix">
	<div class="hr dotted clearfix">&nbsp;</div>

	<h2> Últimas reseñas </h2>
	{% if comments_serie %}
	<ul>
		{% for comment in comments_serie %}
            <ol class="commentlist" id="c{{ comment.id }}">
                    <li class="comment">
                                <div class="gravatar">
                            {% process_serie_id comment.object_pk %}
                                </div>
                    <div class="comment_content">
                            <div class="clearfix">
                                    <cite class="author_name">{{ comment.name }}</cite>
                                    <div class="comment-meta commentmetadata">{{ comment.submit_date }}</div>
                            </div>
                            <div class="comment_text">
                                    <p>{{comment.comment}}</p>
                            </div>
                    </div>
                    </li>
            </ol>
		{% endfor %}
	</ul>
	{% else %}
	No has reseñado ninguna serie.
	{% endif %}
</div>



<div class="grid_4" id="box">
	<!-- IMAGE -->
    <div class="left">
        <!-- AVATAR -->
        {% if request.user == user %} 
            <a class="avatar_change" href="{% url avatar_change %}">
                {% avatar user 120 %}
            </a>
        {% else %}
                {% avatar user 120 %}
        {% endif %}
    </div>
    <div class="right">
        <ul>
        {% if request.user == user %} 
            <li><a class="avatar_change" href="{% url avatar_change %}">Cambiar avatar</a> 
            <li><a href="{% url auth_password_change %}">Cambiar contraseña</a></li>
            <li>&nbsp;
            {% if remaining_invitations %}
                <li>Tienes {{ remaining_invitations }} invitaciones.
                <li><a href="{% url invitation_invite %}">Invita a tus colegas</a></li>
            {% else %}
                <li>No tiene invitaciones disponibles.
            {% endif %}
            <li>&nbsp;
        {% endif %}
            <li>Usuario desde: {{ user.date_joined|date:"SHORT_DATE_FORMAT" }}
            <li>Último inicio de sesión: {{ user.last_login|date:"SHORT_DATE_FORMAT" }}
        </ul>

    </div>
    <div class="hr dotted clearfix">&nbsp;</div>
        <!-- FAVORITE SERIES -->
        <h2>Series favoritas</h2>
        {% if favorite_series %}
          {% for serie in favorite_series %}
            <a class="portfolio_item float alpha" href="{{ serie.get_absolute_url }}">
            <div class="preload" >
            {% if serie.poster %} {% thumbnail serie.poster.src "150x150" as img_serie %} 
                <img class="prel serie" id="{{ serie.id }}" src="{{ img_serie.url }}" alt="{{serie.name}}"/>{% endthumbnail %}
            {% else %}
                <div class="image_not_found">  <img src="/static/images/image_not_available.png" width="50"> </div>
            {% endif %}
            </div>
        </a>{% endfor %}
        {% else %} 
        No tiene series favoritas :(
        {% endif %}
</div>

{% endblock %}
{% block extrascript %}
<script type="text/javascript">
    $('.episodes_hidden').hide();

    $('.serie_hidden').live('click', function(event){
        event.preventDefault();
        $(this).next().slideToggle();
    }); 
</script>
{% endblock %}
