{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load extract_domain %}
{% load avatar_tags %}
{% block title %}{{ user.username }} | Liberateca{% endblock %}
{% block contents %}
<!-- USER NAME -->
<h2 class="grid_12 caption clearfix"><span>{{ user.username }}</span></h2>

<div class="grid_2">
	<!-- AVATAR -->
	{% avatar user %}
	<br />
	{% if request.user == user %} 
        <p>
            <a class="avatar_change" href="{% url avatar_change %}">Cambiar avatar</a> 
            <a href="{% url auth_password_change %}">Cambiar contraseña</a></li>
        </p>
        <p>
            {% if remaining_invitations %}
                 Tienes {{ remaining_invitations }} invitaciones.
                <a href="{% url invitation_invite %}">Invita a tus colegas</a></li>
            {% else %}
                No tienes invitaciones disponibles.
            {% endif %}
        </p>
    {% endif %}
</div>


<div class="grid_10">
    <p class="clearfix">
        <!-- FAVORITE SERIES -->
        <h2>Series favoritas</h2>
        {% if favorite_series %}
          {% for serie in favorite_series %}
            <a class="portfolio_item float alpha" href="{{ serie.get_absolute_url }}">
            <div class="preload" style="width:120px; height:170px">
            {% if serie.poster %} {% thumbnail serie.poster.src "180x160" as img_serie %} 
                <img class="prel serie" id="{{ serie.id }}" src="{{ img_serie.url }}" alt="{{serie.name}}"/>{% endthumbnail %}
            {% else %}
                <div class="image_not_found">  <img src="/static/images/image_not_available.png" width=110> </div>
            {% endif %}
            </div>
            <p class="subtitle"> {{ serie.name|slice:":18" }}</p> 
        </a>{% endfor %}
        {% else %} 
        No tienes series favoritas :(
        {% endif %}
    </p>

    <p class="clearfix">
        <!-- VOTED LINKS -->
        <h2> Últimos enlaces votados </h2>
        {% if voted_links %}
        <table id="links">
            <thead>
            <tr>
                <th scope="col">Serie</th>
                <th scope="col">Season</th>
                <th scope="col">Episode</th>
                <th scope="col">Link</th>
                <th scope="col">Audio</th>
                <th scope="col">Subtitles</th>
                <th scope="col">Vote</th>
            </tr>
            {% for vote in voted_links %}
            <tr>
                <td>{{ vote.0.episode.season.serie|title }}</td>
                <td>{{ vote.0.episode.season.season }}</td>
                <td>{{ vote.0.episode.episode}}</td>
                <td><a href="{{ vote.0 }}"> {{ vote.0|extract_domain }}</a></td>
                <td>{{ vote.0.audio_lang }}</td>
                <td>{% if vote.0.subtitle %}{{ vote.0.subtitle }}{% endif%}</td>
                <td>{% if vote.1 == 1 %}<img src="/static/images/voting/aupmod.gif">{% else %}
                {% if vote.1 == -1 %}<img src="/static/images/voting/adownmod.gif">{% endif %}{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        No ha votado ningun link.
        {% endif %}
    </p>

	<h2> Últimas 10 reseñas de series </h2>
	{% if comments_serie %}
	<ul>
		{% for comment in comments_serie %}
			<li> <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object.name }}</a> - {{ comment.comment}} -  {{comment.submit_date }}
		{% endfor %}
	</ul>
	{% else %}
	No has reseñado ninguna serie.
	{% endif %}

</div>

{% endblock %}
