  <form class="center margin" id="add_link_form" action="{% if link_type == 'episode' %}{% url ajax_add_link link_type='episode' obj_id=episode.id %}{% else %}{% if link_type == 'season' %}{% url ajax_add_link link_type='season' obj_id=season.id %}{% endif %}{% endif %}{% if edit %}?edit=yes&linkid={{ link.id }}{% endif %}" method="post">
    {% csrf_token %}
  {{ form.non_field_errors }}
    <ul>
      <li class="fieldwrapper">
        {{ form.url.errors }}
        <label for="id_url">URL:</label>
        <div class="input">
          {{ form.url }}
        </div>
      </li>
      <li class="fieldwrapper">
        {{ form.audio_lang.errors }}
        <label for="id_audio_lang">Idioma:</label>
        <div class="input">
          {{ form.audio_lang }}
        </div>
      </li>
      <li class="fieldwrapper">
        {{ form.subtitle.errors }}
        <label for="id_subtitle">Subtitulos:</label>
        <div class="input">
          {{ form.subtitle }}
        </div>
      </li>
    </ul>
    <input class="btn primary margin" id="submit_link" type="submit" value="Enviar" />
    {% include "core/_search_and_help_toolbar.html" %}

  </form>
