{{ mensaje }}

<form class="left" id="add_episode_form" action="{% url ajax_add_episode serie_id=serie.id season=season.season %}" method="POST">
<ul>
    {{ form.non_field_errors }}
    <li class="fieldWrapper">
        {{ form.air_date.errors }}
        <label for="id_air_date">Fecha de emisión:</label>
        {{ form.air_date }}
    </li>
    <li class="fieldWrapper">
        {{ form.title_es.errors }}
        <label for="id_title_es">Título [es]:</label>
        {{ form.title_es }}
    </li>
    <li class="fieldWrapper">
        {{ form.title_en.errors }}
        <label for="id_title_es">Título [en]:</label>
        {{ form.title_en }}
    </li>
    <li class="fieldWrapper">
        {{ form.episode.errors }}
        <label for="id_episode">Número de episodio:</label>
        {{ form.episode }}
    </li>
</ul>
    <input class="button center" id="submit_episode" type="submit" value="Agregar episodio" />
</form>
