{{ mensaje }}

<form class="left" id="add_episode_form" action="{% url ajax_edit_episode_description serie_id=serie.id season=season.season episode=episode.episode %}" method="POST">
  {% csrf_token %}
<ul>
    {{ form.non_field_errors }}
    <li class="fieldWrapper"> 
        {{ form.description_es.errors }}
        <label for="description_es">Descripción [es]:</label>
        {{ form.description_es }}
    </li>
    <li class="fieldWrapper"> 
        {{ form.description_en.errors }}
        <label for="description_en">Descripción [en]:</label>
        {{ form.description_en }}
    </li>
</ul>
    <input class="btn primary center" id="submit_description_episode" type="submit" value="Cambiar episodio" />
</form>


<form>
<ul>
    {{ form_img.as_ul }}
</ul>
    <input class="btn primary center" id="submit_image_episode" type="submit" value="Cambiar episodio" />
</form>
