{{ mensaje }}

<form class="left" id="add_episode_form" action="{% url ajax_edit_episode_description serie_id=serie.id season=season.season episode=episode.episode %}" method="POST">
<ul>
    {{ form.non_field_errors }}
    <li class="fieldWrapper"> 
        {{ form.description_es.errors }}
        <label for="description_es">Descripción [es]:</label>
        {{ form.description_es }}
    </li>
    <li class="fieldWrapper"> 
        {{ form.description_en.errors }}
        <label for="description_en">Descripción [en]:</label>
        {{ form.description_en }}
    </li>
</ul>
    <input class="button center" id="submit_episode" type="submit" value="Cambiar episodio" />
</form>


<form>
<ul>
    {{ form_img.as_ul }}
</ul>
    <input class="button center" id="submit_episode" type="submit" value="Cambiar episodio" />
</form>


<script>
$('#submit_episode').click(function (e) {       
    e.preventDefault();
    var $air_date = $('input[name=air_date]');
    var $title_es = $('input[name=title_es]');
    var $title_en = $('input[name=title_en]');
    var $episode = $('input[name=episode]');
    var post_url = $('form#add_episode_form[action]').attr('action');
   
    // capturamos la temporada y la serie para refrescar una vez se haya agregado 
    var season_serie = post_url.split('/');
    var serie = season_serie[4];
    var season = season_serie[6];

    // FIXME: Comprobamos que ningun campo este en blanco, lo suyo seria hacer esto pero no funcioan
//    fields = [ $air_date, $title_es, $title_en, $episode ]
//    $.each(fields, function(index, f){
//        if (f.val()==='') {
//            f.addClass('hightlight'); 
//            return false;
//        } else f.removeClass('hightlight');
//    })
//
    if ($air_date.val()=='') {
        $air_date.addClass('hightlight');
        return false;
    } else $air_date.removeClass('hightlight');

    if ($title_es.val()=='') {
        $title_es.addClass('hightlight');
        return false;
    } else $title_es.removeClass('hightlight');

    if ($title_en.val()=='') {
        $title_en.addClass('hightlight');
        return false;
    } else $title_en.removeClass('hightlight');

    if ($episode.val()=='') {
        $episode.addClass('hightlight');
        return false;
    } else $episode.removeClass('hightlight');

    // TODO: Comprobamos que la fecha este en un formato valido 

    // TODO: Comprobamos que el numero de episodio sea un entero

    // enviamos la peticion, title = title_en
    $.post(post_url, {
        'air_date': $air_date.val(), 
        'title_es': $title_es.val(), 
        'title_en': $title_en.val(), 
        'title': $title_en.val(), 
        'episode': $episode.val(), 
        'csrfmiddlewaretoken': getCookie('csrftoken')
    }, function(data) {
            switch (data) {
                case 'OK':
                    $.jGrowl("El episodio se ha creado exitosamente, gracias por colaborar");
                    $('#season_list').html('<img src="/static/images/ajax-loading-bar.gif">');
                    $('#season_list').load('/series/lookup/serie/' + serie + '/season/' + season + '/');
                    return false; 
                    break;
                case 'Duplicado':
                    $.jGrowl("Ese episodio ya se encuentra, comprueba el numero");
                    break;
                default:
                    $.jGrowl("Ha ocurrido un error durante el envio, reportalo a bugs@liberateca.net");
            }
      }  
    );  
});

</script>
