<div class="ui-tooltip-titlebar">{{ serie.name }}{% if serie.name != serie.name_en %} <br/>{{ serie.name_en }}{% endif %}</div>
<div id="ui-tooltip-content" class="ui-tooltip-content" aria-atomic="true">
{% load background_color %}
<div class="right rating_num {{ rating|background_color }}">{{ serie.rating.get_rating|floatformat }}
        <div class="mt_3">de 5</div>
        <div class="mt_3">({{ serie.rating.votes }} votos)</div>
    </div>
    <p class="nobottom"><b>Género</b>: {% for g in genres %} {{ g.name }} {% endfor %}</p>
    <p class="nobottom"><b>Cadena</b>: {{ serie.network.name }}
    <p class="nobottom"><b>Duración</b>: {{ serie.runtime }} minutos
    <p class="nobottom"> {{ serie.description|truncatewords:50 }}
</div>
