
<div id="episode_list">
  <ul>
    {% if request.user.is_authenticated %}
    <li>
        <!-- AÑADIR UN EPISODIO --> 
        <a href="{% url ajax_add_episode serie_id=season.serie.id season=season.season %}" id="add_episode" title="Agregar capítulo">
            <img title="Agregar capitulo nuevo" alt="Agregar capitulo nuevo" src="/static/images/list-add.png" class="left nobottom">
            Agregar capítulo
        </a>
        <div id="episode_inside"></div>
    </li>
    {% endif %}
    <!-- TEMPORADA COMPLETA -->
    <li>
        <a class="zoom" href="{% url ajax_list_links_season serie_id=season.serie.id season=season.season %}">
            <strong>Temporada {{ season.season }} Completa</strong>
        <img alt="Descargar" title="Ver lista de enlaces" class="right nobottom" src="/static/images/download.png">
        {% if request.user.is_authenticated %}<img alt="Añadir" title="Añadir un enlace" id="{{ season.id }}" rel="/series/links/add/season/" class="add_link nobottom right" src="/static/images/list-add.png"></a>{% endif %}
        <div class="list_inside" id="inside{{ season.id }}"></div>
    </li>
  {% for episode in episode_list %}
    <li id="serie_{{ season.serie.id }}_{{ season.season }}_{{ episode.episode }}" class="episode">
        <!-- EPISODIO {{ episode.episode }} -->
        {% if request.user.is_authenticated %}<input style="margin-left:1em;" type="checkbox" name="view" class="left"> {% endif %}
        <a class="zoom" {% if episode.from_future %}id="future" {% endif %}href="{% url ajax_list_links_episodes serie_id=season.serie.id season=season.season episode=episode.episode %}">
            <strong>{{ episode.season_episode }}</strong>- {{ episode.title }} - <span id="datemeta">({{ episode.air_date|date:"SHORT_DATE_FORMAT" }})</span>
            <img alt="Descargar" title="Ver lista de enlaces" class="right nobottom" src="/static/images/download.png">
            <img alt="Descrición" title="Ver descripción" class="right espoiler nobottom" id="{{ episode.id }}" rel="{% url ajax_espoiler serie_id=season.serie.id season=season.season episode=episode.episode %}" src="/static/images/emblem-photos.png">
            {% if request.user.is_authenticated %}<img alt="Añadir" title="Añadir un enlace" id="{{ episode.id }}" rel="/series/links/add/episode/" class="add_link right nobottom" src="/static/images/list-add.png">{% endif %}
        </a>
        <div class="list_inside" id="inside{{episode.pk}}"></div>
    </li>
  {% endfor %}
  </ul>
</div>
<script type="text/javascript">
$(document).ready(function(){ 
    $("input:checkbox").bind("click", function(){ 
        // Enviamos el valor de ultima por AJAX
        serie_season_episode = $(this).parent().attr('id').split('_');
        serie_id = serie_season_episode[1];
        season = serie_season_episode[2]; 
        episode = serie_season_episode[3]; 
        check_viewed(serie_id, season, episode);
        $.post('/series/tracking/', {
                'serie_id': serie_id,
                'season': season,
                'episode': episode,
                'csrfmiddlewaretoken': getCookie('csrftoken')
                }, function(data){
                    switch (data) {
                        case 'OK':
                            $.jGrowl("Has marcado el episodio como visto");
                            break;
                        default:
                            $.jGrowl("Ha ocurrido un error durante el envio, reportalo a bugs@liberateca.net");
                            alert(data);
                    }
                }
        )
    });
});
</script>
