<p id="searchresults">
{% if books_results %}
    <span class="category">Libros</span>
    {% for result in books_results %}
        {% include "search/_ajax_results.html" %}
    {% endfor %}
    <span class="seperator">
    <a href="/books/">Si no encuentras tu libro prueba en el listado</a>
    </span>
{% endif %}
<span class="clear"></span>
{% if series_results %}
    <span class="category">Series</span>
    {% for result in series_results %}
        {% include "search/_ajax_results.html" %}
    {% endfor %}
    <span class="seperator">
    <a href="/series/">Si no encuentras tu serie prueba en el listado</a>
    </span>
{% endif %}
</p>
