{% load thumbnail %}
<p id="searchresults">
    <span class="category">Serie</span>
    {% for result in results %}
        <a href="{{ result.get_absolute_url }}">
            {% if result.poster %}
                {% thumbnail result.poster.src "100x80" as img_serie %}
                <img alt="{{ result.name }}" src="{{ img_serie.url }}"/>
                {% endthumbnail %}
            {% else %} 
                <img alt="{{ result.name }}" src="/static/images/image_not_available_small.png"/>
            {% endif %}
             <span class="searchheading">{{ result.name }}</span>
             <span>{{ result.description|slice:":200" }}...</span>
        </a>
    {% endfor %}
    <span class="seperator">
    <a href="/series/">Si no encuentras tu serie prueba en el listado</a>
    </span>
</p>
