{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}
{% block contents %}
{% if query %}
    {% if page.object_list|length == 1 %} 
	<h2 class="grid_12 caption clearfix">
    Encontrado un solo resultado, redireccionando a <a href="{{ page.object_list.0.object.get_absolute_url }}">{{ page.object_list.0.object.name }}</a>.
    </h2>
        <script type="text/javascript">
        window.location.replace("{{ page.object_list.0.object.get_absolute_url }}");
        </script>
    {% endif %}
{% endif %}
<h2 class="grid_12 caption clearfix">Resultados</h2>
<div class="pr grid_12 clearfix">&nbsp;</div>
{% if query == "liberateca" %}
<iframe class="center" style="margin-bottom:2em;" width="560" height="349" src="http://www.youtube.com/embed/wn8scsbn6lI" frameborder="0" allowfullscreen></iframe>
<div class="pr grid_12 clearfix">&nbsp;</div>
{% endif %}
{% if query %}
    {% for result in page.object_list %}
        <div class="grid_12" style="margin:3em;">
            <a href="{{ result.object.get_absolute_url }}" class="portfolio_item float alpha">
                {% if result.object.images.all.0.src %}
                    {% thumbnail result.object.images.all.0.src "300x200" as img_serie %}
                      <img src="{{ img_serie.url }}">
                    {% endthumbnail %}
                {% else %} 
                    <img src="/static/images/image_not_available.png" height="300" width="200"> 
                {% endif %} 
            </a>
            <a class="right" href="{{ result.object.get_absolute_url }}"> <h2>{{result.object.name|title}}</h2></a>
            <p>Cadena: <a href="{{result.object.network.get_absolute_url}}" class="btn primary"> {{ result.object.network }}</a></p>
            <p>Generos: {% for genre in result.object.genres.all %}<a href="{{ genre.get_absolute_url }}" class="btn primary"
            style="margin:0.5em;">{{genre.name}}</a>{% endfor %}</p>
            <p>Actores: {% for actor in result.object.actors.all %}<a href="{{actor.get_absolute_url}}">{{actor.name}}, <a>{% endfor %}</p>
            <p>{{result.object.description}}</p>
        </div>
        <div class="pr grid_12 clearfix dotted">&nbsp;</div>
    {% empty %}
		<h2 class="grid_10 caption clearfix"><span>No se encuentran resultados</span>... Igual puedes ir al  <a href="{% url serie_index %}">listado de series</a>!</h2>
    {% endfor %}
    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% else %}
    <h2 class="grid_10 caption clearfix"><span>No se encuentran resultados</span>... Igual puedes ir al  <a href="{% url serie_index %}">listado de series</a>!</h2>
{% endif %}
{% endblock %}
