{% extends "base.html" %}
{% load thumbnail %}

{% block contents %}
<div>
	<h2 class="grid_12 caption clearfix">Search Results</h2>
	<div class="pr grid_12 clearfix">&nbsp;</div>
        {% if query %}
	<div class="grid_10">
            {% for result in page.object_list %}
                <p>
		<a href="{{ result.object.get_absolute_url }}" class="portfolio_item float alpha">
			<span>{{result.object.name|title}}</span>
			{% if result.object.images.get_is_poster.0.src %}
			    {% thumbnail result.object.images.get_is_poster.0.src "300x200" as img_serie %}
			      <img src="{{ img_serie.url }}">
			    {% endthumbnail %}
			</p>
			{% else %} 
				<img src="/static/images/image_not_available.png" height="300" width="200"> 
			{% endif %} 
						</a>
            {% empty %}
		<h2 class="grid_10 caption clearfix"><span>No results</span>... But you can go to <a href="{% url serie-index %}">Series List</a> to find out if something you like!</h2>
            {% endfor %}
	</div>
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
		<h2 class="grid_10 caption clearfix"><span>No results</span>... But you can go to <a href="{% url serie-index %}">Series List</a> to find out if something you like!</h2>
        {% endif %}
</div>
{% endblock %}
