<html>
{% load compressed %}
    <head>
    {% compressed_css 'all' %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.asmselect.css" />
    </head>
    <body>
        {{ message }}
        <br />
        <br />
        <br />
        <br />
        <form id="add_serie_form" class="grid_3" action="{% if serie %}
                {% url edit_serie slug_serie=serie.slug_name %}
            {% else %}
                {% url add_serie %}
            {% endif %}" method="POST">
        <ul>
            <h2> Información </h2>
            {{ form.non_field_errors }}
            <li class="fieldwrapper left">
                {{ form.name_es.errors }}
                <label for="id_name_es">Nombre [es]:</label>
                {{ form.name_es }}
            </li>
            <li class="fieldwrapper right">
                {{ form.name_en.errors }}
                <label for="id_name_en">Nombre [en]:</label>
                {{ form.name_en }}
            </li>
            <li class="fieldWrapper">
                {{ form.network.errors }}
                <label for="id_network">Cadena:</label>
                {{ form.network }}
            </li>
            <li class="fieldwrapper">
                {{ form.finished.errors }}
                <label for="id_finished">Finalizada:</label>
                {{ form.finished }}
            </li>
            <li class="fieldWrapper">
                {{ form.runtime.errors }}
                <label for="id_runtime">Duración (en minutos):</label>
                {{ form.runtime }}
            </li>
            <li class="fieldWrapper">
                {{ form.genres.errors }}
                <label for="id_genres">Géneros:</label>
                {{ form.genres }}
            </li>
            <h2>Descripción</h2>
            <table>
                <tr>
                    <th>
                        Español
                    </th>
                    <th>
                        Inglés
                    </th>
                </tr>
                <tr>
                    <td>
                        {{ form.description_es.errors }}
                        {{ form.description_es }}
                    </td>
                    <td>
                        {{ form.description_en.errors }}
                        {{ form.description_en }}
                    </td>
                </tr>
            </table>
            <h2>Actores</h2>
            {{ form.actors.errors }}
            <table>
                <tr>
                    <th>
                        Actor
                    </th>
                    <th>
                        Rol
                    </th>
                </tr>
                <tr class="actors">
                    <td><input id="id_actor" name="actor"></td>
                    <td><input id="id_role" name="role"></td>
                </tr>
                <tr class="actors">
                    <td><input id="id_actor" name="actor"></td>
                    <td><input id="id_role" name="role"></td>
                </tr>
                <tr class="actors">
                    <td><input id="id_actor" name="actor"></td>
                    <td><input id="id_role" name="role"></td>
                </tr>
                <tr class="actors">
                    <td><input id="id_actor" name="actor"></td>
                    <td><input id="id_role" name="role"></td>
                </tr>
                <tr class="actors" id="last-actor">
                    <td><input id="id_actor" name="actor"></td>
                    <td><input id="id_role" name="role"></td>
                </tr>
            </table>
                        <a href="#Actores" id="new-actor">
                            <img src="/static/images/list-add-big.png">
                        </a>
        </ul>
                <input style="margin-left:1em; margin-bottom: 1em;" class="button" id="submit_serie" type="submit" value="{% if serie %}Editar{% else %}Agregar{% endif %}" />
        </form>
{% compressed_js 'all' %}
        <script type="text/javascript" src="/static/js/jquery.asmselect.js"></script>
        <script>
    $("select[multiple]").asmSelect({
        animate: true,
        addItemTarget: 'top'
    });

            
        // TODO: autocomplete de actores

        $('#new-actor').click(
            function(e) {
                e.preventDefault();
                $('#last-actor').after(' \
                    <tr class="actors" id="last-actor"> \
                        <td> <input id="id_actor" name="actor"> </td> \
                        <td> <input id="id_role" name="role"> </td> \
                    </tr>');
                $('#last-actor').removeAttr('id');
            }
        );

        $('#submit_serie').click(function (e) {
            e.preventDefault();
            
            var $name_es = $('input[name=name_es]');
            var $name_en = $('input[name=name_en]');
            var $description_es = $('textarea[name=description_es]');
            var $description_en = $('textarea[name=description_en]');
            var $network = $('select[name=network]');
            var $runtime = $('input[name=runtime]');
            var $finished = $('input[name=finished]');

            var post_url = $('form#add_serie_form[action]').attr('action');

            var genres_list = [];
            $("#asmSelect0 .asmOptionDisabled").each(function (i, selected) { 
                genres_list[i] = $(selected).val(); 
            });
            var genres = genres_list.join()

            var actor_list = [];
            $('.actors').each(
                function(index){
                    actor = $(this).find('input[name=actor]').val();
                    role = $(this).find('input[name=role]').val();
                    if ( actor && role ) {
                        var actor_dict = {
                            'actor': actor,
                            'role': role
                        }
                        console.log(actor_dict);
                    };
                    actor_list[index] = actor_dict;
                }
            )

            // FIXME: Comprobamos que ningun campo este en blanco, lo suyo seria hacer esto pero no funcioan
        //    fields = [ $air_date, $title_es, $title_en, $episode ]
        //    $.each(fields, function(index, f){
        //        if (f.val()==='') {
        //            f.addClass('hightlight'); 
        //            return false;
        //        } else f.removeClass('hightlight');
        //    })
        //
            if ($name_es.val()=='') {
                $name_es.addClass('hightlight');
                return false;
            } else $name_es.removeClass('hightlight');

            if ($name_en.val()=='') {
                $name_en.addClass('hightlight');
                return false;
            } else $name_en.removeClass('hightlight');

            if ($description_es.val()=='') {
                $description_es.addClass('hightlight');
                return false;
            } else $description_es.removeClass('hightlight');

            if ($description_en.val()=='') {
                $description_en.addClass('hightlight');
                return false;
            } else $description_en.removeClass('hightlight');

            // TODO: genres hightlight

            if ($network.val()=='') {
                $network.addClass('hightlight');
                return false;
            } else $network.removeClass('hightlight');

            if ($runtime.val()=='') {
                $runtime.addClass('hightlight');
                return false;
            } else $runtime.removeClass('hightlight');

            // TODO: comprobamos que la duracion sea un numero

            // enviamos la peticion
            $.post(post_url, {
                'name_es': $name_es.val(),
                'name_en': $name_en.val(),
                'name': $name_es.val(),
                'description_es': $description_es.val(),
                'description_en': $description_en.val(),
                'description': $description_es.val(),
                'genres': genres,
                'network': $network.val(),
                'runtime': $runtime.val(),
                'finished': $finished.val(),
                'actors': actor_list,
                'csrfmiddlewaretoken': getCookie('csrftoken')
            }, function(data) {
                    switch (data) {
                        case 'OK':
                            $.jGrowl("La serie se ha creado exitosamente, gracias por colaborar");
                            // accion!?!?!?
                            return false; 
                            break;
                        case 'Duplicado':
                            $.jGrowl("Ya se encuentra una serie con ese nombre");
                            break;
                        default:
                            $.jGrowl("Ha ocurrido un error durante el envio, reportalo a bugs@liberateca.net");
                    }
            }  
            );  
        });

        </script>
    </body>
</html>
