{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{% if serie %}Editando serie {{ serie.name.title }}{% else %}Agregando serie{% endif %} | Liberateca{% endblock %}
{% block sidebar %}
    <h1 class="margin center">{% if serie %}Editando serie{% else %}Agregando serie{% endif %}</h1>
    <ul class="grid_3">
        <li class="center">
            {% if serie.poster.src %}
                {% thumbnail serie.poster.src "400x300" as img_serie %}
                <img id="poster" src="{{ img_serie.url }}" /> {% endthumbnail %}
            {% else %}
                 <img src="/static/images/image_not_available.png" height="200"> 
            {% endif %}
        </li>
        {% if not serie %}
        <li>
            <div class="notice_small">
                <img class="left" src="/static/images/dialog-warning-big.png" alt="Atencion" style="margin-right:1em;">
                <b>¡Atención!</b> Comprueba a través del buscador o del <a href="{% url serie_index %}">listado de series</a> que la serie que vayas a agregar no se encuentre ya.
            </div>
        </li>
        {% endif %} 
    </ul>
{% endblock %}
{% block contents %}
  {% if serie %}
      <h1 class="margin center">{{ serie.name_es.title }}</h1>
  {% endif %}

  <form id="add_serie_form" enctype="multipart/form-data" action="{% if serie %}{% url edit_serie serie_slug=serie.slug_name %}{% else %}{% url add_serie %}{% endif %}" method="POST">
  {% csrf_token %}
    <ul class="grid_3">
            {{ form.non_field_errors }}
            <li class="fieldwrapper clearfix">
                {{ form.name_es.errors }}
                <label for="id_name_es">Nombre [es]:</label>
                <div class="input">
                  {{ form.name_es }}
                </div>
            </li>
            <li class="fieldwrapper clearfix">
                {{ form.name_en.errors }}
                <label for="id_name_en">Nombre [en]:</label>
                <div class="input">
                  {{ form.name_en }}
                </div>
            </li>
            <li class="fieldwrapper clearfix">
                {{ img_form.non_field_errors }}
                {{ img_form.src.errors }}
                <label for="id_name_en">Imagen:</label>
                <div class="input">
                  {{ img_form.src }}
                </div>
            </li>
            <li class="fieldwrapper clearfix">
                {{ form.network.errors }}
                <label for="id_network">Cadena:</label>
                <div class="input">
                  {{ form.network }}
                </div>
            </li>
            <li class="fieldwrapper clearfix">
                {{ form.finished.errors }}
                <label for="id_finished">Finalizada:</label>
                <div class="input">
                  {{ form.finished }}
                </div>
            </li>
            <li class="fieldwrapper clearfix">
                {{ form.runtime.errors }}
                <label for="id_runtime">Duración (en minutos):</label>
                <div class="input">
                  {{ form.runtime }}
                </div>
            </li>
            <li class="fieldwrapper clearfix center">
                {{ form.genres.errors }}
                <label for="id_genres">Géneros:</label>
                <div class="input">
                  {{ form.genres }}
                </div>
            </li>
      <li class="fieldwrapper clearfix">
        <label for="id_description_es">Descripción [es]:</label>
        {{ form.description_es.errors }}
        <div class="input">
          {{ form.description_es }}
        </div>
      </li>
      <li class="fieldwrapper clearfix">
        <label for="id_description_en">Descripción [en]:</label>
        {{ form.description_en.errors }}
        <div class="input">
          {{ form.description_en }}
        </div>
      </li>
      <li>
        <div class="actions">
          <input class="btn primary" id="submit_serie" type="submit" value="{% if serie %}Actualizar{% else %}Agregar{% endif %}" />
          &nbsp;
          <button type="reset" class="btn">Cancel</button>
        </div>
      </li>
  </ul>
</form>
</div>
{% endblock %}
