{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{% if serie %}Editando serie {{ serie.name.title }}{% else %}Agregando serie{% endif %} | Liberateca{% endblock %}
{% block contents %}
<div class="grid_10">
<form id="add_serie_form" enctype="multipart/form-data" action="{% if serie %}{% url edit_serie serie_slug=serie.slug_name %}{% else %}{% url add_serie %}{% endif %}" method="POST">
    <h1>{% if serie %}Editando serie {{ serie.name.title }}{% else %}Agregando serie{% endif %}</h1>
<ul>
    <li class="grid_3">
            {% if serie.poster.src %}
                {% thumbnail serie.poster.src "400x300" as img_serie %}
                <img id="poster" src="{{ img_serie.url }}" /> {% endthumbnail %}
            {% else %}
                 <img src="/static/images/image_not_available.png" height="200"> 
            {% endif %}
            {{ img_form }}
        {% if not serie %}
            <div id="alert-new-serie">
                <img class="left" src="/static/images/dialog-warning-big.png" alt="Atencion">
                <div style="margin-top:4em" class="hightlight"><b>¡Atención!</b> Comprueba a través del buscador o del <a href="{% url serie-index %}">listado de series</a> que la serie que vayas a agregar no se encuentre ya.</div>
            </div>
        {% endif %} 
    </li>
    <li class="grid_3">
        <ul>
            {{ form.non_field_errors }}
            <li class="fieldwrapper">
                {{ form.name_es.errors }}
                <label for="id_name_es">Nombre [es]:</label>
                {{ form.name_es }}
            </li>
            <li class="fieldwrapper">
                {{ form.name_en.errors }}
                <label for="id_name_en">Nombre [en]:</label>
                {{ form.name_en }}
            </li>
            <li class="fieldWrapper">
                {{ form.network.errors }}
                <label for="id_network">Cadena:</label>
                {{ form.network }}
            </li>
            <li class="fieldwrapper">
                {{ form.finished.errors }}
                <label for="id_finished">Finalizada:</label>
                {{ form.finished }}
            </li>
            <li class="fieldWrapper">
                {{ form.runtime.errors }}
                <label for="id_runtime">Duración (en minutos):</label>
                {{ form.runtime }}
            </li>
            <li class="fieldWrapper">
                {{ form.genres.errors }}
                <label for="id_genres">Géneros:</label>
                {{ form.genres }}
            </li>
        </ul>
    </li>
    <li class="grid_3">
                <label for="id_genres">Descripción [es]:</label>
                    {{ form.description_es.errors }}
                    {{ form.description_es }}
                <label for="id_genres">Descripción [en]:</label>
                    {{ form.description_en.errors }}
                    {{ form.description_en }}
    </li>
    <li class="grid_12 center">
        <input class="button" id="submit_serie" type="submit" style="margin-top:2em;" value="{% if serie %}Actualizar{% else %}Agregar{% endif %}" />
    </li>
</ul>
</form>
</div>
{% endblock %}
