<form class="center" id="form_add_season" method="POST" action="{% url add_season serie_slug=serie.slug_name %}">
  {% csrf_token %}
  <ul>
    {{ form_season.non_field_errors }}
    <li class="fieldwrapper">
        {{ form_season.season.errors }}
        <label for="id_season">Temporada:</label>
        <div class="input">
          {{ form_season.season }}
        </div>
    </li>
  </ul>
    <input class="btn primary" id="submit_season" type="submit" style="margin:1em;" value="Agregar" />
</form>
