{% load i18n %}
{% load voting_tags %}
{% load extract_domain %}
{% load extract_type %}
{% load echo_language %}

{% if link_list %}
{% votes_by_user user on link_list as vote_dict %}
{% for link in link_list %}
{% score_for_object link as score %}
{% dict_entry_for_item link from vote_dict as vote %}

<li>
    <a href="{{ link.url }}" target="_blank" rel="nofollow" id="datemeta">{{ link.url|extract_type }} ({{ link.url|extract_domain }})<span>
    Idioma: {{ link.audio_lang.iso_code|echo_language }}
    {% if link.subtitle %} Subtitulos: {{ link.subtitle.iso_code|echo_language }}{% endif %}
     <div class="right">
     {% if request.user == link.user %}
    <!-- EDICION --> 
         <!-- img src="/static/images/pencil-edit.png" class="edit_link nobottom" href="{# url ajax_add_link episode_id=episode.id #}?edit=yes&linkid={{ link.id }}" -->
     {% endif %}
    <!-- VOTING -->
     <span class="score" style="position:relative; top:-25%; margin-right:2em;" id="linkscore{{ link.id }}" title="after {{ score.num_votes|default:0 }} vote{{ score.num_votes|default:0|pluralize }}">{{ score.score|default:0 }}</span>
     <img class="votelink nobottom" id="up_{% if is_season %}season{% else %}episode{% endif %}_{{link.id}}" src="/static/images/voting/aup{% if vote and vote.is_upvote %}mod{% else %}grey{% endif %}.gif">
     <img class="votelink nobottom" id="down_{% if is_season %}season{% else %}episode{% endif %}_{{link.id}}" src="/static/images/voting/adown{% if vote and vote.is_downvote %}mod{% else %}grey{% endif %}.gif">
     </div>
	{% endfor %}
  {% else %}
    <li> <a class="no_link" href="#">{% trans "No hay enlaces disponibles - puedes agregarlos en el botón " %}<img alt="Añadir" title="Añadir un enlace" class="add_link nobottom" src="/static/images/list-add.png"></a>
  {% endif %}

  <script type="text/javascript">
function voting( direction, linktype, linkid ){
    // campos que vamos a tratar
    var $linkscore = $('span#linkscore' + linkid);
    var dir_down = $('#down_' + linktype + '_' + linkid);
    var dir_up = $('#up_' + linktype + '_' + linkid);
    // loading
    $linkscore.html('<img style="margin-bottom:0 !important;" src="/static/images/ajax-loading.gif">');
    // la url va por tipo
    if ( linktype === 'episode' ) {
        url = '/series/links/vote/episode/';
    } else {
        url = '/series/links/vote/season/';
    }
    // el POST, aka jquery te amo
    $.post(url, { 
                'vote': direction,
                'linkid': linkid,
                'csrfmiddlewaretoken': getCookie('csrftoken'),
    }, function (data){ 
        // actualizamos el valor
        $linkscore.html(data.score);

        // actualizamos las imagenes
        if (direction == 'downvote') {
            dir_up.attr('src', '/static/images/voting/aupgrey.gif');
            dir_down.attr('src', '/static/images/voting/adownmod.gif');
        } else if (direction == 'upvote') {
            dir_up.attr('src', '/static/images/voting/aupmod.gif');
            dir_down.attr('src', '/static/images/voting/adowngrey.gif');
        };
      }
    );
    return false;
};
    

$('.votelink').click(function(){
    linkid_raw = $(this).attr('id');
    linksplit = linkid_raw.split('_');
    // linkdir = [up, down]
    linkdir = linksplit[0];
    // linktype = [season, episode]
    linktype = linksplit[1];
    // linkid = link.id (ej: 666)
    linkid = linksplit[2];
    // discrimina linkdir
    if (linkdir === 'down') {
        direction = 'downvote';
    } else if (linkdir === 'up') {
        direction ='upvote';
    }
    // envia la votacion
    voting(direction, linktype, linkid);
    return false;
});
</script>
