<div class="center marginal">
    <form id="add_link_form" action="{% url ajax_add_link episode_id=episode.id %}{% if edit %}?edit=yes&linkid={{ link.id }}{% endif %}" method="post">
        <ul id="add_link_list">
            {{ form.as_ul }}
            <li> <img style="position:relative; bottom:-2em;" id="language_help" src="/static/images/help-browser.png">
        </ul>
        <input style="margin-left:1em; margin-bottom: 1em;" class="button" id="submit" type="submit" value="Enviar" />
    </form>
</div>
