<div class="center marginal">
    <form id="add_link_form" action="{% url ajax_add_link_season season_id=season.id %}{% if edit %}?edit=yes&linkid={{ link.id }}{% endif %}" method="post">
        <ul id="add_link_list">
            {{ form.as_ul }}
            <li> <img style="position:relative; bottom:-2em;" alt="Busqueda" title="Buscar en The Pirate Bay" rel="{{ serie.name}} S0{{ season.season }}" id="search_pb" src="/static/images/system-search.png">
            <li> <img style="position:relative; bottom:-2em;" alt="Ayuda" title="Ayuda de idiomas" id="language_help" src="/static/images/help-browser.png">
        </ul>
        <input style="margin-left:1em; margin-bottom: 1em;" class="button" id="submit" type="submit" value="Enviar" />
    </form>
</div>

<script type="text/javascript">
$('#language_help').click( function() {
    $.jGrowl('<a href="/faq">FAQ</a><b>Referencia de Idiomas:</b><li>en: Inglés<li>es: Español<li>es-es: Español Latino<li>ca: Català<li>jp: Japonés');
});

$('#search_pb').click( function() {
    query = $(this).attr('rel');
    $.jGrowl('Abriendo búsqueda en The Pirate Bay para ' + query);
    window.open( 'http://thepiratebay.org/search/' + query + '/0/7/0');
});

$('#submit').click(function (e) {       
    e.preventDefault();
    var url = $('input[name=url]');
    var audio = $('select[name=audio_lang]');
    var subtitle = $('select[name=subtitle]');
    var post_url = $('form#add_link_form[action]').attr('action');
      //Simple validation to make sure user entered something
        //If error found, add hightlight class to the text field
        if (url.val()==''||url.val()=='http://') {
            url.addClass('hightlight');
            return false;
        } else url.removeClass('hightlight');

        if (audio.val()=='') {
            $('label[for=id_audio_lang]').addClass('hightlight');
            return false;
        } else $('label[for=id_audio_lang]').removeClass('hightlight');

    var dataString = 'url='+ url.val() + '&audio_lang=' + audio.val() + '&subtitle=' + subtitle.val() + '&csrfmiddlewaretoken=' + getCookie('csrftoken');
    //alert (dataString);return false;  
    $.ajax({  
      type: "POST",  
      url: post_url,  
      data: dataString,  
      success: function(data) {  
        if (data.mensaje  == 'Gracias'){
            $.jGrowl("El enlace se ha guardado exitosamente");
        }
      }  
    });  

    return false;
});
</script>
