{% load i18n %}
{% load endless %}
{% load thumbnail %}
{% if objects %}
    {% paginate objects %}
  {% for serie in objects %}
    <div class="grid_2" style="margin-bottom:2em; margin-right:1em;">
        <a class="portfolio_item float alpha" href="{{ serie.get_absolute_url }}">
            <div class="preload" style="width:140px; height:200px">
            {% spaceless %}
                {% if serie.poster.src %}
                    {% thumbnail serie.poster.src "150x200" as img_serie %}
                        <img class="prel serie" id="{{ serie.id }}" src="{{ img_serie.url }}" />
                    {% endthumbnail %}
                {% else %}
                <img class="prel serie" id="{{ serie.id }}" src="/static/images/image_not_available.png" height="300" width="200" /> 
                {% endif %}
                <span class="center">{{ serie.name }}</span>
            {% endspaceless %}
            </div>
            </a>
    </div>
  {% endfor %}
    <div class="hr"></div>
    <div class="center">{% show_more "Ver más" %}</div>
{% else %} 
<h2 class="grid_12 caption clearfix">No hay series de este tipo todavia</h2>
{% endif %}
