{% load i18n %}
{% load endless %}
{% load thumbnail %}
{% if objects %}
  {% paginate pagination_per_page objects %}
        <div class="js-container-wall"> 
  {% for obj in objects %}
                <div class="js-image js-image-wall size-3">
                    {% thumbnail obj.poster.src "150x200" as img_obj %}
                        <a href="{{ obj.get_absolute_url }}"><img class="js-small-image" src="/static/{{ img_obj }}"/></a>
                    {% endthumbnail %}
                    <div class="js-small-caption">
                        <span>{{ obj.name }}</span>
                    </div>
                    <div class="js-overlay-caption-content">
                        <h4>{{ obj.name }}</h4>
                        <p>
<!-- FIXME -->
                           {{ obj.description|truncatewords:40 }}<a href="{{ obj.get_absolute_url }}">Ver serie &raquo;</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
            <div class="center">{% show_more "<div class="button" style="width:15em;">Ver más</div>" %}</div>
{% else %} 
                                            <!-- FIXME -->
    <h2 class="grid_12 caption clearfix">No hay series de este tipo todavia</h2>
{% endif %}
