{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load threadedcomments_tags %}
{% load background_color %}
{% load avatar_tags %}
{% load cache %}
{% block extrahead %}
    <meta property="og:title" content="{{serie.name}} | Liberateca" />
    <meta property="og:description" content="{{ serie.description }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="tv_show" />
    <meta property="og:image" content="http://liberateca.net{{ serie.poster.src.url }}" />
{% endblock %}
{% block title %}{{ serie.name.title }} | Liberateca{% endblock %}
{% block contents %}

<!-- COLUMN LEFT -->
<div class="grid_7">
	<!-- TITLE -->
	<h1 id="title">{{serie.name|title}}</h1>
	<div class="hr dotted clearfix">&nbsp;</div>
	<!-- SEASONS -->
    <div class="grid_2 left" id="episode_list">
        <ul>
            {% if request.user.is_authenticated %}
            <li>
                <a id="season_add" href="{% url add_season serie_slug=serie.slug_name %}">
                    <img title="Agregar temporada nueva" alt="Agregar temporada nueva" src="/static/images/list-add.png" class="left nobottom">
                    Agregar temporada
                </a>
                <div id="inside_season_add"></div>
            </li>
            {% endif %}
        {% for season in season_list %}
            <li>
                <a class="season"  id="serie_{{serie.id}}_season_{{season.season}}" href="#season_list">
                   {% if season.season == 0 %}Capitulos sueltos{% else %}{% trans "Temporada" %}  {{ season.season }}{% endif %}
                </a>
                <div id="inside_serie_{{serie.id}}_season_{{season.season}}"></div>
            </li>
        {% endfor %} </ul>
    </div>
    <div id="season_list" class="right grid_7"></div>
	<div class="hr dotted clearfix">&nbsp;</div>
	<!-- ACTORS -->
        <h2><a id="get_actors" href="#get_actors">{% trans "Actores" %}</a></h2>
        <div id="actors_list"></div>

    {# cache 500 comments serie TODO: Arreglar el contestar  #}
	 <div class="hr clearfix">&nbsp;</div>
        <!-- RESEÑAS -->
        {% get_comment_list for serie as comment_list %}
        <h2>{{ comment_list|length }} {% trans "Reseñas" %}</h2>
        {% include "comments/list.html" %}
    {# endcache #}

        <!-- AGREGAR RESEÑA -->
        <div class="hr clearfix">&nbsp;</div>
        <h2>{% trans "Añade tu reseña" %}</h2>
        {% with serie as object %}
            {% include "comments/form.html" %}
        {% endwith %}
</div>


<!-- COLUMN RIGHT -->
<div class="grid_4" id="box">
	<!-- IMAGE -->
    <div class="left">
        {% if serie.poster.src %}
            {% thumbnail serie.poster.src "400x300" as img_serie %}
                <img alt="{{ serie.name }}" title="{{ serie.name }}" id="poster" src="{{ img_serie.url }}" />
            {% endthumbnail %}
        {% else %}
            <div class="image_not_found center">  <img alt="{{ serie.name }}" title="{{ serie.name }}" src="/static/images/image_not_available.png" alt="{{ serie.name }}" width="200" /> </div>
        {% endif %}

        {% if request.user.is_authenticated %}
        <!-- USER RATING -->
        <div id="rating">
            <form action="." method="POST">
            <input type="radio" name="rating" value="1" class="ratingstar" {% if score == 1 %}checked="checked"{% endif %}/>
            <input type="radio" name="rating" value="2" class="ratingstar" {% if score == 2 %}checked="checked"{% endif %}/>
            <input type="radio" name="rating" value="3" class="ratingstar" {% if score == 3 %}checked="checked"{% endif %}/>
            <input type="radio" name="rating" value="4" class="ratingstar" {% if score == 4 %}checked="checked"{% endif %}/>
            <input type="radio" name="rating" value="5" class="ratingstar" {% if score == 5 %}checked="checked"{% endif %}/>
            </form>
        </div>
    </div>
    <div class="right">
        {% if request.user.is_authenticated %}
        <ul class="horizontal_list">
            <!-- FAVORITE -->
            <li>
            {% if favorite == "no" %}
                <a href="#" onclick="favorite();" id="favorite"><img title="Agregar a favoritas" alt="Agregar a favoritas" class="heart_fav nobottom" src="/static/images/heart_black.png"></a>
            {% else %} 
            {% if favorite == "yes" %}
                <a href="#" onclick="favorite();" id="favorite"><img title="Quitar de favoritas" alt="Quitar de favoritas" class="heart_fav nobottom" src="/static/images/heart_red.png"></a>
                {% endif %}
                {% endif %}
            </li>
            <!-- EDIT -->
            <li id="edit-serie">
                <a href="{% url edit_serie serie_slug=serie.slug_name %}"><img title="Editar serie" class="nobottom" alt="Editar serie" src="/static/images/accessories-text-editor.png"></a>
            </li>
        </ul>
        {% endif %}
        <!-- GENERAL RATING -->
        {% with serie.rating.get_rating as rating %}
            <div class="right rating_num {{ rating|background_color }}"> {{ rating|floatformat }}
                <div class="mt_3">de 5</div>
                <div class="mt_3">({{ serie.rating.votes }} votos)</div>
            </div>
        {% endwith %}
		<div class="hr dotted clearfix">&nbsp;</div>
	<!-- RUNTIME -->
    <ul>
        <li>
            <span class="meta_box">{% trans "Duración" %}</span>
        </li>
        <li>
            {{ serie.runtime }} {% trans "minutos" %}
        </li>
	<!-- NETWORK -->
	{% if serie.network.name %}
        <li>
            <span class="meta_box">{% trans "Cadena" %}</span>
        </li>
        <li>
            <a href="/series/#/network/{{ serie.network.slug_name }}/">{{ serie.network.name }}</a>
        </li>
	{% endif %}
	<!-- GENRE -->
        <li>
            <span class="meta_box">{% trans "Género" %}</span>
            <ul>
                {% for genre in serie.genres.all %}
                <li><a href="/series/#/genre/{{ genre.slug_name }}/">{{ genre.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
	<!-- BUTTONS -->
        <li>
            <a href="/series" class="button">&lt;&lt; {% trans "Series" %}</a>
        </li>
     </ul>
    </div>
	<div class="hr dotted clearfix">&nbsp;</div>
	<div class="hr dotted clearfix">&nbsp;</div>
        {% endif %}
    <p>{{ serie.description }}</p>
	<div class="hr dotted clearfix">&nbsp;</div>
	<div class="hr dotted clearfix">&nbsp;</div>
    <div class="grid_2 left">
        <!-- SHARE -->
        <h2>Compártela</h2>
            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
            <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
                <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                <a href="http://twitter.com/share" class="twitter-share-button"
                    data-url="{{ request.build_absolute_uri }}"
                    data-via="Liberateca"
                    data-text="Disfrutando {{ serie.name }}"
                    data-count="vertical">Tweet
                </a>
                <fb:like href="{{ request.build_absolute_uri }}" send="true" layout="box_count" width="450" show_faces="true" font=""></fb:like>
                <g:plusone size="tall"></g:plusone>
    </div>
    <div class="grid_6 right">
        {% cache 500 followers serie %}
            <h2>Seguidores ({{ serie.favorite_of.count }})</h2>
            {% for user in serie.favorite_of.all %}
                <a class="followers" title="{{ user.user.username }}" href="{% url user_profile user_name=user.user.username %}">
                    {% avatar user.user 30 %}
                </a>
            {% endfor %}
        {% endcache %}
    </div>
</div>

	<div class="hr clearfix">&nbsp;</div>
{% endblock %}
