{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load message_box %}
{% block title %}{{serie.name|title}} - {% trans "Temporada" %} {{ season.season }}{% endblock %}
{% block contents %}
<!-- BREADCRUMB -->
<div class="breadcrumb left">
    <a class="button" href="{% url serie-index %}">Series</a>
    <a class="button" href="{{ serie.get_absolute_url }}">{{ serie.name|title }}</a>
    <a class="button" href="{{ season.get_absolute_url }}">Temporada {{ season.season }}</a> 
    <div class="prev_next">
        {% if prev_season %}<a class="button" href="{{ prev_season.get_absolute_url }}"><< Temporada {{ prev_season.season }}</a>{% endif %}
        {% if next_season %}<a class="button" href="{{ next_season.get_absolute_url }}">Temporada {{ next_season.season }} >></a>{% endif %}
    </div>
</div>

<!-- EPISODES MINI-LIST -->
<center>
<h2 class="grid_7 caption clearfix right">Episodios
{% for episode in episode_list %} 
	<a href="#epi{{episode.episode}}" class="button">{{episode.episode}}</a>
{% endfor %}</h2>
</center>
<div class="hr clearfix dotted">&nbsp;</div>

<p class="show_epi_detail button right">Ver Spoilers</p>
<br />
<br />

<!-- EPISODE LIST -->
{% for episode in episode_list %} 

<div id="epi{{episode.episode}}" class="catagory_1 clearfix">
<!-- COLUMN 1 -->
<div class="grid_6 textright" >
	<h4 class="title">{% trans "Episodio "%}{{ episode.episode }}</h4>
    <div class="epi_detail" style="display:none;">
        <div class="hr clearfix dotted">&nbsp;</div>
        <p>{{ episode.description }}</p>
    </div>
</div>
<!-- COLUMN 2 -->
<div class="grid_3">
	<h4 class="title "><a href="{{ episode.get_absolute_url }}">{% if episode.title %}{{ episode.title }}{% else %}Episode {{ episode.episode }}{% endif %}</a></h4>
    <div style="display:none;" class="epi_detail"> 
        <a href="{{ episode.get_absolute_url }}">
            {% if episode.poster.src %}
                {% thumbnail episode.poster.src "200x200" as img_epi %}
                <img class="img_epi" src="{{ img_epi.url }}">
                {% endthumbnail %}
            {% else %}
                <img src="/static/images/image_not_available.png" height=100>
            {% endif %}
        </a>
    </div>
</div>
<div class="grid_2">
	<span class="meta">{% trans "Emitido el "%}{{ episode.air_date|date:"d/m/y" }}</span>
</div>

<!-- COLUMN 3 -->
<div class="grid_5 right">
			</div>
		</div>
		<div class="pr clearfix grid_12">&nbsp;</div>
{% endfor %}

{% endblock %}
