{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load comments %}
{% load background_color %}
{% block contents %}
<!-- COLUMN 1 -->
<div class="grid_3">
	<!-- IMAGE -->
	{% if serie.poster.src %}
        {% thumbnail serie.poster.src "400x300" as img_serie %}
            <img id="poster" src="{{ img_serie.url }}" />
        {% endthumbnail %}
	{% else %}
        <div class="image_not_found">  <img src="/static/images/image_not_available.png" height=100> </div>
	{% endif %}
	<!-- RATING -->
	  <div id="rating">
	    <form action="." method="POST">
	      <input type="radio" name="rating" value="1" class="ratingstar" {% if score == 1 %}checked="checked"{% endif %}/>
	      <input type="radio" name="rating" value="2" class="ratingstar" {% if score == 2 %}checked="checked"{% endif %}/>
	      <input type="radio" name="rating" value="3" class="ratingstar" {% if score == 3 %}checked="checked"{% endif %}/>
	      <input type="radio" name="rating" value="4" class="ratingstar" {% if score == 4 %}checked="checked"{% endif %}/>
	      <input type="radio" name="rating" value="5" class="ratingstar" {% if score == 5 %}checked="checked"{% endif %}/>
	    </form>
	  </div>
	<div class="hr dotted clearfix">&nbsp;</div>
    <!-- RATING -->
    <div class="center rating_num {{ serie.rating.get_rating|background_color }}"> {{ serie.rating.get_rating|floatformat }}
        <div class="mt_3">de 5</div>
    </div>
	<div class="hr dotted clearfix">&nbsp;</div>
	<!-- NETWORK -->
	{% if serie.network.name %}
	<h4>{% trans "Cadena" %}</h4> 
		<ul>
			<li><a class="button float" href="{{ serie.network.get_absolute_url }}">{{ serie.network.name }}</a></li>
		</ul>
	{% endif %}
	<div class="hr dotted clearfix">&nbsp;</div>
	<!-- GENRE -->
	<h4>{% trans "Género" %}</h4> 
		<ul>
      		{% for genre in serie.genres.all %}
		<li><a class="button" href="{{ genre.get_absolute_url}}">{{ genre.name }}</a></li>
		{% endfor %}
		</ul>
	<div class="hr dotted clearfix">&nbsp;</div>
	<!-- RUNTIME -->
	<h4>{% trans "Duración" %}</h4> 
	<p>{{ serie.runtime }} {% trans "minutos" %}</p>
		<div class="hr dotted clearfix">&nbsp;</div>
	<!-- BUTTONS -->
		<p class="clearfix">
		<a href="/series" class="button float">&lt;&lt; {% trans "Regresar a las Series" %}</a>
		{% get_comment_count for serie as comment_count %}
		<a href="#comments" class="button float">{{comment_count}} {% trans "reseñas" %}</a>
		</p>
</div>

<!-- COLUMN 2 -->
<div class="grid_9">
	<!-- TITLE -->
	<h1 class="title float">{{serie.name|title}}</h1>
	<!-- FAVORITE -->
	<div id="favorite" class="right">
	  {% if favorite == "no" %}
		<a href="#" onclick="favorite();" id="favorite"><img class="heart_fav" src="/static/images/heart_black.png"></a>
	  {% else %} 
	  {% if favorite == "yes" %}
		<a href="#" onclick="favorite();" id="favorite"><img class="heart_fav" src="/static/images/heart_red.png"></a>
	    {% endif %}
	    {% endif %}
	</div>
	<div class="hr dotted clearfix">&nbsp;</div>
	<!-- SEASONS -->
	<h2><span>{% trans "Temporadas" %}</span></h2>
    <div class="left">
    <table>
	{% for season in season_list %}
        <tr>
            <td>
                <a class="portfolio_item float alpha season" href="{{ season.get_absolute_url }}">
                <div class="preload" style="width:44px; height:64px;">
                {% if season.poster %} {% thumbnail season.poster.src "44x64" as img_season %} 
                    <img class="prel" src="{{ img_season.url }}" alt="{{serie.name}} - {{season.season}}"/>{% endthumbnail %}
                {% else %}
                    {% if serie.poster.src %}{% thumbnail serie.poster.src "44x64" as img_serie %}
                    <img class="prel" src="{{ img_serie.url }}" />{% endthumbnail %}
                    {% else %}<div class="image_not_found">  <img src="/static/images/image_not_available.png" width=44> </div>
                    {% endif %}
                {% endif %}
                </div>
                </a>
            </td>
            <td>
                <a class="portfolio_item float alpha season" href="{{ season.get_absolute_url }}">
                <p class="subtitle">{% trans "Temporada" %} {% if season.season == 0 %}<br />Especial{%else%} {{ season.season }}{%endif %}</p> 
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>
    <div class="right" id="season_list" ></div>
    <!-- DESCRIPTION -->
    <div class="right" style="width:500px;"><p style="font-size:120%;">{{ serie.description }}</p>
	<div class="hr clearfix">&nbsp;</div>
	<!-- ACTORS -->
        <h2><a id="get_actors" name="get_actors" href="#get_actors">{% trans "Ver actores" %}</a></h2>
        <div id="actors_list"></div>
    </div>
	{% if not comment_count == 0 %}
        <div class="hr clearfix">&nbsp;</div>
        <!-- RESEÑAS -->
        <h2><a name="comments">{% trans "Reseñas" %}</a></h2>
        {% render_comment_list for serie %}
	{% endif %}

	<!-- RESEÑA -->
    <div class="hr clearfix">&nbsp;</div>
    <h2>{% trans "Añade tu reseña" %}</h2>
	{% with request.path as next %}
	{% render_comment_form for serie %}
	{% endwith %}
</div>

<!-- COLUMN 3 -->
<div class="grid_1">
</div>

<div>
</div>

{% endblock %}
