{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load voting_tags %}
{% load extract_domain %}
{% load echo_language %}
{% load message_box %}
{% block extrahead %}
    <script>
$(document).ready(function(){
	$('.add_link').colorbox({width:'50%', height:'60%', iframe:true, 
         onClosed:function(){ location.reload(true); } 
     });
});

function vote(linkid, direction) {
    var $linkscore = $('#linkscore' + linkid);
    $linkscore.html('<img src="/static/images/ajax-loading.gif">');
    // send the post petition with the required data
    $.post('{{ request.path }}', { 
                'vote': direction, 
                'linkid': linkid,
                'csrfmiddlewaretoken': getCookie('csrftoken'),
    }, function (data){ 
		// change the value with the new score
		$linkscore.html(data.score);
		// change the image
                if (direction == 'upvote') {
			$('#linkuparrow' + linkid + ' img').attr('src', '/static/images/voting/aupmod.gif');
			$('#linkdownarrow' + linkid + ' img').attr('src', '/static/images/voting/adowngrey.gif');
		} else if (direction == 'downvote') {
			$('#linkuparrow' + linkid + ' img').attr('src', '/static/images/voting/aupgrey.gif');
			$('#linkdownarrow' + linkid + ' img').attr('src', '/static/images/voting/adownmod.gif');
		};
	   }
    );
};
    </script>
{% endblock %}
{% block title %}{{ episode.season_episode }} - {{ serie.name }}{% endblock %}
{% block contents %}
<!-- BREADCRUMB -->
<div class="breadcrumb left">
    <a class="button" href="{% url serie-index %}">Series</a>
    <a class="button" href="{{ serie.get_absolute_url }}">{{ serie.name|title }}</a>
    <a class="button" href="{{ season.get_absolute_url }}">Temporada {{ season.season }}</a> 
    <a class="button" href="{{ episode.get_absolute_url }}">Episodio {{ episode.episode }}</a>
    <br/>
    <div class="prev_next">
        {% if prev_epi %}<a class="button" href="{{ prev_epi.get_absolute_url }}"><< Episodio {{ prev_epi.episode }}</a>{% endif %}
        {% if next_epi %}<a class="button" href="{{ next_epi.get_absolute_url }}">Episodio {{ next_epi.episode }} >></a>{% endif %}
    </div>
</div>
	<h2 class="grid_6 caption clearfix right">{{ episode.season_episode }} - {{ episode.title|title }} </h2>
<div class="hr clearfix dotted">&nbsp;</div>

<div class="grid_5 portfolio">
	{% if episode.poster.src %}
	  {% thumbnail episode.poster.src "300x300" as img_episode %}
	    <img src="{{ img_episode.url }}">
	  {% endthumbnail %}
	{% endif %}
</div>
<div class="grid_5">
	<span class="title"> 
	<span class="meta">{% trans "Descripción" %}</span><p style="font-size:14px;">{{ episode.description }}</p>
	<span class="meta">{% trans "Duración" %} </span><p>{{ serie.runtime }} {% trans "minutos" %}</p>
	<span class="meta">{% trans "Fecha de Emisión" %} </span><p> {{ episode.air_date }}</p>
</div>

{% if message == "No registrado" %}
  {% message_box "Debe <a href='/accounts/login'>registrarse o iniciar sesion</a> para votar" %}
{% else %}{% if message == "Vote recorded" %}
  {% message_box "Su voto ha sido guardado" %}
{% endif %}
{% endif %}
{{vote_dict}} {{score_dict}}

<div class="hr clearfix dotted">&nbsp;</div>
<div class="grid_12">
<h2> Links </h2>
	{% if link_list %}
	{% votes_by_user user on link_list as vote_dict %}
	<table id="links">
	    <thead>
		<tr>
			<th scope="col">Link</th>
			<th scope="col">Audio</th>
			<th scope="col">Subtitles</th>
			<th scope="col">Votes</th>
		</tr>
	    </thead>
	    <tbody>
		{% for link in link_list %}
		{% score_for_object link as score %}
	    {% dict_entry_for_item link from vote_dict as vote %}
		<tr>
		<td><a href="{{ link.url }}" rel="nofollow"> {{ link.url|extract_domain }}</a></td>
		<td>{{ link.audio_lang.iso_code|echo_language }}</td>
		<td>{% if link.subtitle %}{{ link.subtitle.iso_code|echo_language }}{% endif %}</td>
		<td>
		<!-- VOTING -->
            <div class="left">
                <a href="#epi{{ episode.episode }}" onclick="vote('{{ link.id }}', 'upvote');" id="linkuparrow{{ link.id }}"><img src="/static/images/voting/aup{% if vote and vote.is_upvote %}mod{% else %}grey{% endif %}.gif"></a>
                <a href="#epi{{ episode.episode }}" onclick="vote('{{ link.id }}', 'downvote');" id="linkdownarrow{{ link.id }}"><img src="/static/images/voting/adown{% if vote and vote.is_downvote %}mod{% else %}grey{% endif %}.gif"></a>
            </div>
			<span class="score right" style="position:relative; top:-25%;" id="linkscore{{ link.id }}" title="after {{ score.num_votes|default:0 }} vote{{ score.num_votes|default:0|pluralize }}">{{ score.score|default:0 }}</span>
		</td>
		<td>
			{% if request.user.username == link.user %}
<a class="add_link button" href="{{ episode.get_add_link_url }}?edit=yes&linkid={{ link.id }}">{% trans "Editar" %}</a> 
{% endif %}
		</td>
		</tr>
		{% endfor %}
	    </tbody>
	</table>
      {% else %}
         {% trans "No hay enlaces disponibles" %}
      {% endif %}
</div>
<br />

<a class="add_link button" href="{{ episode.get_add_link_url }}">{% trans "Añadir enlace" %}</a> 

{% endblock %}

