{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load extract_domain %}
{% block contents %}


{% if series_list %}
  {% for serie in series_list %}
    <div class="grid_3" style="margin-bottom:2em; margin-right:1em;">
        <a class="portfolio_item float alpha" href="{{ serie.get_absolute_url }}">
            <div class="preload" style="width:200px; height:300px">
            {% spaceless %}
                {% if serie.poster.src %}
                    {% thumbnail serie.poster.src "300x300" as img_serie %}
                        <img class="prel serie" id="{{ serie.id }}" src="{{ img_serie.url }}" />
                    {% endthumbnail %}
                {% else %}
                <img class="prel serie" id="{{ serie.id }}" src="/static/images/image_not_available.png" height="300" width="200" /> 
                {% endif %}
                <span class="subtitle">{{ serie.name }}</span>
            {% endspaceless %}
            </div>
            </a>
          {% with serie.rating_score as score %}
                <form action="." method="POST">
                  <input type="radio" name="rating" value="1" class="ratingstar" disabled="disabled" {% if score == 1 %}checked="checked"{% endif %}/>
                  <input type="radio" name="rating" value="2" class="ratingstar" disabled="disabled" {% if score == 2 %}checked="checked"{% endif %}/>
                  <input type="radio" name="rating" value="3" class="ratingstar" disabled="disabled" {% if score == 3 %}checked="checked"{% endif %}/>
                  <input type="radio" name="rating" value="4" class="ratingstar" disabled="disabled" {% if score == 4 %}checked="checked"{% endif %}/>
                  <input type="radio" name="rating" value="5" class="ratingstar" disabled="disabled" {% if score == 5 %}checked="checked"{% endif %}/>
                </form>
    </div>
            {% endwith %}
  {% endfor %}
{% else %} 
<h2 class="grid_12 caption clearfix">No hay series populares todavia</h2>
{% endif %}
{% endblock %}
