{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load cache %}
{% load tagcloud %}
{% block title %}{% trans "Series" %} | Liberateca{% endblock %}
{% block sidebar %}
			<!-- BROWSE -->
			<div class="grid_3" style="margin-top:2em;" >

                <h1 class="center" style="margin-bottom:1em;">
                    <a href="/series">Series</a>
                </h1>

                <div id="box">
                    <a class="button" href="{% url add_serie %}" style="vertical-align:middle;">
                        <img class="left nobottom" src="/static/images/list-add.png">
                        <p class="right nobottom">Agregar serie</p>
                    </a>
                </div>

                <div id="box">
                    <h2 class="nobottom">
                        <a href="/series">Popularidad</a>
                    </h2>
                </div>

                <div id="box">
                    <div class="center" id="alf">
                        <a class="navigator" href="#/letter/0/">0-9</a>
                        <a class="navigator" href="#/letter/A/">A</a>
                        <a class="navigator" href="#/letter/B/">B</a>
                        <a class="navigator" href="#/letter/C/">C</a>
                        <a class="navigator" href="#/letter/D/">D</a>
                        <a class="navigator" href="#/letter/E/">E</a>
                        <a class="navigator" href="#/letter/F/">F</a>
                        <a class="navigator" href="#/letter/G/">G</a>
                        <a class="navigator" href="#/letter/H/">H</a>
                        <a class="navigator" href="#/letter/I/">I</a>
                        <a class="navigator" href="#/letter/J/">J</a>
                        <a class="navigator" href="#/letter/K/">K</a>
                        <a class="navigator" href="#/letter/L/">L</a>
                        <a class="navigator" href="#/letter/M/">M</a>
                        <a class="navigator" href="#/letter/N/">N</a>
                        <a class="navigator" href="#/letter/O/">O</a>
                        <a class="navigator" href="#/letter/P/">P</a>
                        <a class="navigator" href="#/letter/Q/">Q</a>
                        <a class="navigator" href="#/letter/R/">R</a>
                        <a class="navigator" href="#/letter/S/">S</a>
                        <a class="navigator" href="#/letter/T/">T</a>
                        <a class="navigator" href="#/letter/U/">U</a>
                        <a class="navigator" href="#/letter/V/">V</a>
                        <a class="navigator" href="#/letter/W/">W</a>
                        <a class="navigator" href="#/letter/Y/">Y</a>
                        <a class="navigator" href="#/letter/Z/">Z</a>
                    </div>
                </div>

                <div class="hr clearfix">&nbsp;</div>
                {% cache 500 sidebar %}
				<!-- BY GENRE -->
                <div id="box">
                    <h1 class="nobottom"><a href="#" class="show_tagcloud genre">Géneros</a></h1>
                    {% tagcloud "Genre" "50" "5"%}
                </div>

				<!-- BY NETWORK -->
                <div id="box">
                    <h1 class="nobottom"><a href="#" class="show_tagcloud network">Cadenas</a></h1>
                    {% tagcloud "Network" "50" "5"%}
                </div>
                {% endcache %}

			</div>
{% endblock %}
{% block contents %}

			<div class="grid_9">
                <div id="series_list">
                    <div class="js-container-wall">
                        {% cache 500 list %}
                            <!-- THUMBNAILS -->
                            {% include "core/generic_list.html" with obj_type="serie" %}
                        {% endcache %}
                    </div>
                </div>
			</div>
		</div>
{% endblock %}
