{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% trans "Series" %}{% endblock %}
{% block contents %}
		<!-- COLUMN 1 -->
		<div class="catagory_1 clearfix">
			<!-- BROWSE -->
			<div class="grid_2 textright" >
				{% if network or genre %}
					<p>
						<a class="button" href="{% url serie-index %}">{% trans "Series" %}</a>
						<div class="hr clearfix dotted">&nbsp;</div>
					</p>
				{% endif %}
				<!-- BY GENRE -->
				<p>
                <form name="genre">
					<select name="go" OnChange="location.href=genre.go.options[selectedIndex].value">
                    {% if not genre %} 
                            <option selected>Elige un Genero</option>
                    {% endif %}
					{% for g in genre_list %}
						{% if g.name == genre.name %}
							<option selected>{{g.name}}</option>
						{% else %}
							<option value="{{ g.get_absolute_url }}">{{g.name}}</option>
						{% endif %}
					{% endfor %}
					</select>
                </form>
				</p>
				<!-- BY NETWORK -->
				<p>
				<div class="hr clearfix dotted">&nbsp;</div>
                <form name="network">
					<select name="go" OnChange="location.href=network.go.options[selectedIndex].value">
                    {% if not network %} 
                            <option selected>Elige una Cadena</option>
                    {% endif %}
					{% for n in network_list %}
					{% spaceless %}
						{% if n.name == network.name %}
							<option selected>{{n.name}}</option>
						{% else %}
							<option value="{{ n.get_absolute_url }}">{{n.name}}</option>
						{% endif %}
					{% endspaceless %}
					{% endfor %}
					</select>
                </form>
				</p>
			</div>
			<div class="grid_10">
			<!-- ALPHABETHICAL PAGINATION -->
			<p>
				<div class="pagination">
					<h2 class="center">
					{% for p in page.paginator.pages %}
    						{% ifequal p page %}
      							<span class="selected">{{ page }}</span>
    						{% else %}
      						<a href="?page={{ p.number }}">{{ p }}</a>
    						{% endifequal %}
  					{% endfor %}
					</h4>
				</div>
			</p>
			<!-- THUMBNAILS -->
				{% for serie in page.object_list %}
                <div class="grid_2">
    				<a class="portfolio_item float alpha" href="{{ serie.get_absolute_url }}">
					<div class="preload" style="width:140px; height:200px;">
					{% spaceless %}
    					{% if serie.poster.src %}
        					{% thumbnail serie.poster.src "150x200" as img_serie %}
          						<img class="prel serie" id="{{ serie.id }}" src="{{ img_serie.url }}" />
        					{% endthumbnail %}
    					{% else %}
						<img class="prel serie" id="{{ serie.id }}" src="/static/images/image_not_available.png" height="140" width="200" /> 
    					{% endif %}
                        <span class="subtitle">{{ serie.name }}</span>
					{% endspaceless %}
					</div>
  					</a>
                </div>
  				{% endfor %}
			</div>
		</div>
{% endblock %}
