{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% trans "Series" %}{% endblock %}
{% block contents %}
		<!-- COLUMN 1 -->
		<div class="catagory_1 clearfix">
			<!-- BROWSE -->
			<div class="grid_3 textright" >
				{% if network or genre %}
					<p>
						<a class="button" href="{% url serie-index %}">{% trans "Ver todas las Series" %}</a>
						<div class="hr clearfix dotted">&nbsp;</div>
					</p>
				{% endif %}
				<!-- BY GENRE -->
				<p>
				<h4 class="title ">{% trans "Genero" %}</h4>
				<div class="hr clearfix dotted">&nbsp;</div>
					<ul>
					{% for g in genre_list %}
					{% spaceless %}
						{% if g.name == genre.name %}
							<li>{{g.name}}
						{% else %}
							<li><a href="{{ g.get_absolute_url }}">{{g.name}}</a>
						{% endif %}
					{% endspaceless %}
					{% endfor %}
					</ul>
				</p>
				<!-- BY NETWORK -->
				<p>
				<h4 class="title ">{% trans "Cadena" %}</h4>
				<div class="hr clearfix dotted">&nbsp;</div>
					<ul>
					{% for n in network_list %}
					{% spaceless %}
						{% if n.name == network.name %}
							<li>{{n.name}}
						{% else %}
							<li><a href="{{ n.get_absolute_url }}">{{n.name}}</a>
						{% endif %}
					{% endspaceless %}
					{% endfor %}
					</ul>
				</p>
			</div>
			<div class="grid_9">
			<!-- ALPHABETHICAL PAGINATION -->
			<p>
				<div class="pagination">
					<h2 style="text-align:center;">
					{% for p in page.paginator.pages %}
    						{% ifequal p page %}
      							<span class="selected">{{ page }}</span>
    						{% else %}
      						<a href="?page={{ p.number }}">{{ p }}</a>
    						{% endifequal %}
  					{% endfor %}
					</h4>
				</div>
			</p>
			<!-- THUMBNAILS -->
				{% for serie in page.object_list %}
    					<a class="portfolio_item float alpha" href="{{ serie.get_absolute_url }}">
					<div class="preload" style="width:200px; height:300px">
					{% spaceless %}
    					{% if serie.poster.src %}
        					{% thumbnail serie.poster.src "300x300" as img_serie %}
          						<img class="prel serie" id="{{ serie.id }}" src="{{ img_serie.url }}" />
        					{% endthumbnail %}
    					{% else %}
						<img class="prel" src="/static/images/image_not_available.png" height="300" width="200" /> 
    					{% endif %}
					{% endspaceless %}
					</div>
  					</a>
  				{% endfor %}
			</div>
		</div>
{% endblock %}
